# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [3]:
# import numpy and pandas
import pandas as pd 
import numpy as np

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [4]:
# Run this code:

pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [5]:
# Your code here:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [10]:
# Your code here:
pokemon.Legendary.isna().sum() # returns 0, so there are no nulls
print("The count of Legendary pokemon is " + str(len(pokemon.query('Legendary == True'))))
print("The count of Regular pokemon is " + str(len(pokemon) - len(pokemon.query('Legendary == "True"'))))

The count of Legendary pokemon is 65
The count of Regular pokemon is 800

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [16]:
# Your code here:
legendaries = pokemon.query('Legendary == True')
regulars = pokemon.query('Legendary != True')

print("Legendary Mean and StDev is " + str(round(legendaries.Total.mean(), 2)) + ", " + str(round(legendaries.Total.std(), 2)))
print("Regular Mean and StDev is " + str(round(regulars.Total.mean(), 2)) + ", " + str(round(regulars.Total.std(), 2)))

Legendary Mean and StDev is 637.38, 60.94
Regular Mean and StDev is 417.21, 106.76

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [17]:
# Your code here:
from scipy.stats import ttest_ind

# assume the variances are not equal

p_val = ttest_ind(
    legendaries.Total, # one set
    regulars.Total, # the second set
    equal_var = False, # assume the variances are not equal
)[1]

print(p_val) # returns 9.357954335957446e-47, an extremely small p-value. So we REJECT our null hypothesis that there is no statistically significant difference between the Total points for each class of pokemon.

9.357954335957446e-47

What do you conclude from this test? Write your conclusions below.

In [6]:
# Your conclusions here:
# print(p_val) # returns 9.357954335957446e-47, an extremely small p-value. So we REJECT our null hypothesis that there is no statistically significant difference between the Total points for each class of pokemon.

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [22]:
# Your code here:
# pokemon['Type 1'].unique()
# print(salaries.groupby('Department')['Name'].count())
pokemon.groupby('Type 1')['Type 1'].count()

Type 1
Bug          69
Dark         31
Dragon       32
Electric     44
Fairy        17
Fighting     27
Fire         52
Flying        4
Ghost        32
Grass        70
Ground       32
Ice          24
Normal       98
Poison       28
Psychic      57
Rock         44
Steel        27
Water       112
Name: Type 1, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [28]:
# Your code here:
# subset to water, calc mean and std dev. save the mean as a variable
# subset to exclude water, calc mean and std. dev. save the mean as a separate variable (will need it later)

# I want to use query, so remove the spaces from column names
# salaries.columns = [column.replace(' ', '_') for column in salaries.columns]
pokemon.columns = [column.replace(' ', '_') for column in pokemon.columns]


water_type = pokemon.query('Type_1 == "Water"')
print("The Mean and StDev of the Total points for Water Type pokemon is " + str(round(water_type['Total'].mean(), 2)) + ", " + str(round(water_type['Total'].std(), 2)))

non_water_type = pokemon.query('Type_1 != "Water"')
print("The Mean and StDev of the Total points for Non-Water Type pokemon is " + str(round(non_water_type['Total'].mean(), 2)) + ", " + str(round(non_water_type['Total'].std(), 2)))

The Mean and StDev of the Total points for Water Type pokemon is 430.46, 113.19
The Mean and StDev of the Total points for Non-Water Type pokemon is 435.86, 121.09

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [29]:
# Your code here:
p_val = ttest_ind(
    water_type['Total'], # water
    non_water_type['Total'], # non-water
    equal_var = True, # assume the variances are equal
)[1]

print(p_val)

0.6587140317488793

Write your conclusion below.

In [10]:
# Your conclusions here:
# This was a two-sided test, so we use the full p-value. This one returned 0.65877, which is well above our alpha of 0.05. 
# In this situation, we fail to Reject the Null Hypothesis that there is no statistically significant difference between the Mean Total Points of Water type and Mean Total Points of Non-Water Type.

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [30]:
# Your code here:
from scipy.stats import ttest_rel

# H0 is that Attack == Defense
# HA is that Attack != Defense
alpha = 0.05

p_val = ttest_rel(
    pokemon.Attack, # attack scores
    pokemon.Defense, # defense scores
    # equal_var = False
)[1]

print(p_val)

1.7140303479358558e-05

Describe the results of the test in the cell below.

In [12]:
# Your conclusions here:
# our p_value is 1.7140303479358558e-05, which is well below our alpha of 0.05. 
# in this case, we REJECT the Null Hypothesis that our Attack and Defense Scores are equal.

We are also curious about whether there is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [32]:
# Your code here:
p_val = ttest_rel(
    pokemon['Sp._Atk'], # attack scores
    pokemon['Sp._Def'], # defense scores
    # equal_var = False
)[1]

print(p_val)

0.3933685997548122

Describe the results of the test in the cell below.

In [34]:
# Your conclusions here:
# Our p-value returns 0.3933685997548122, which is above our alpha of 0.05. 
# In this situation, we fail to reject the Null Hypothesis, meaning that we believe the Avg Special Attack is equal to Avg Special Defense across all pokemon. 
# print(pokemon['Sp._Atk'].mean()) # returns 72.82
# print(pokemon['Sp._Def'].mean()) # returns 71.9025

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [35]:
# Your code here:
from scipy.stats import ttest_1samp

p_val = ttest_1samp(
    pokemon.Attack - pokemon.Defense,
    0, # Null Hypothesis assumes the Difference is a zero
)[1]

print(p_val) # matches 1.7140303479358558e-05, which is the p_value from the Matched Pairs. Confirms that the result of the test are the same!

1.7140303479358558e-05

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [38]:
# Your code here:

contingency_table = pd.crosstab(pokemon.Legendary, pokemon['Type_1'])

contingency_table

Type_1,Bug,Dark,Dragon,Electric,Fairy,Fighting,Fire,Flying,Ghost,Grass,Ground,Ice,Normal,Poison,Psychic,Rock,Steel,Water
Legendary,,,,,,,,,,,,,,,,,,
False,69,29,20,40,16,27,47,2,30,67,28,22,96,28,43,40,23,108
True,0,2,12,4,1,0,5,2,2,3,4,2,2,0,14,4,4,4

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [43]:
# Your code here:
from scipy.stats import chi2_contingency

# chi2_contingency(contingency_table)

chi2_value, p_val, degrees_freedom, expected = chi2_contingency(contingency_table)

print(chi2_value)
print("Pvalue is " + str(p_val))
print("Degrees of freedom = " + str(degrees_freedom))
print(expected)

90.4204913058596
Pvalue is 5.118547414721704e-12
Degrees of freedom = 17
[[ 63.39375  28.48125  29.4      40.425    15.61875  24.80625  47.775
    3.675    29.4      64.3125   29.4      22.05     90.0375   25.725
   52.36875  40.425    24.80625 102.9    ]
 [  5.60625   2.51875   2.6       3.575     1.38125   2.19375   4.225
    0.325     2.6       5.6875    2.6       1.95      7.9625    2.275
    4.63125   3.575     2.19375   9.1    ]]

Based on a 95% confidence, should we reject the null hypothesis?

In [19]:
# Your answer here:
# The P-value that is returned is 5.118547414721704e-12, and our alpha = 0.05, so our p-value is well below. We Reject the Null Hypothesis that there is a statistically significant measure among Legendary or Not, vs. WaterType or Not.