# Supervised Learning Model Evaluation Lab

Complete the exercises below to solidify your knowledge and understanding of supervised learning model evaluation.

In [13]:
import pandas as pd

## Regression Model Evaluation

In [2]:
from sklearn.datasets import load_boston

data = load_boston()

X = pd.DataFrame(data["data"], columns=data["feature_names"])
y = pd.DataFrame(data["target"], columns=['MEDV'])

data = pd.concat([X, y], axis=1)

## 1. Split this data set into training (80%) and testing (20%) sets.

The `MEDV` field represents the median value of owner-occupied homes (in $1000's) and is the target variable that we will want to predict.

In [3]:
from sklearn.model_selection import train_test_split

train_X, test_X, train_y, test_y = train_test_split(
    X,
    y,
    test_size = .2,
    random_state = 42
)

train_X.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
477,15.02340,0.0,18.10,0.0,0.6140,5.304,97.3,2.1007,24.0,666.0,20.2,349.48,24.91
15,0.62739,0.0,8.14,0.0,0.5380,5.834,56.5,4.4986,4.0,307.0,21.0,395.62,8.47
332,0.03466,35.0,6.06,0.0,0.4379,6.031,23.3,6.6407,1.0,304.0,16.9,362.25,7.83
423,7.05042,0.0,18.10,0.0,0.6140,6.103,85.1,2.0218,24.0,666.0,20.2,2.52,23.29
19,0.72580,0.0,8.14,0.0,0.5380,5.727,69.5,3.7965,4.0,307.0,21.0,390.95,11.28

## 2. Train a `LinearRegression` model on this data set and generate predictions on both the training and the testing set.

In [4]:
from sklearn.linear_model import LinearRegression

In [5]:
linear_model = LinearRegression()

In [6]:
linear_model.fit(train_X, train_y.values.ravel())

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [9]:
train_predictions = linear_model.predict(train_X)
train_predictions[:5]

array([10.96952405, 19.41196567, 23.06419602, 12.1470648 , 18.3738116 ])

In [10]:
test_predictions = linear_model.predict(test_X)
test_predictions[:5]

array([28.99672362, 36.02556534, 14.81694405, 25.03197915, 18.76987992])

## 3. Calculate and print R-squared for both the training and the testing set.

In [11]:
from sklearn.metrics import r2_score

r2_score(train_y, train_predictions)

0.7508856358979672

In [12]:
r2_score(test_y, test_predictions)

0.6687594935356307

## 4. Calculate and print mean squared error for both the training and the testing set.

In [14]:
from sklearn.metrics import mean_squared_error
mse = mean_squared_error(test_y, test_predictions)
mse

24.291119474973616

## 5. Calculate and print mean absolute error for both the training and the testing set.

In [15]:
from math import sqrt
sqrt(mse)

4.9286021826653466

## Classification Model Evaluation

In [16]:
from sklearn.datasets import load_iris

data = load_iris()

X = pd.DataFrame(data["data"], columns=data["feature_names"])
y = pd.DataFrame(data["target"], columns=["class"])

data = pd.concat([X, y], axis=1)

## 6. Split this data set into training (80%) and testing (20%) sets.

The `class` field represents the type of flower and is the target variable that we will want to predict.

In [17]:
train_X, test_X, train_y, test_y = train_test_split(
    X,
    y,
    test_size = .2,
    random_state = 42
)

train_X.head()

    sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
22                4.6               3.6                1.0               0.2
15                5.7               4.4                1.5               0.4
65                6.7               3.1                4.4               1.4
11                4.8               3.4                1.6               0.2
42                4.4               3.2                1.3               0.2

## 7. Train a `LogisticRegression` model on this data set and generate predictions on both the training and the testing set.

In [19]:
from sklearn.linear_model import LogisticRegression

ks_model = LogisticRegression().fit(train_X, train_y)

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/sklearn/utils/validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

In [35]:
predictions_te = ks_model.predict(test_X)
predictions_tr = ks_model.predict(train_X)

## 8. Calculate and print the accuracy score for both the training and the testing set.

In [36]:
from sklearn.metrics import accuracy_score

print(accuracy_score(test_y, predictions_te))
print(accuracy_score(train_y, predictions_tr))

1.0
0.9583333333333334

## 9. Calculate and print the balanced accuracy score for both the training and the testing set.

In [37]:
from sklearn.metrics import balanced_accuracy_score

print(balanced_accuracy_score(test_y, predictions_te))

print(balanced_accuracy_score(train_y, predictions_tr))

1.0
0.9589326662497394

## 10. Calculate and print the precision score for both the training and the testing set.

In [43]:
from sklearn.metrics import precision_score

precision_te = precision_score(
    test_y, 
    predictions_te,
    pos_label = 'weighted',
    average='weighted'
)

precision_tr = precision_score(
    train_y, 
    predictions_tr,
    pos_label = 'weighted',
    average='weighted'
)

print(precision_te)
print(precision_tr)

1.0
0.9600563909774437

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/sklearn/metrics/classification.py:1259: UserWarning: Note that pos_label (set to 'weighted') is ignored when average != 'binary' (got 'weighted'). You may use labels=[pos_label] to specify a single positive class.
  % (pos_label, average), UserWarning)

## 11. Calculate and print the recall score for both the training and the testing set.

In [44]:
from sklearn.metrics import recall_score

recall_te = recall_score(
    test_y, 
    predictions_te,
    pos_label = 'weighted',
    average='weighted'
)

recall_tr = recall_score(
    train_y, 
    predictions_tr,
    pos_label = 'weighted',
    average='weighted'
)

print(recall_te)
print(recall_tr)

1.0
0.9583333333333334

## 12. Calculate and print the F1 score for both the training and the testing set.

In [45]:
from sklearn.metrics import f1_score

f1_te = f1_score(
    test_y, 
    predictions_te,
    pos_label = 'weighted',
    average='weighted'
)

f1_tr = f1_score(
    train_y, 
    predictions_tr,
    pos_label = 'weighted',
    average='weighted'
)

print(f1_te)
print(f1_tr)

1.0
0.9583137990310985

## 13. Generate confusion matrices for both the training and the testing set.

In [46]:
from sklearn.metrics import confusion_matrix

confusion_tr = pd.DataFrame(
    data = confusion_matrix(train_y, predictions_tr),
#     columns = ['Actual A', 'Actual B'],
#     index = ['Predicted A', 'Predicted B']
)

confusion_te = pd.DataFrame(
    data = confusion_matrix(test_y, predictions_te),
#     columns = ['Actual A', 'Actual B'],
#     index = ['Predicted A', 'Predicted B']
)

In [47]:
confusion_te

    0  1   2
0  10  0   0
1   0  9   0
2   0  0  11

In [48]:
confusion_tr

    0   1   2
0  40   0   0
1   0  37   4
2   0   1  38

## Bonus: For each of the data sets in this lab, try training with some of the other models you have learned about, recalculate the evaluation metrics, and compare to determine which models perform best on each data set.