# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

In [1]:
#Import your libraries

import numpy as np
import pandas as pd

# Introduction

In this challenge, we will use two datasets. Both datasets contain variables that describe apps from the Google Play Store. We will use our knowledge in feature extraction to process these datasets and prepare them for the use of a ML algorithm.

But before we join our two datasets in this lab, let's review a couple of concepts in the context of Pandas: **concatenating**, **joining**, and **merging**. We want to review these concepts because it will make the subsequent work in transforming the datasets a lot more efficient.

# Challenge 1 - Concatenating, Joining, & Merging Tutorial


## Concatenating

Concatenating two dataframes combines two dataframes so that we append the rows of one dataframe at the end of the other. Our column names have to be identical for this function to work properly.

Below is an example of the `concat()` function in pandas

In [102]:
df1 = pd.DataFrame({'A': ['a'+str(x) for x in range(3)],
                    'B': ['b'+str(x) for x in range(3)],
                    'C': ['c'+str(x) for x in range(3)]},
                     index=[0, 1, 2])

df2 = pd.DataFrame({'A': ['a'+str(x) for x in range(3, 6)],
                    'B': ['b'+str(x) for x in range(3, 6)],
                    'C': ['c'+str(x) for x in range(3, 6)]},
                     index=[3, 4, 5]) 

df3 = pd.DataFrame({'D': ['d'+str(x) for x in range(3)],
                    'E': ['e'+str(x) for x in range(3)],
                    'F': ['f'+str(x) for x in range(3)]},
                     index=[0, 1, 2]) 

df4 = pd.DataFrame({'D': ['d'+str(x) for x in range(3, 6)],
                    'E': ['e'+str(x) for x in range(3, 6)],
                    'F': ['f'+str(x) for x in range(3, 6)]},
                     index=[3, 4, 5]) 

print(df1, '\n---\n', df2, '\n---\n', df3, '\n---\n',df4)

    A   B   C
0  a0  b0  c0
1  a1  b1  c1
2  a2  b2  c2
---
     A   B   C
3  a3  b3  c3
4  a4  b4  c4
5  a5  b5  c5
---
     D   E   F
0  d0  e0  f0
1  d1  e1  f1
2  d2  e2  f2
---
     D   E   F
3  d3  e3  f3
4  d4  e4  f4
5  d5  e5  f5

Let's try concatenating `df1` and `df2`, as well as `df3` and `df4`.

In [94]:
pd.concat([df1, df2])

    A   B   C
0  a0  b0  c0
1  a1  b1  c1
2  a2  b2  c2
3  a3  b3  c3
4  a4  b4  c4
5  a5  b5  c5

In [95]:
pd.concat([df3, df4])

    D   E   F
0  d0  e0  f0
1  d1  e1  f1
2  d2  e2  f2
3  d3  e3  f3
4  d4  e4  f4
5  d5  e5  f5

From the output above, you see the second dataframe is appended at the bottom of the first dataframe.

Now let's try concatenating `df1`, `df2`, `df3`, and `df4` all together.

Note that the `sort=False` param is supplied to silence a warning message on a future Pandas change. It does not make any difference on the output.

In [104]:
pd.concat([df1, df2, df3, df4], sort=False)

     A    B    C    D    E    F
0   a0   b0   c0  NaN  NaN  NaN
1   a1   b1   c1  NaN  NaN  NaN
2   a2   b2   c2  NaN  NaN  NaN
3   a3   b3   c3  NaN  NaN  NaN
4   a4   b4   c4  NaN  NaN  NaN
5   a5   b5   c5  NaN  NaN  NaN
0  NaN  NaN  NaN   d0   e0   f0
1  NaN  NaN  NaN   d1   e1   f1
2  NaN  NaN  NaN   d2   e2   f2
3  NaN  NaN  NaN   d3   e3   f3
4  NaN  NaN  NaN   d4   e4   f4
5  NaN  NaN  NaN   d5   e5   f5

What do we find?

* Pandas' `concat` method respects indexes of all axes. 
    * Because `df3` and `df4` have different column indexes than `df1` and `df2`, `concat` put them into different columns. 
    * `df3` and `df4` also retain their original row indexes of 0-5 instead of continuing from the last index of `df2`. 
* `concat` creates `NaN` at places where values are missing.

Try also supplying `ignore_index=True` to `concat`. How is the output different?

In [ ]:
# Your code here

In [ ]:
# Your comment here

## Merging and Joining

Pandas has two functions for joining datasets: `merge()` and `join()`. They perform the same task but have different options and syntax. 

Below is an example of `merge` and `join`.

In [126]:
left = pd.DataFrame({'idx': ['i'+str(x) for x in range(3)],
                     'A': ['a'+str(x) for x in range(3)],
                     'B': ['b'+str(x) for x in range(3)]})


right = pd.DataFrame({'idx': ['i'+str(x) for x in range(1,4)],
                     'C': ['c'+str(x) for x in range(1,4)],
                     'D': ['d'+str(x) for x in range(1,4)]})

In [127]:
left

  idx   A   B
0  i0  a0  b0
1  i1  a1  b1
2  i2  a2  b2

In [128]:
right

  idx   C   D
0  i1  c1  d1
1  i2  c2  d2
2  i3  c3  d3

In [129]:
pd.merge(left, right, on="idx")

  idx   A   B   C   D
0  i1  a1  b1  c1  d1
1  i2  a2  b2  c2  d2

`join` is identical to `merge`. But when using join, we need to explicitly set the index column of the dataframes to join using `set_index`:

In [135]:
left.set_index('idx').join(right.set_index('idx'), on="idx")

      A   B    C    D
idx
i0   a0  b0  NaN  NaN
i1   a1  b1   c1   d1
i2   a2  b2   c2   d2

And you see, `join` disregards the row of `right` with the unmatching index `i3`. It retains the row of `left` with the unmatching index `i0` but uses `NaN` for the missing data after joining.

#### There are other options we can explore with the `merge()` and `join()` functions. 

Specifically, we can specify `how`. This argument in the function tells us whether we are performing an inner, left, right, or outer join.

We can also specify a different column for joining in the `merge()` function using the `left_on` and `right_on` arguments. Check out the following documentations if you want to explore more:

[pandas.DataFrame.merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html)

[pandas.DataFrame.join](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.join.html)

## Bonus Question

Now if you look back on `merge` and `join`, you realize that in order to perform these functions on a set of dataframes, these dataframes must share a common column as the index. Only rows that have the same index values will be joined. This is similar to the [`join` function in MySQL](https://www.w3schools.com/sql/sql_join.asp), isn't it?

The bonus question for you is to figure out how to join and concatenate `df1`, `df2`, `df3`, and `df4` we created at the beginning of this challenge. Your end product should look like this:

![df1-2-3-4.png](df1-2-3-4.png)

In [136]:
# Your code here

df1_new = df1.reset_index().set_index('index')

df2_new = df2.reset_index().set_index('index')

df3_new = df3.reset_index().set_index('index')

df4_new = df4.reset_index().set_index('index')

pd.concat([df1_new.join(df3_new, on="index"), df2_new.join(df4_new, on="index")])

        A   B   C   D   E   F
index
0      a0  b0  c0  d0  e0  f0
1      a1  b1  c1  d1  e1  f1
2      a2  b2  c2  d2  e2  f2
3      a3  b3  c3  d3  e3  f3
4      a4  b4  c4  d4  e4  f4
5      a5  b5  c5  d5  e5  f5

# Challenge 1 - Loading and Extracting Features from the First Dataset

#### The first dataset contains different information describing the apps. 

Load the dataset into the variable `google_play` in the cell below. The dataset is in the file `googleplaystore.csv`

In [5]:
# Your code here:

google_play = pd.read_csv('../googleplaystore.csv')

#### Examine all variables and their types in the following cell

In [7]:
# Your code here:

google_play.dtypes

App                object
Category           object
Rating            float64
Reviews            object
Size               object
Installs           object
Type               object
Price              object
Content Rating     object
Genres             object
Last Updated       object
Current Ver        object
Android Ver        object
dtype: object

#### Since this dataset only contains one numeric column, let's skip the `describe()` function and look at the first 5 rows using the `head()` function

In [8]:
# Your code here:

google_play.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

#### We can see that there are a few columns that could be coerced to numeric.

Start with the reviews column. We can evaluate what value is causing this column to be of object type finding the non-numeric values in this column. To do this, we recall the `to_numeric()` function. With this function, we are able to coerce all non-numeric data to null. We can then use the `isnull()` function to subset our dataframe using the True/False column that this function generates.

In the cell below, transform the Reviews column to numeric and assign this new column to the variable `Reviews_numeric`. Make sure to coerce the errors.

In [47]:
# Your code here:

Reviews_numeric = pd.to_numeric(google_play['Reviews'], errors='coerce')

Next, create a column containing True/False values using the `isnull()` function. Assign this column to the `Reviews_bool` variable.

In [64]:
# Your code here:

Reviews_bool = Reviews_numeric.isnull()

Finally, subset the `google_play` with `Reviews_bool`. This should give you all the rows that contain non-numeric characters.

In [66]:
# Your code here:

google_play[Reviews_bool]

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
10472,Life Made WI-Fi Touchscreen Photo Frame,1.9,19.0,3.0M,"1,000+",Free,0,Everyone,NaN,"February 11, 2018",1.0.19,4.0 and up,NaN

#### We see that Google Play is using a shorthand for millions. 

Let's write a function to transform this data.

First let's create the `if` statement. If the last character of the string is `M`, then transform all but the last character to a float. Use `sample_string` to test your `if` statement. Return the integer in the variable `sample_float`.

In [70]:
sample_string = '4.0M'

# Your code here:

if sample_string[-1] == "M":
    sample_float = float(sample_string[:-1])

Now create a function using this `if` statement. Return a number in millions if the character contains an M. Name the function `to_millions()`. Remember to handle the case where the value does not contain 'M' as well.

In [71]:
# Your code here

def to_millions(x):
    if x[-1] == 'M':
        return float(x[:-1]) * 1000000
    else:
        return float(x)

The last step is to apply the function to the `Reviews` column in the following cell:

In [77]:
# Your code here:

google_play['Reviews'] = google_play.Reviews.apply(to_millions)

Despite performing this transformation, our column is still of object type. Let's transform it to numeric in the next cell.

In [79]:
# Your code here:

google_play.Reviews = pd.to_numeric(google_play['Reviews'], errors='coerce')

#### The next column we will look at is `Size`. We start by looking at all unique values in the next cell.

In [86]:
# Your code here:

google_play.Size.unique()

array(['19M', '14M', '8.7M', '25M', '2.8M', '5.6M', '29M', '33M', '3.1M',
       '28M', '12M', '20M', '21M', '37M', '2.7M', '5.5M', '17M', '39M',
       '31M', '4.2M', '7.0M', '23M', '6.0M', '6.1M', '4.6M', '9.2M',
       '5.2M', '11M', '24M', 'Varies with device', '9.4M', '15M', '10M',
       '1.2M', '26M', '8.0M', '7.9M', '56M', '57M', '35M', '54M', '201k',
       '3.6M', '5.7M', '8.6M', '2.4M', '27M', '2.5M', '16M', '3.4M',
       '8.9M', '3.9M', '2.9M', '38M', '32M', '5.4M', '18M', '1.1M',
       '2.2M', '4.5M', '9.8M', '52M', '9.0M', '6.7M', '30M', '2.6M',
       '7.1M', '3.7M', '22M', '7.4M', '6.4M', '3.2M', '8.2M', '9.9M',
       '4.9M', '9.5M', '5.0M', '5.9M', '13M', '73M', '6.8M', '3.5M',
       '4.0M', '2.3M', '7.2M', '2.1M', '42M', '7.3M', '9.1M', '55M',
       '23k', '6.5M', '1.5M', '7.5M', '51M', '41M', '48M', '8.5M', '46M',
       '8.3M', '4.3M', '4.7M', '3.3M', '40M', '7.8M', '8.8M', '6.6M',
       '5.1M', '61M', '66M', '79k', '8.4M', '118k', '44M', '695k', '1.6M',
       '6.2M', '18k', '53M', '1.4M', '3.0M', '5.8M', '3.8M', '9.6M',
       '45M', '63M', '49M', '77M', '4.4M', '4.8M', '70M', '6.9M', '9.3M',
       '10.0M', '8.1M', '36M', '84M', '97M', '2.0M', '1.9M', '1.8M',
       '5.3M', '47M', '556k', '526k', '76M', '7.6M', '59M', '9.7M', '78M',
       '72M', '43M', '7.7M', '6.3M', '334k', '34M', '93M', '65M', '79M',
       '100M', '58M', '50M', '68M', '64M', '67M', '60M', '94M', '232k',
       '99M', '624k', '95M', '8.5k', '41k', '292k', '11k', '80M', '1.7M',
       '74M', '62M', '69M', '75M', '98M', '85M', '82M', '96M', '87M',
       '71M', '86M', '91M', '81M', '92M', '83M', '88M', '704k', '862k',
       '899k', '378k', '266k', '375k', '1.3M', '975k', '980k', '4.1M',
       '89M', '696k', '544k', '525k', '920k', '779k', '853k', '720k',
       '713k', '772k', '318k', '58k', '241k', '196k', '857k', '51k',
       '953k', '865k', '251k', '930k', '540k', '313k', '746k', '203k',
       '26k', '314k', '239k', '371k', '220k', '730k', '756k', '91k',
       '293k', '17k', '74k', '14k', '317k', '78k', '924k', '902k', '818k',
       '81k', '939k', '169k', '45k', '475k', '965k', '90M', '545k', '61k',
       '283k', '655k', '714k', '93k', '872k', '121k', '322k', '1.0M',
       '976k', '172k', '238k', '549k', '206k', '954k', '444k', '717k',
       '210k', '609k', '308k', '705k', '306k', '904k', '473k', '175k',
       '350k', '383k', '454k', '421k', '70k', '812k', '442k', '842k',
       '417k', '412k', '459k', '478k', '335k', '782k', '721k', '430k',
       '429k', '192k', '200k', '460k', '728k', '496k', '816k', '414k',
       '506k', '887k', '613k', '243k', '569k', '778k', '683k', '592k',
       '319k', '186k', '840k', '647k', '191k', '373k', '437k', '598k',
       '716k', '585k', '982k', '222k', '219k', '55k', '948k', '323k',
       '691k', '511k', '951k', '963k', '25k', '554k', '351k', '27k',
       '82k', '208k', '913k', '514k', '551k', '29k', '103k', '898k',
       '743k', '116k', '153k', '209k', '353k', '499k', '173k', '597k',
       '809k', '122k', '411k', '400k', '801k', '787k', '237k', '50k',
       '643k', '986k', '97k', '516k', '837k', '780k', '961k', '269k',
       '20k', '498k', '600k', '749k', '642k', '881k', '72k', '656k',
       '601k', '221k', '228k', '108k', '940k', '176k', '33k', '663k',
       '34k', '942k', '259k', '164k', '458k', '245k', '629k', '28k',
       '288k', '775k', '785k', '636k', '916k', '994k', '309k', '485k',
       '914k', '903k', '608k', '500k', '54k', '562k', '847k', '957k',
       '688k', '811k', '270k', '48k', '329k', '523k', '921k', '874k',
       '981k', '784k', '280k', '24k', '518k', '754k', '892k', '154k',
       '860k', '364k', '387k', '626k', '161k', '879k', '39k', '970k',
       '170k', '141k', '160k', '144k', '143k', '190k', '376k', '193k',
       '246k', '73k', '658k', '992k', '253k', '420k', '404k', '1,000+',
       '470k', '226k', '240k', '89k', '234k', '257k', '861k', '467k',
       '157k', '44k', '676k', '67k', '552k', '885k', '1020k', '582k',
       '619k'], dtype=object)

(1695, 13)

#### While we can convert most values to numeric in the same way we converted the `Reviews` column, there is one value we cannot convert.

What is this value? Enter it in the next cell and count the number of times it appears.

In [91]:
# Enter code here:

odd_value = "Varies with device"
google_play[google_play.Size == odd_value].shape

(1695, 13)

#### While this column may be useful for other types of analysis, we should opt to drop it from our dataset. 

This is because as a categorical column, it has too many values to produce meaningful insights. Also, the majority of the data is ordinal, meaning, it is not like blood type or eye color. We do know that 82k is smaller than 91M. However, a sizeable proportion of the data is not ordinal. Therefore, the simplest strategy would be to drop the column.

Drop the column in the cell below (use the `inplace=True` argument)

In [92]:
# Your code here:

google_play.drop(columns=['Size'], inplace=True)

#### Now let's look at how many missing values are in each column. 

This will give us an idea of whether we should come up with a missing data strategy or give up on the column all together. Find the number of missing values in each column in the cell below using the `isna()` and `sum()` functions.

In [95]:
# Your code here:

google_play.isna().sum()

App                  0
Category             0
Rating            1474
Reviews              0
Installs             0
Type                 1
Price                0
Content Rating       1
Genres               0
Last Updated         0
Current Ver          8
Android Ver          3
dtype: int64

#### How many rows are in the entire dataset?

Enter your answer in the cell below.

In [96]:
# Your code here:

google_play.shape

(10841, 12)

#### While a sizeable proportion of the `Rating` column is missing, this is one of the most important columns in our data. 

Since the dataset is not a time series, the loss of these rows will not have a negative impact on our ability to analyze the data (though it will cause us to lose meaningful observations).

In this case, we opt to remove the rows containing missing data. In the cell below, remove all rows containing at least one missing value. Use the `dropna()` function.

Assign the new dataframe to the variable `google_missing`.

In [97]:
# Your code here:

google_missing = google_play.dropna()

The `Last Updated` column seems to contain a date, though it is classified as an object type. Let's convert this column using the `pd.to_datetime` function.

In [106]:
# Your code here:

google_missing['Last Updated'] = pd.to_datetime(google_missing['Last Updated'])

c:\users\michal\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

#### The last column we will transform is the price column. 

We start by looking at the unique values of this column.

In [108]:
# Your code here:

google_missing.Price.unique()

array(['0', '$4.99', '$3.99', '$6.99', '$7.99', '$5.99', '$2.99', '$3.49',
       '$1.99', '$9.99', '$7.49', '$0.99', '$9.00', '$5.49', '$10.00',
       '$24.99', '$11.99', '$79.99', '$16.99', '$14.99', '$29.99',
       '$12.99', '$2.49', '$10.99', '$1.50', '$19.99', '$15.99', '$33.99',
       '$39.99', '$3.95', '$4.49', '$1.70', '$8.99', '$1.49', '$3.88',
       '$399.99', '$17.99', '$400.00', '$3.02', '$1.76', '$4.84', '$4.77',
       '$1.61', '$2.50', '$1.59', '$6.49', '$1.29', '$299.99', '$379.99',
       '$37.99', '$18.99', '$389.99', '$8.49', '$1.75', '$14.00', '$2.00',
       '$3.08', '$2.59', '$19.40', '$3.90', '$4.59', '$15.46', '$3.04',
       '$13.99', '$4.29', '$3.28', '$4.60', '$1.00', '$2.95', '$2.90',
       '$1.97', '$2.56', '$1.20'], dtype=object)

Since all prices are ordinal data without exceptions, we can tranform this column by removing the dollar sign and converting to numeric. We can create a new column called `Price Dollars` and drop the original column. This will indicate that the price is in dollars without affecting the type.

We do this in two steps. First we remove the dollar sign. Do this in the next cell by applying the `str.replace` function to the column.

In [109]:
# Your code here:

google_missing['Price Dollar'] = google_missing['Price'].str.replace('$', '')

c:\users\michal\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In the following cell, perform the next step and coerce the column to numeric.

In [113]:
# Your code here:

google_missing['Price Dollar'] = pd.to_numeric(google_missing['Price Dollar'], errors='coerce')

c:\users\michal\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

Finally, drop the original `Price` column.

In [115]:
# Your code here:

google_missing.drop(columns=['Price'], inplace=True)

c:\users\michal\appdata\local\programs\python\python36\lib\site-packages\pandas\core\frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

# Challenge 2 - Loading and Extracting Features from the Second Dataset

Load the second dataset to the variable `google_reviews`. The data is in the file `googleplaystore_user_reviews.csv`.

In [117]:
# Your code here:

google_review = pd.read_csv('../googleplaystore_user_reviews.csv')

#### This dataset contains the top 100 reviews for each app. 

Let's examine this dataset using the `head` function

In [118]:
# Your code here

google_review.head()

,App,Translated_Review,Sentiment,Sentiment_Polarity,Sentiment_Subjectivity
0,10 Best Foods for You,I like eat delicious food. That's I'm cooking ...,Positive,1.00,0.533333
1,10 Best Foods for You,This help eating healthy exercise regular basis,Positive,0.25,0.288462
2,10 Best Foods for You,NaN,NaN,NaN,NaN
3,10 Best Foods for You,Works great especially going grocery store,Positive,0.40,0.875000
4,10 Best Foods for You,Best idea us,Positive,1.00,0.300000

#### The main piece of information we would like to extract from this dataset is the fraction of positive reviews for each app. 

We will do this using a `groupby` statement. However, our first step will be to remove all rows with missing sentiment. In the next cell, drop all rows with missing data using the `dropna()` function and assign this new dataframe to `google_review_missing`.

In [121]:
# Your code here:

google_review_missing = google_review.dropna()

Use the `value_counts()` function to describe how many apps are in this dataset and their counts.

In [142]:
# Your code here:

google_review_missing.App.value_counts()

Bowmasters                                            312
Helix Jump                                            273
Angry Birds Classic                                   273
Calorie Counter - MyFitnessPal                        254
Candy Crush Saga                                      240
Duolingo: Learn Languages Free                        240
Garena Free Fire                                      222
8 Ball Pool                                           219
Calorie Counter - Macros                              200
10 Best Foods for You                                 194
CBS Sports App - Scores, News, Stats & Watch Live     192
Google Photos                                         191
Alto's Adventure                                      175
8fit Workouts & Meal Planner                          171
DRAGON BALL LEGENDS                                   167
Candy Crush Soda Saga                                 166
Clash Royale                                          165
Adobe Acrobat Reader                                  162
Episode - Choose Your Story                           160
Block Puzzle                                          154
Flow Free                                             154
Bubble Shooter                                        145
Calorie Counter - MyNetDiary                          139
Agar.io                                               136
Calorie Counter & Diet Tracker                        135
Cooking Fever                                         135
Galaxy Attack: Alien Shooter                          134
Colorfy: Coloring Book for Adults - Free              133
Gardenscapes                                          133
Facebook                                              132
                                                     ...
Google Translate                                        2
Calculator Plus Free                                    2
Calculator with Percent (Free)                          2
ASUS Quick Memo                                         2
3D Live Neon Weed Launcher                              2
GPS Map Free                                            1
Drawing for Kids Learning Games for Toddlers age 3      1
Calendar+ Schedule Planner App                          1
Draw In                                                 1
Google Trips - Travel Planner                           1
Caf - Mon Compte                                        1
CallApp: Caller ID, Blocker & Phone Call Recorder       1
Caller ID +                                             1
Best Fiends - Free Puzzle Game                          1
Google Slides                                           1
HD Camera                                               1
DashClock Widget                                        1
All-in-One Mahjong 3 FREE                               1
Best Ovulation Tracker Fertility Calendar App Glow      1
HomeWork                                                1
Bed Time Fan - White Noise Sleep Sounds                 1
Discover Mobile                                         1
CBS News                                                1
Apartment Decorating Ideas                              1
Fruit Block - Puzzle Legend                             1
Calculator - unit converter                             1
Draw a Stickman: EPIC 2                                 1
Daily Workouts - Exercise Fitness Routine Trainer       1
Draw A Stickman                                         1
Free Live Talk-Video Call                               1
Name: App, Length: 865, dtype: int64

We can compute the proportion in a few steps. First we add two aggregate columns to our `groupby`. We can count the number of positives for each app. We then count the number of total reviews for each app. Finally we divide one by the other to obtain the proportion of positive reviews.

In the following cell, write a function that takes a column and returns the number of times `Positive` appears in the column. 

Hint: One option is to use the `np.where()` function.

In [137]:
def positive_function(x):
    return sum(np.where(x == "Positive", 1, 0))

The next step is to create a new dataframe called `google_agg` using a groupby. Group your dataframe by the `App` column and apply the groupby function only to the `Sentiment` column. We define multiple aggregate columns using a dictionary. Create a dictionary with one key called `Positive` and its value is the function you created above. The second key will be called `Total` and its value will be the `count` function (note to pass this function in quotes). Pass this dictionary to the `agg` function.

In [138]:
# Your code here:

google_agg = google_review_missing.groupby('App').Sentiment.agg({'Positive': positive_function, 'Total': 'count'})

c:\users\michal\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: using a dict on a Series for aggregation
is deprecated and will be removed in a future version
  This is separate from the ipykernel package so we can avoid doing imports until

#### Add a derived column to `google_agg` that is the ratio of the `Positive` and the `Total` columns. Call this column `Positive Ratio`. 

Make sure to account for the case where the denominator is zero using the `np.where()` function.

In [140]:
# Your code here:

google_agg['Positive Ratio'] = np.where(google_agg['Total'] !=0, google_agg['Positive'] / google_agg['Total'], 0)

#### Now drop the `Positive` and `Total` columns. Do this with `inplace=True`.

In [148]:
google_agg.drop(columns=['Positive', 'Total'], inplace=True)

# Challenge 3 - Join the Dataframes

In this part of the lab, we will join the two dataframes and obtain a dataframe that contains features we can use in our ML algorithm.

In the next cell, join the `google_missing` dataframe with the `google_agg` dataframe on the `App` column. Assign this dataframe to the variable `google`.

In [149]:
# Your code here:

google = pd.merge(google_missing, google_agg, on="App")

#### Let's look at the final result using the `head()` function:

In [150]:
# Your code here:

google.head()

,App,Category,Rating,Reviews,Installs,Type,Content Rating,Genres,Last Updated,Current Ver,Android Ver,Price Dollar,Positive Ratio
0,Coloring book moana,ART_AND_DESIGN,3.9,967.0,"500,000+",Free,Everyone,Art & Design;Pretend Play,2018-01-15,2.0.0,4.0.3 and up,0.0,0.590909
1,Coloring book moana,FAMILY,3.9,974.0,"500,000+",Free,Everyone,Art & Design;Pretend Play,2018-01-15,2.0.0,4.0.3 and up,0.0,0.590909
2,Garden Coloring Book,ART_AND_DESIGN,4.4,13791.0,"1,000,000+",Free,Everyone,Art & Design,2017-09-20,2.9.2,3.0 and up,0.0,0.711111
3,FlipaClip - Cartoon animation,ART_AND_DESIGN,4.3,194216.0,"5,000,000+",Free,Everyone,Art & Design,2018-08-03,2.2.5,4.0.3 and up,0.0,1.000000
4,Boys Photo Editor - Six Pack & Men's Suit,ART_AND_DESIGN,4.1,654.0,"100,000+",Free,Everyone,Art & Design,2018-03-20,1.1,4.0.3 and up,0.0,0.605263