#### 1. Import pandas library

In [1]:
import pandas as pd

#### 2. Import pymysql and sqlalchemy as you have learnt in the lesson of importing/exporting data

In [2]:
# had to update my Jupyter notebook to be using Python 3
# python3 -m pip install ipykernel
# python3 -m ipykernel install --user
# ModuleNotFoundError: No module named 'pymysql'
import pymysql
from sqlalchemy import create_engine

#### 3. Create a mysql engine to set the connection to the server. Check the connection details in [this link](https://relational.fit.cvut.cz/search?tableCount%5B%5D=0-10&tableCount%5B%5D=10-30&dataType%5B%5D=Numeric&databaseSize%5B%5D=KB&databaseSize%5B%5D=MB)

In [5]:
engine = create_engine('mysql+pymysql://guest:relational@relational.fit.cvut.cz/stats')

#### 4. Import the users table

In [14]:
raw_users = pd.read_sql_query('SELECT * FROM stats.users', engine)
# print(raw_users.head())

   Id  Reputation        CreationDate   DisplayName      LastAccessDate  \
0  -1           1 2010-07-19 06:55:26     Community 2010-07-19 06:55:26
1   2         101 2010-07-19 14:01:36  Geoff Dalgas 2013-11-12 22:07:23
2   3         101 2010-07-19 15:34:50  Jarrod Dixon 2014-08-08 06:42:58
3   4         101 2010-07-19 19:03:27        Emmett 2014-01-02 09:31:02
4   5        6792 2010-07-19 19:03:57         Shane 2014-08-13 00:23:47

                       WebsiteUrl            Location  \
0  http://meta.stackexchange.com/  on the server farm
1        http://stackoverflow.com       Corvallis, OR
2        http://stackoverflow.com        New York, NY
3    http://minesweeperonline.com   San Francisco, CA
4         http://www.statalgo.com        New York, NY

                                             AboutMe  Views  UpVotes  \
0  <p>Hi, I'm not really a person.</p>\n\n<p>I'm ...      0     5007
1  <p>Developer on the StackOverflow team.  Find ...     25        3
2  <p><a href="http://blog.stackoverflow.com/2009...     22       19
3  <p>currently at a startup in SF</p>\n\n<p>form...     11        0
4  <p>Quantitative researcher focusing on statist...   1145      662

   DownVotes  AccountId   Age                     ProfileImageUrl
0       1920         -1   NaN                                None
1          0          2  37.0                                None
2          0          3  35.0                                None
3          0       1998  28.0  http://i.stack.imgur.com/d1oHX.jpg
4          5      54503  35.0                                None

#### 5. Rename Id column to userId

In [16]:
users_with_id = raw_users.rename(columns = {'Id': 'userId'})
# print(raw_users.head())
print(users_with_id.head())

   userId  Reputation        CreationDate   DisplayName      LastAccessDate  \
0      -1           1 2010-07-19 06:55:26     Community 2010-07-19 06:55:26
1       2         101 2010-07-19 14:01:36  Geoff Dalgas 2013-11-12 22:07:23
2       3         101 2010-07-19 15:34:50  Jarrod Dixon 2014-08-08 06:42:58
3       4         101 2010-07-19 19:03:27        Emmett 2014-01-02 09:31:02
4       5        6792 2010-07-19 19:03:57         Shane 2014-08-13 00:23:47

                       WebsiteUrl            Location  \
0  http://meta.stackexchange.com/  on the server farm
1        http://stackoverflow.com       Corvallis, OR
2        http://stackoverflow.com        New York, NY
3    http://minesweeperonline.com   San Francisco, CA
4         http://www.statalgo.com        New York, NY

                                             AboutMe  Views  UpVotes  \
0  <p>Hi, I'm not really a person.</p>\n\n<p>I'm ...      0     5007
1  <p>Developer on the StackOverflow team.  Find ...     25        3
2  <p><a href="http://blog.stackoverflow.com/2009...     22       19
3  <p>currently at a startup in SF</p>\n\n<p>form...     11        0
4  <p>Quantitative researcher focusing on statist...   1145      662

   DownVotes  AccountId   Age                     ProfileImageUrl
0       1920         -1   NaN                                None
1          0          2  37.0                                None
2          0          3  35.0                                None
3          0       1998  28.0  http://i.stack.imgur.com/d1oHX.jpg
4          5      54503  35.0                                None

#### 6. Import the posts table.

In [30]:
raw_posts = pd.read_sql_query('SELECT * FROM posts', engine)
print(raw_posts.head())

   Id  PostTypeId  AcceptedAnswerId         CreaionDate  Score  ViewCount  \
0   1           1              15.0 2010-07-19 19:12:12     23     1278.0
1   2           1              59.0 2010-07-19 19:12:57     22     8198.0
2   3           1               5.0 2010-07-19 19:13:28     54     3613.0
3   4           1             135.0 2010-07-19 19:13:31     13     5224.0
4   5           2               NaN 2010-07-19 19:14:43     81        NaN

                                                Body  OwnerUserId  \
0  <p>How should I elicit prior distributions fro...          8.0
1  <p>In many different statistical methods there...         24.0
2  <p>What are some valuable Statistical Analysis...         18.0
3  <p>I have two groups of data.  Each with a dif...         23.0
4  <p>The R-project</p>\n\n<p><a href="http://www...         23.0

      LasActivityDate                                              Title  ...  \
0 2010-09-15 21:08:26                      Eliciting priors from experts  ...
1 2012-11-12 09:21:54                                 What is normality?  ...
2 2013-05-27 14:48:36  What are some valuable Statistical Analysis op...  ...
3 2010-09-08 03:00:19  Assessing the significance of differences in d...  ...
4 2010-07-19 19:21:15                                               None  ...

  AnswerCount  CommentCount  FavoriteCount  LastEditorUserId  \
0         5.0             1           14.0               NaN
1         7.0             1            8.0              88.0
2        19.0             4           36.0             183.0
3         5.0             2            2.0               NaN
4         NaN             3            NaN              23.0

         LastEditDate  CommunityOwnedDate ParentId  ClosedDate  \
0                 NaT                 NaT      NaN         NaT
1 2010-08-07 17:56:44                 NaT      NaN         NaT
2 2011-02-12 05:50:03 2010-07-19 19:13:28      NaN         NaT
3                 NaT                 NaT      NaN         NaT
4 2010-07-19 19:21:15 2010-07-19 19:14:43      3.0         NaT

  OwnerDisplayName LastEditorDisplayName
0             None                  None
1             None                  None
2             None                  None
3             None                  None
4             None                  None

[5 rows x 21 columns]

#### 7. Rename Id column to postId and OwnerUserId to userId

In [37]:
clean_posts = raw_posts.rename(columns = 
    {
        'Id':'postId',
        'OwnerUserId':'userId'
    }
)
# print(raw_posts.head())
# print("\nAnd my clean ones")
print(clean_posts.head())

   postId  PostTypeId  AcceptedAnswerId         CreaionDate  Score  ViewCount  \
0       1           1              15.0 2010-07-19 19:12:12     23     1278.0
1       2           1              59.0 2010-07-19 19:12:57     22     8198.0
2       3           1               5.0 2010-07-19 19:13:28     54     3613.0
3       4           1             135.0 2010-07-19 19:13:31     13     5224.0
4       5           2               NaN 2010-07-19 19:14:43     81        NaN

                                                Body  userId  \
0  <p>How should I elicit prior distributions fro...     8.0
1  <p>In many different statistical methods there...    24.0
2  <p>What are some valuable Statistical Analysis...    18.0
3  <p>I have two groups of data.  Each with a dif...    23.0
4  <p>The R-project</p>\n\n<p><a href="http://www...    23.0

      LasActivityDate                                              Title  ...  \
0 2010-09-15 21:08:26                      Eliciting priors from experts  ...
1 2012-11-12 09:21:54                                 What is normality?  ...
2 2013-05-27 14:48:36  What are some valuable Statistical Analysis op...  ...
3 2010-09-08 03:00:19  Assessing the significance of differences in d...  ...
4 2010-07-19 19:21:15                                               None  ...

  AnswerCount  CommentCount  FavoriteCount  LastEditorUserId  \
0         5.0             1           14.0               NaN
1         7.0             1            8.0              88.0
2        19.0             4           36.0             183.0
3         5.0             2            2.0               NaN
4         NaN             3            NaN              23.0

         LastEditDate  CommunityOwnedDate ParentId  ClosedDate  \
0                 NaT                 NaT      NaN         NaT
1 2010-08-07 17:56:44                 NaT      NaN         NaT
2 2011-02-12 05:50:03 2010-07-19 19:13:28      NaN         NaT
3                 NaT                 NaT      NaN         NaT
4 2010-07-19 19:21:15 2010-07-19 19:14:43      3.0         NaT

  OwnerDisplayName LastEditorDisplayName
0             None                  None
1             None                  None
2             None                  None
3             None                  None
4             None                  None

[5 rows x 21 columns]

#### 8. Define new dataframes for users and posts with the following selected columns:
    **users columns**: userId, Reputation,Views,UpVotes,DownVotes
    **posts columns**: postId, Score,userID,ViewCount,CommentCount

In [51]:
# create a sub-dataframe from the existing, not a new SQL query
new_users = users_with_id[['userId', 'Reputation', 'Views', 'UpVotes', 'DownVotes']]
print(new_users.head())

new_posts = clean_posts[['postId', 'Score', 'userId', 'ViewCount', 'CommentCount']]
print(new_posts.head())

   userId  Reputation  Views  UpVotes  DownVotes
0      -1           1      0     5007       1920
1       2         101     25        3          0
2       3         101     22       19          0
3       4         101     11        0          0
4       5        6792   1145      662          5
   postId  Score  userId  ViewCount  CommentCount
0       1     23     8.0     1278.0             1
1       2     22    24.0     8198.0             1
2       3     54    18.0     3613.0             4
3       4     13    23.0     5224.0             2
4       5     81    23.0        NaN             3

#### 8. Merge both dataframes, users and posts. 
You will need to make a [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

In [54]:
# merge them on userId
users_and_posts = new_users.merge(new_posts, on='userId')
print(users_and_posts.head())

   userId  Reputation  Views  UpVotes  DownVotes  postId  Score  ViewCount  \
0      -1           1      0     5007       1920    2175      0        NaN
1      -1           1      0     5007       1920    8576      0        NaN
2      -1           1      0     5007       1920    8578      0        NaN
3      -1           1      0     5007       1920    8981      0        NaN
4      -1           1      0     5007       1920    8982      0        NaN

   CommentCount
0             0
1             0
2             0
3             0
4             0

#### 9. How many missing values do you have in your merged dataframe? On which columns?

In [70]:
users_and_posts.isnull().sum() #my solution so far
# null_cols = users_and_posts.isnull().sum()
# null_cols[null_cols > 0]

userId              0
Reputation          0
Views               0
UpVotes             0
DownVotes           0
postId              0
Score               0
ViewCount       48396
CommentCount        0
dtype: int64

#### 10. You will need to make something with missing values.  Will you clean or filling them? Explain. 
**Remember** to check the results of your code before passing to the next step

In [85]:
# drop the rows where ViewCount is null. We have a ton of rows of data otherwise
# uandp_nonulls = users_and_posts.drop(labels = users_and_posts.loc[users_and_posts['ViewCount'].isnull()])
# print(uandp_nonulls.head())
# print(list(users_and_posts))
null_rows = users_and_posts[ users_and_posts['ViewCount'].isnull()].index
uandp_nonulls = users_and_posts.drop(null_rows)
# print(uandp_nonulls.describe)
print(uandp_nonulls.isnull().sum())

userId          0
Reputation      0
Views           0
UpVotes         0
DownVotes       0
postId          0
Score           0
ViewCount       0
CommentCount    0
dtype: int64

#### 11. Adjust the data types in order to avoid future issues. Which ones should be changed?

In [99]:
print(uandp_nonulls.dtypes)
# ViewCount is now a float, while the rest of the columns are int.

uandp_no_nulls_all_int = uandp_nonulls[:].astype('int', inplace = True)
print("\n And now I have adjusted that column so the entire table is Integer Datatype")
print(uandp_no_nulls_all_int.dtypes)

userId            int64
Reputation        int64
Views             int64
UpVotes           int64
DownVotes         int64
postId            int64
Score             int64
ViewCount       float64
CommentCount      int64
dtype: object

 And now I have adjusted that column so the entire table is Integer Datatype
userId          int64
Reputation      int64
Views           int64
UpVotes         int64
DownVotes       int64
postId          int64
Score           int64
ViewCount       int64
CommentCount    int64
dtype: object

#### Bonus: Identify extreme values in your merged dataframe as you have learned in class, create a dataframe called outliers with the same columns as our data set and calculate the bounds. The values of the outliers dataframe will be the values of the merged_df that fall outside that bounds. You will need to save your outliers dataframe to a csv file on your-code folder.

In [117]:
# uandp_no_nulls_all_int.describe().transpose()

summary = uandp_no_nulls_all_int.describe().transpose()
# print(summary)
summary['IQR'] = summary['75%'] - summary['25%']
# print(summary)

outliers_table = pd.DataFrame(columns = uandp_no_nulls_all_int.columns)

for col in summary.index:
    iqr = summary.at[col, 'IQR']
    cutoff = iqr * 1.5
    lowerbound = summary.at[col, '25%']
    upperbound = summary.at[col, '75%']
    results = uandp_no_nulls_all_int[
        (uandp_no_nulls_all_int[col] < lowerbound) |
        (uandp_no_nulls_all_int[col] > upperbound)
    ].copy()
    results['Outlier'] = col
    outliers_table = outliers_table.append(results)

outliers_table.to_csv('outliers.csv', sep=',', index=False)
# this results in 'userId' being an "outlier". how can I tell the code to skip this?