#### 1. Import pandas library

In [22]:
import pandas as pd

#### 2. Import pymysql and sqlalchemy as you have learnt in the lesson of importing/exporting data

In [23]:
import pymysql
from sqlalchemy import create_engine

#### 3. Create a mysql engine to set the connection to the server. Check the connection details in [this link](https://relational.fit.cvut.cz/search?tableCount%5B%5D=0-10&tableCount%5B%5D=10-30&dataType%5B%5D=Numeric&databaseSize%5B%5D=KB&databaseSize%5B%5D=MB)

In [24]:
engine = create_engine('mysql+pymysql://guest:relational@relational.fit.cvut.cz/stats')

#### 4. Import the users table

In [25]:
data_user = pd.read_sql_query('SELECT * FROM stats.users', engine)

#### 5. Rename Id column to userId

In [26]:
data_user.rename(columns = {'Id':'userId'}, inplace= True)

#### 6. Import the posts table.

In [27]:
data_posts = pd.read_sql_query('SELECT * FROM stats.posts', engine)

#### 7. Rename Id column to postId and OwnerUserId to userId

In [28]:
data_posts.rename(columns = {'Id':'postId','OwnerUserId':'userId'}, inplace = True)

#### 8. Define new dataframes for users and posts with the following selected columns:
    **users columns**: userId, Reputation,Views,UpVotes,DownVotes
    **posts columns**: postId, Score,userID,ViewCount,CommentCount

In [29]:
data_user2 = data_user[['userId', 'Reputation','Views','UpVotes','DownVotes']]

data_posts2 = data_posts[['postId', 'Score','userId','ViewCount','CommentCount']]

#### 8. Merge both dataframes, users and posts. 
You will need to make a [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

In [58]:
data_merge = pd.merge(data_user2, data_posts2)

#### 9. How many missing values do you have in your merged dataframe? On which columns?

In [59]:
data_merge.isnull().sum()

userId              0
Reputation          0
Views               0
UpVotes             0
DownVotes           0
postId              0
Score               0
ViewCount       48396
CommentCount        0
dtype: int64

#### 10. You will need to make something with missing values.  Will you clean or filling them? Explain. 
**Remember** to check the results of your code before passing to the next step

In [60]:
#i will fill them by taking the average of column 'ViewCount' and using that value
data_merge['ViewCount']=data_merge['ViewCount'].fillna(data_merge['ViewCount'].mean())

#### 11. Adjust the data types in order to avoid future issues. Which ones should be changed?

In [61]:
convert_dict = {'ViewCount': int, 
               } 
  
data_merge = data_merge.astype(convert_dict) 
data_merge.dtypes

userId          int64
Reputation      int64
Views           int64
UpVotes         int64
DownVotes       int64
postId          int64
Score           int64
ViewCount       int64
CommentCount    int64
dtype: object

#### Bonus: Identify extreme values in your merged dataframe as you have learned in class, create a dataframe called outliers with the same columns as our data set and calculate the bounds. The values of the outliers dataframe will be the values of the merged_df that fall outside that bounds. You will need to save your outliers dataframe to a csv file on your-code folder.

In [240]:
outliers = data_merge.describe()
print(outliers)

             userId    Reputation         Views       UpVotes     DownVotes  \
count  90584.000000  90584.000000  90584.000000  90584.000000  90584.000000
mean   16546.764727   6282.395412   1034.245176    734.315718     33.273249
std    15273.367108  15102.268670   2880.074012   2050.869327    134.936435
min       -1.000000      1.000000      0.000000      0.000000      0.000000
25%     3437.000000     60.000000      5.000000      1.000000      0.000000
50%    11032.000000    396.000000     45.000000     22.000000      0.000000
75%    27700.000000   4460.000000    514.250000    283.000000      8.000000
max    55746.000000  87393.000000  20932.000000  11442.000000   1920.000000

              postId         Score      ViewCount  CommentCount
count   90584.000000  90584.000000   90584.000000  90584.000000
mean    56539.080522      2.780767     556.305595      1.894650
std     33840.307529      4.948922    1608.469419      2.638704
min         1.000000    -19.000000       1.000000      0.000000
25%     26051.750000      1.000000     144.000000      0.000000
50%     57225.500000      2.000000     556.000000      1.000000
75%     86145.250000      3.000000     556.000000      3.000000
max    115378.000000    192.000000  175495.000000     45.000000

In [272]:
columns = list(outliers)
bounds_low =[]
bounds_upper=[]
for i in columns:
    q3 = outliers[i][6]
    q1 = outliers[i][4]
    iqr = q3-q1
    low= q1 -(1.5 * iqr)
    upper= q3 -(1.5 * iqr)
    bounds_low.append(low)
    bounds_upper.append(upper)
print(bounds_low,bounds_upper)

[-32957.5, -6540.0, -758.875, -422.0, -12.0, -64088.5, -2.0, -474.0, -4.5] [-8694.5, -2140.0, -249.625, -140.0, -4.0, -3995.0, 0.0, -62.0, -1.5]