# Lab | Pandas Deep-Dive

### 1. Import Pandas package under the alias pd and Numpy under the alias np

In [8]:
import pandas as pd
import numpy as np

### 2. Define a variable called `path` that contains the path to the csv file you downloaded.

In [9]:
path = 'data/apple_store.csv'

### 3. Using the Pandas `read_csv()` method, import the csv file at the path above. 

Assign the returned value to a variable called `data`.

Note: you can omit the `sep` parameter for `read_csv()` because the csv file uses the default separator of ",".

In [25]:
data = pd.read_csv(path)
data

,id,track_name,size_bytes,price,rating_count_tot,rating_count_ver,user_rating,user_rating_ver,prime_genre
0,281656475,PAC-MAN Premium,100788224,3.99,21292,26,4.0,4.5,Games
1,281796108,Evernote - stay organized,158578688,0.00,161065,26,4.0,3.5,Productivity
2,281940292,"WeatherBug - Local Weather, Radar, Maps, Alerts",100524032,0.00,188583,2822,3.5,4.5,Weather
3,282614216,"eBay: Best App to Buy, Sell, Save! Online Shop...",128512000,0.00,262241,649,4.0,4.5,Shopping
4,282935706,Bible,92774400,0.00,985920,5320,4.5,5.0,Reference
5,283619399,Shanghai Mahjong,10485713,0.99,8253,5516,4.0,4.0,Games
6,283646709,PayPal - Send and request money safely,227795968,0.00,119487,879,4.0,4.5,Finance
7,284035177,Pandora - Music & Radio,130242560,0.00,1126879,3594,4.0,4.5,Music
8,284666222,PCalc - The Best Calculator,49250304,9.99,1117,4,4.5,5.0,Utilities
9,284736660,Ms. PAC-MAN,70023168,3.99,7885,40,4.0,4.0,Games
10,284791396,Solitaire by MobilityWare,49618944,4.99,76720,4017,4.5,4.5,Games
11,284815117,SCRABBLE Premium,227547136,7.99,105776,166,3.5,2.5,Games
12,284815942,Google – Search made just for mobile,179979264,0.00,479440,203,3.5,4.0,Utilities
13,284847138,Bank of America - Mobile Banking,160925696,0.00,119773,2336,3.5,4.5,Finance
14,284862767,FreeCell,55153664,4.99,6340,668,4.5,4.5,Games
15,284876795,TripAdvisor Hotels Flights Restaurants,207907840,0.00,56194,87,4.0,3.5,Travel
16,284882215,Facebook,389879808,0.00,2974676,212,3.5,3.5,Social Networking
17,284910350,"Yelp - Nearby Restaurants, Shopping & Services",167407616,0.00,223885,3726,4.0,4.5,Travel
18,284993459,"Shazam - Discover music, artists, videos & lyrics",147093504,0.00,402925,136,4.0,4.5,Music
19,285005463,Crash Bandicoot Nitro Kart 3D,10735026,2.99,31456,4178,4.0,3.5,Games
20,285946052,iQuran,70707916,1.99,2929,966,4.5,4.5,Reference
21,285994151,:) Sudoku +,6169600,2.99,11447,781,5.0,5.0,Games
22,286058814,"Yahoo Sports - Teams, Scores, News & Highlights",130583552,0.00,137951,131,4.0,4.5,Sports
23,286070473,Mileage Log | Fahrtenbuch,71203840,5.99,8,0,4.5,0.0,Business
24,286799607,Cleartune - Chromatic Tuner,11423008,3.99,3241,297,4.0,4.0,Music
25,286906691,Lifesum – Inspiring healthy lifestyle app,188017664,0.00,5795,12,3.5,4.0,Health & Fitness
26,286911400,Hangman.,4765696,0.00,42316,248,3.0,3.5,Games
27,288113403,iTranslate - Language Translator & Dictionary,287933440,0.00,123215,25,3.5,5.0,Productivity
28,288120394,TouchOSC,4263936,4.99,782,7,4.0,3.5,Music
29,288419283,RadarScope,172772352,9.99,3449,23,4.0,4.5,Weather
...,...,...,...,...,...,...,...,...,...
7167,1182265441,脱出ゲーム わたしをみつけて -おじいさんとわたしの物語-,177498112,0.00,1,1,1.0,1.0,Games
7168,1182331762,Escape from the frigid Igloo.,89188352,0.00,3,3,4.0,4.0,Games
7169,1182568288,Talking Santa - Video santa claus calls you,32685056,2.99,9,3,3.0,3.5,Entertainment
7170,1183234072,CTFxCmoji,26077184,0.00,39,4,5.0,5.0,Social Networking
7171,1183260922,Room Escape Game - Santa's Room,143346688,0.00,10,10,5.0,5.0,Games
7172,1183548754,Rescue the Enchanter,242505728,3.99,55,29,4.5,4.5,Games
7173,1183709176,My Diary - 你的名字非官方,18164736,0.99,0,0,0.0,0.0,Utilities
7174,1183856228,VR Thrills: Roller Coaster 360 (Google Cardboard),169535488,0.00,14,4,4.0,3.5,Games
7175,1183986102,Santa Kids Hair Salon - Christmas Makeover Games,64244736,0.00,41,19,4.5,4.5,Games
7176,1184711626,Human Juggling Cup,184324096,0.00,0,0,0.0,0.0,Games
7177,1184800011,Again - room escape game,33946624,0.00,11,8,4.0,4.0,Games
7178,1185209084,Saloons Unleashed,327731200,0.99,0,0,0.0,0.0,Games
7179,1185328193,Fam — Group video calling for iMessage,113382400,0.00,279,5,3.5,3.0,Social Networking
7180,1185365336,Laurie Hernandez the Human Emoji,94008320,0.00,26,3,5.0,5.0,Utilities
7181,1185428381,剑倚手游,178160640,0.99,0,0,0.0,0.0,Games
7182,1185538497,camera for filter,9362432,0.00,0,0,0.0,0.0,Photo & Video
7183,1185580782,Survivalcraft 2,57349120,3.99,292,292,4.0,4.0,Games
7184,1185731859,剑客情缘-高爆率高掉落天天疯玩,171944960,0.00,0,0,0.0,0.0,Games
7185,1185777521,问仙奇遇-新玩法新套装嗨到爆,208026624,0.99,0,0,0.0,0.0,Games
7186,1186108496,"脱出ゲーム - 書道教室 - ""漢字""の謎に満ちた部屋からの 脱出",85580800,0.00,1,1,2.0,2.0,Games
7187,1186126548,Escape Game: illumination,52342784,0.00,23,23,4.5,4.5,Games
7188,1186384912,Demolition Derby Virtual Reality (VR) Racing,168774656,0.00,18,18,4.0,4.0,Games
7189,1187128255,飞刀传奇-动作武侠热血江湖即时PK传奇（登录爆金装）,537462784,0.99,0,0,0.0,0.0,Games
7190,1187279979,Add-Ons Studio for Minecraft,22999040,2.99,97,97,3.0,3.0,Games
7191,1187282363,Plead the Fifth - The Game,27853824,2.99,11,0,4.0,0.0,Games
7192,1187617475,Kubik,126644224,0.00,142,75,4.5,4.5,Games
7193,1187682390,VR Roller-Coaster,120760320,0.00,30,30,4.5,4.5,Games
7194,1187779532,Bret Michaels Emojis + Lyric Keyboard,111322112,1.99,15,0,4.5,0.0,Utilities
7195,1187838770,VR Roller Coaster World - Virtual Reality,97235968,0.00,85,32,4.5,4.5,Games
7196,1188375727,Escape the Sweet Shop Series,90898432,0.00,3,3,5.0,5.0,Games

### 4. Print the first 5 rows of `data` to see what the data look like.

A data analyst usually does this to have a general understanding about what the data look like before digging deep.

In [13]:
data.head(5)

,id,track_name,size_bytes,price,rating_count_tot,rating_count_ver,user_rating,user_rating_ver,prime_genre
0,281656475,PAC-MAN Premium,100788224,3.99,21292,26,4.0,4.5,Games
1,281796108,Evernote - stay organized,158578688,0.00,161065,26,4.0,3.5,Productivity
2,281940292,"WeatherBug - Local Weather, Radar, Maps, Alerts",100524032,0.00,188583,2822,3.5,4.5,Weather
3,282614216,"eBay: Best App to Buy, Sell, Save! Online Shop...",128512000,0.00,262241,649,4.0,4.5,Shopping
4,282935706,Bible,92774400,0.00,985920,5320,4.5,5.0,Reference

### 5. Print the summary (info) of the data.

In [16]:
data.describe()

,id,size_bytes,price,rating_count_tot,rating_count_ver,user_rating,user_rating_ver
count,7.197000e+03,7.197000e+03,7197.000000,7.197000e+03,7197.000000,7197.000000,7197.000000
mean,8.631310e+08,1.991345e+08,1.726218,1.289291e+04,460.373906,3.526956,3.253578
std,2.712368e+08,3.592069e+08,5.833006,7.573941e+04,3920.455183,1.517948,1.809363
min,2.816565e+08,5.898240e+05,0.000000,0.000000e+00,0.000000,0.000000,0.000000
25%,6.000937e+08,4.692275e+07,0.000000,2.800000e+01,1.000000,3.500000,2.500000
50%,9.781482e+08,9.715302e+07,0.000000,3.000000e+02,23.000000,4.000000,4.000000
75%,1.082310e+09,1.819249e+08,1.990000,2.793000e+03,140.000000,4.500000,4.500000
max,1.188376e+09,4.025970e+09,299.990000,2.974676e+06,177050.000000,5.000000,5.000000

### 6. Print the number of columns in the data.

In [19]:
len(data.columns)

9

### 7. Print all column names.

In [21]:
print(data.columns)

Index(['id', 'track_name', 'size_bytes', 'price', 'rating_count_tot',
       'rating_count_ver', 'user_rating', 'user_rating_ver', 'prime_genre'],
      dtype='object')

## Now that we have a general understanding of the data, we'll start working on the challenge questions.

### 8. How many apps are there in the data source? 

Print the # of observations of the data.

*Hint: Your code should return the number 7197.*

In [30]:
data['id'].count()

7197

### 9. What is the average rating of all apps? 

First, read the `user_rating` column into a varialbe named `user_rating`.

In [32]:
user_rating = data['user_rating']
user_rating.head()

0    4.0
1    4.0
2    3.5
3    4.0
4    4.5
Name: user_rating, dtype: float64

Now you can calculate the average of the `user_rating` data.

Your code should return 3.526955675976101

In [33]:
user_rating.mean()

3.526955675976101

### 10. How many apps have an average rating no less than 4?

First, filter `user_rating` where its value >= 4. 

Assign the filtered dataframe to a new variable called `user_rating_high`.

In [40]:
user_rating_high = data[data['user_rating'] >= 4]

user_rating_high.head()

,id,track_name,size_bytes,price,rating_count_tot,rating_count_ver,user_rating,user_rating_ver,prime_genre
0,281656475,PAC-MAN Premium,100788224,3.99,21292,26,4.0,4.5,Games
1,281796108,Evernote - stay organized,158578688,0.00,161065,26,4.0,3.5,Productivity
3,282614216,"eBay: Best App to Buy, Sell, Save! Online Shop...",128512000,0.00,262241,649,4.0,4.5,Shopping
4,282935706,Bible,92774400,0.00,985920,5320,4.5,5.0,Reference
5,283619399,Shanghai Mahjong,10485713,0.99,8253,5516,4.0,4.0,Games

Now obtain the length of `user_rating_high` which should return 4781.

In [41]:
user_rating_high['id'].count()

4781

### 11. How many genres are there in total for all the apps?

Define a new variable named `genres` that contains the `prime_genre` column of `data`. Google for how to obtain unique values of a dataframe column.

In [80]:
# genres = pd.DataFrame(data.groupby('prime_genre')['id'].count())
# genres = genres.reset_index()
# genres['prime_genre']

genres = data['prime_genre'].unique().tolist()
genres

['Games',
 'Productivity',
 'Weather',
 'Shopping',
 'Reference',
 'Finance',
 'Music',
 'Utilities',
 'Travel',
 'Social Networking',
 'Sports',
 'Business',
 'Health & Fitness',
 'Entertainment',
 'Photo & Video',
 'Navigation',
 'Education',
 'Lifestyle',
 'Food & Drink',
 'News',
 'Book',
 'Medical',
 'Catalogs']

Print the length of the unique values of `genres`. Your code should return 23.

In [81]:
len(genres)

23

### 12. What are the top 3 genres that have the most number of apps?

What you want to do is to count the number of occurrences of each unique genre values. Because you already know how to obtain the unique genre values, you can of course count the # of apps of each genre one by one. However, Pandas has a convient function to let you count all values of a dataframe column with a single command. Google for "pandas count values" to find the solution. Your code should return the following:

```
Games            3862
Entertainment     535
Education         453
Name: prime_genre, dtype: int64
```

In [82]:
# genres.sort_values(by = 'id', ascending = False).reset_index(drop = True)
data['prime_genre'].value_counts().head(3)

Games            3862
Entertainment     535
Education         453
Name: prime_genre, dtype: int64

### 13. Which genre is most likely to contain free apps?

First, filter `data` where the price is 0.00. Assign the filtered data to a new variable called `free_apps`. Then count the values in `free_apps`. Your code should return:

```
Games                2257
Entertainment         334
Photo & Video         167
Social Networking     143
Education             132
Shopping              121
Utilities             109
Lifestyle              94
Finance                84
Sports                 79
Health & Fitness       76
Music                  67
Book                   66
Productivity           62
News                   58
Travel                 56
Food & Drink           43
Weather                31
Navigation             20
Reference              20
Business               20
Catalogs                9
Medical                 8
Name: prime_genre, dtype: int64
```

In [95]:
# free_apps = data[data['price'] == 0]
free_apps= data.query('price == 0')
free_apps['prime_genre'].value_counts()

Games                2257
Entertainment         334
Photo & Video         167
Social Networking     143
Education             132
Shopping              121
Utilities             109
Lifestyle              94
Finance                84
Sports                 79
Health & Fitness       76
Music                  67
Book                   66
Productivity           62
News                   58
Travel                 56
Food & Drink           43
Weather                31
Business               20
Reference              20
Navigation             20
Catalogs                9
Medical                 8
Name: prime_genre, dtype: int64

### 14. Now you can calculate the proportion of the free apps in each genre based on the value counts you obtained in the previous two steps. 

Challenge yourself by achieving that with one line of code. The output should look like:

```
Shopping             0.991803
Catalogs             0.900000
Social Networking    0.856287
Finance              0.807692
News                 0.773333
Sports               0.692982
Travel               0.691358
Food & Drink         0.682540
Lifestyle            0.652778
Entertainment        0.624299
Book                 0.589286
Games                0.584412
Music                0.485507
Photo & Video        0.478510
Utilities            0.439516
Navigation           0.434783
Weather              0.430556
Health & Fitness     0.422222
Business             0.350877
Productivity         0.348315
Medical              0.347826
Reference            0.312500
Education            0.291391
Name: prime_genre, dtype: float64
```

The numbers are interesting, aren't they?

In [99]:
df_haha = free_apps['prime_genre'].value_counts() / data['prime_genre'].value_counts()
df_haha.sort_values(ascending = False)

Shopping             0.991803
Catalogs             0.900000
Social Networking    0.856287
Finance              0.807692
News                 0.773333
Sports               0.692982
Travel               0.691358
Food & Drink         0.682540
Lifestyle            0.652778
Entertainment        0.624299
Book                 0.589286
Games                0.584412
Music                0.485507
Photo & Video        0.478510
Utilities            0.439516
Navigation           0.434783
Weather              0.430556
Health & Fitness     0.422222
Business             0.350877
Productivity         0.348315
Medical              0.347826
Reference            0.312500
Education            0.291391
Name: prime_genre, dtype: float64

### 15. If a developer tries to make money by developing and selling Apple Store apps, in which genre should s/he develop the apps? Please assume all apps cost the same amount of time and expense to develop.

We will leave this question to you. There are several way to solve it. Ideally your output should look like below:

```
    average_price              genre
21       8.776087            Medical
11       5.116316           Business
4        4.836875          Reference
6        4.835435              Music
1        4.330562       Productivity
15       4.124783         Navigation
16       4.028234          Education
12       1.916444   Health & Fitness
20       1.790536               Book
7        1.647621          Utilities
2        1.605417            Weather
18       1.552381       Food & Drink
14       1.473295      Photo & Video
0        1.432923              Games
8        1.120370             Travel
10       0.953070             Sports
13       0.889701      Entertainment
17       0.885417          Lifestyle
22       0.799000           Catalogs
19       0.517733               News
5        0.421154            Finance
9        0.339880  Social Networking
3        0.016311           Shopping
```

In [118]:
genres_price = pd.DataFrame(data.groupby('prime_genre')['price'].mean())
genres_price.sort_values(by = 'price', ascending = False).reset_index()

          prime_genre     price
0             Medical  8.776087
1            Business  5.116316
2           Reference  4.836875
3               Music  4.835435
4        Productivity  4.330562
5          Navigation  4.124783
6           Education  4.028234
7    Health & Fitness  1.916444
8                Book  1.790536
9           Utilities  1.647621
10            Weather  1.605417
11       Food & Drink  1.552381
12      Photo & Video  1.473295
13              Games  1.432923
14             Travel  1.120370
15             Sports  0.953070
16      Entertainment  0.889701
17          Lifestyle  0.885417
18           Catalogs  0.799000
19               News  0.517733
20            Finance  0.421154
21  Social Networking  0.339880
22           Shopping  0.016311