# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

In [1]:
# Import your libraries:

import numpy as np
import scipy
import pandas as pd

# Challenge 1 - Explore the Scikit-Learn Datasets

Before starting to work on our own datasets, let's first explore the datasets that are included in this Python library. These datasets have been cleaned and formatted for use in ML algorithms.

First, we will load the diabetes dataset. Do this in the cell below by importing the datasets and then loading the dataset  to the `diabetes` variable using the `load_diabetes()` function.

In [2]:
# Your code here:

from sklearn import datasets

diabetes = datasets.load_diabetes()

Let's explore this variable by looking at the different attributes. Do this by looking at the `keys()` of this variable.

In [3]:
# Your code here:

diabetes.keys()

dict_keys(['data', 'target', 'DESCR', 'feature_names', 'data_filename', 'target_filename'])

The next step is to read the description of the dataset. Print the description in the cell below using the `DESCR` attribute of the `diabetes` variable

In [4]:
# Your code here:

print(diabetes['DESCR'])

.. _diabetes_dataset:

Diabetes dataset
----------------

Ten baseline variables, age, sex, body mass index, average blood
pressure, and six blood serum measurements were obtained for each of n =
442 diabetes patients, as well as the response of interest, a
quantitative measure of disease progression one year after baseline.

**Data Set Characteristics:**

  :Number of Instances: 442

  :Number of Attributes: First 10 columns are numeric predictive values

  :Target: Column 11 is a quantitative measure of disease progression one year after baseline

  :Attribute Information:
      - Age
      - Sex
      - Body mass index
      - Average blood pressure
      - S1
      - S2
      - S3
      - S4
      - S5
      - S6

Note: Each of these 10 feature variables have been mean centered and scaled by the standard deviation times `n_samples` (i.e. the sum of squares of each column totals 1).

Source URL:
https://www4.stat.ncsu.edu/~boos/var.select/diabetes.html

For more information see:
Bradley Efron, Trevor Hastie, Iain Johnstone and Robert Tibshirani (2004) "Least Angle Regression," Annals of Statistics (with discussion), 407-499.
(https://web.stanford.edu/~hastie/Papers/LARS/LeastAngle_2002.pdf)

What are the variables in this dataset according to the description? List them in the markdown cell below

      - Age
      - Sex
      - Body mass index
      - Average blood pressure
      - S1
      - S2
      - S3
      - S4
      - S5
      - S6

#### Enter your answer here:

Now explore the data. Scikit-learn typically takes in 2D numpy arrays as input (though pandas dataframes are also accepted). In the cell below find the shape of the numpy array contained in the data portion of the diabetes variable.

In [5]:
# Your code here:

array = diabetes['data']

array.shape

(442, 10)

# Challenge 2 - Perform Supervised Learning on the Dataset

#### The data has already been split to predictor and response variables. The response variable is in the `target` portion of the variable. 

Given this information, let's apply what we have previously learned about linear regression and apply the algorithm to the diabetes dataset. In the cell below, import the linear regression class from sklearn.

In [6]:
# Your code here:

from sklearn.linear_model import LinearRegression

Initialize the model in the variable `diabetes_model`

In [7]:
# Your code here:


features = diabetes['data'] # features
target = diabetes['target'] #target

diabetes_model = LinearRegression()
diabetes_model.fit(features, target)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In the cell below, fit the model and print the intercept and coefficients of the model.

In [8]:
# Your code here:
intercept = diabetes_model.intercept_ # y-intercept
x_slope = diabetes_model.coef_[0]
intercept, x_slope

(152.1334841628965, -10.012197817470962)

# Bonus Challenge 1 - Conduct a Hypothesis Test on the Model

Once we have generated a linear model, we can test each coefficient using a t-test to see whether the confidence interval for the variable contains zero. We can also perform an overall F test to check whether at least one coefficient is significantly different from zero. 

Refer to the resource in this [link](https://onlinecourses.science.psu.edu/stat501/node/297/) for more details and perform the t-tests for the model above. Additionally, interpret the results and list coefficients are significantly different from zero.


Hint: use the statsmodels package.

Your result should look similar to this:

![ols](../ols-results.png)

In [9]:
# Your code here:
import statsmodels.api as sm
sm.OLS(target, features).fit().summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                                 OLS Regression Results
=======================================================================================
Dep. Variable:                      y   R-squared (uncentered):                   0.106
Model:                            OLS   Adj. R-squared (uncentered):              0.085
Method:                 Least Squares   F-statistic:                              5.100
Date:                Sun, 22 Dec 2019   Prob (F-statistic):                    4.72e-07
Time:                        18:20:15   Log-Likelihood:                         -2873.9
No. Observations:                 442   AIC:                                      5768.
Df Residuals:                     432   BIC:                                      5809.
Df Model:                          10
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
x1           -10.0122    179.967     -0.056      0.956    -363.731     343.707
x2          -239.8191    184.404     -1.301      0.194    -602.259     122.621
x3           519.8398    200.401      2.594      0.010     125.957     913.723
x4           324.3904    197.053      1.646      0.100     -62.912     711.692
x5          -792.1842   1255.066     -0.631      0.528   -3258.979    1674.611
x6           476.7458   1021.183      0.467      0.641   -1530.360    2483.851
x7           101.0446    640.155      0.158      0.875   -1157.162    1359.251
x8           177.0642    486.370      0.364      0.716    -778.882    1133.010
x9           751.2793    517.774      1.451      0.148    -266.391    1768.950
x10           67.6254    198.747      0.340      0.734    -323.005     458.256
==============================================================================
Omnibus:                        1.506   Durbin-Watson:                   0.223
Prob(Omnibus):                  0.471   Jarque-Bera (JB):                1.404
Skew:                           0.017   Prob(JB):                        0.496
Kurtosis:                       2.726   Cond. No.                         21.7
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

# Challenge 2 - Peform Supervised Learning on a Pandas Dataframe

Now that we have looked at data that has been formatted for scikit-learn, let's look at data that we will need to format ourselves.

In the next cell, load the `auto-mpg.csv` file included in this folder and assign it to a variable called `auto`.

In [43]:
# Your code here:

auto = pd.read_csv('../auto-mpg.csv')

Look at the first 5 rows using the `head()` function:

In [44]:
# Your code here:

auto.head()

,mpg,cylinders,displacement,horse_power,weight,acceleration,model_year,car_name
0,18.0,8,307.0,130.0,3504,12.0,70,"\t""chevrolet chevelle malibu"""
1,15.0,8,350.0,165.0,3693,11.5,70,"\t""buick skylark 320"""
2,18.0,8,318.0,150.0,3436,11.0,70,"\t""plymouth satellite"""
3,16.0,8,304.0,150.0,3433,12.0,70,"\t""amc rebel sst"""
4,17.0,8,302.0,140.0,3449,10.5,70,"\t""ford torino"""

Evaluate the data to ensure that all numeric columns are correctly detected as such by pandas. If a column is misclassified as object, coerce it to numeric.

In [45]:
# Your code here:

auto.dtypes

mpg             float64
cylinders         int64
displacement    float64
horse_power     float64
weight            int64
acceleration    float64
model_year        int64
car_name         object
dtype: object

What is the newest model year and the oldest model year?

In [46]:
# Your code here:
print('Oldest model is:')
print(auto['model_year'].min())
print('Newest model is:')
print(auto['model_year'].max())

Oldest model is:
70
Newest model is:
82

Check the dataset for missing values and remove all rows containing at least one missing value.

In [48]:
# Your code here:

auto.isna().sum()

mpg             0
cylinders       0
displacement    0
horse_power     6
weight          0
acceleration    0
model_year      0
car_name        0
dtype: int64

Find the frequency table for the `cylinders` column using the `value_counts()` function. How many possible values of cylinders are there?

In [49]:
# Your code here:

auto['cylinders'].value_counts()

4    204
8    103
6     84
3      4
5      3
Name: cylinders, dtype: int64

We would like to generate a linear regression model that will predict mpg. To do this, first drop the `car_name` column since it does not contain any quantitative data. Next separate the dataframe to predictor and response variables. Separate those into test and training data with 80% of the data in the training set and the remainder in the test set. 

Assign the predictor and response training data to `X_train` and `y_train` respectively. Similarly, assign the predictor and response test data to `X_test` and `y_test`.

In [76]:
# Import the necessary function

# auto.drop('car_name', axis = 1, inplace = True)

from sklearn.model_selection import train_test_split
auto.dropna(how = 'any', inplace = True)

In [77]:
# Your code here:
auto_features = auto[['cylinders', 'displacement', 'horse_power', 'weight', 'model_year', 'acceleration']]
auto_target = auto['mpg']

X_train, X_test, y_train, y_test = train_test_split(
    auto_features, 
    auto_target,  
    test_size = 0.2, 
)

Now we will the dataset that we processed and peform linear regression on this data to predict the mpg for each vehicle. Initialize the model in the cell below.

In [78]:
# Your code here:

mpg_model = LinearRegression()

Next, fit the model in the cell below.

In [79]:
# Your code here:
mpg_model.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

# Challenge 3 - Evaluate the Model

the r squared score of a model tells us how much variation is explained by the model. In a typical dataset, most observations differ from the mean. When we create a model, we are trying to generate an equation that will tell us by how much each observation will differ from the mean. Obviously, the vast majority of models are not perfect. They can only predict some of the variation from the mean but not all of it. We attribute the rest of the difference between the actual value and the mean to random error. We would like random error to explain the as little as possible of the variation. This is why the r squared score is an important metric.

In the next cell, compute the r squared score of the model. Do this by first computing the predicted values and assign them to `y_pred`.

In [86]:
# Import the necessary function:
from sklearn.metrics import r2_score

In [90]:
# Your code here:

# model.score(y_test, predictions)

predictions = mpg_model.predict(X_test)
r2_score(y_test, predictions)

0.8045572737385401

#### Our next step is to evaluate the model using the test data. We would like to ensure that our model is not overfitting the data. This means that our model will not be able to generalize well outside of the training data.

In the cell below, use the model to generate the predicted values for the training data and assign them to `y_test_pred`. Compute the r squared score for the test data by comparing the oberserved `y_test` data and the predicted `y_test_pred`.

In [91]:
# Your code here:

y_pred = mpg_model.predict(X_test)

pd.DataFrame({
    'observed' : y_test, # last observations
    'predicted' : y_pred, # predictions for that test data
})

     observed  predicted
199      20.0  19.199044
313      28.0  28.605832
291      19.2  21.365258
221      17.5  18.038722
256      20.5  22.135066
110      22.0  25.019485
230      15.5  16.257152
51       30.0  25.578218
150      26.0  25.653750
170      23.0  25.450994
120      19.0  21.786922
107      18.0  22.429224
137      13.0  10.714069
161      16.0  16.976376
145      32.0  28.342931
96       13.0  15.467161
149      24.0  25.032762
373      24.0  28.846417
253      20.5  23.878234
249      19.9  22.207395
308      33.5  28.471402
254      20.2  25.023907
255      25.1  26.709789
334      23.7  29.876263
64       15.0  12.669692
350      34.7  32.171359
166      13.0  21.160208
128      15.0  19.810318
20       25.0  20.909551
188      16.0  15.328192
..        ...        ...
345      35.1  35.096465
368      27.0  30.308269
209      19.0  21.844340
115      15.0  13.912984
197      29.0  30.053779
29       27.0  24.986018
356      32.4  31.366354
31       25.0  24.374430
186      27.0  28.394475
101      23.0  21.589069
43       13.0   8.168252
394      44.0  33.978783
201      18.5  19.246557
296      27.4  27.712286
37       18.0  17.681370
288      18.2  20.114294
212      16.5  14.100892
6        14.0   9.907062
238      33.5  29.999682
348      37.7  33.298734
317      34.3  31.550504
276      21.6  26.067049
95       12.0   8.389978
346      32.3  33.248388
220      33.5  30.872279
341      23.5  28.506017
324      40.8  32.216778
172      25.0  27.543877
262      19.2  21.800596
355      33.7  32.151325

[79 rows x 2 columns]

# Challenge 4 - Improve the Model Fit

While the most common way to improve the fit of a model is by using regularization, there are other simpler ways to improve model fit. The first is to create a simpler model. The second is to increase the train sample size.

Let us start with the easier option and increase our train sample size to 90% of the data. Create a new test train split and name the new predictors and response variables `X_train09`, `X_test09`, `y_train09`, `y_test09`.

In [67]:
# Your code here:
X_train09, X_test09, y_train09, y_test09 = train_test_split(
    auto_features, # 
    auto_target, #  
    test_size = 0.1, # 90% of the data is training data,
)

Initialize a new model. Name this model `auto_model09`. Fit the model to the new sample data.

In [68]:
# Your code here:

auto_model09 = LinearRegression().fit(X_train09, y_train09)

Compute the predicted values and r squared score for our new model and new sample data.

In [69]:
# Your code here:
pred09 = auto_model09.predict(X_test09)

r2_score(y_test09, pred09)

0.6446012041547506

Compute the r squared score for the smaller test set. Is there an improvement in the test r squared?

In [83]:
# Your code here:
# y_pred09 = auto_model09/.predict(X_test09)

pd.DataFrame({
    'observed' : y_test09, # last observations
    'predicted' : pred09, # predictions for that test data
})

     observed  predicted
271      23.2  25.732288
19       26.0  32.662993
69       12.0  12.401679
147      24.0  30.156933
189      15.5  16.495506
54       35.0  32.872560
246      32.8  31.696905
202      17.5  22.582137
383      38.0  31.185409
146      28.0  30.072485
120      19.0  24.875894
89       15.0  16.204398
345      35.1  32.492612
7        14.0  10.836337
283      20.2  22.449022
277      16.2  20.080298
150      26.0  28.015791
85       13.0  13.571829
185      26.0  29.259436
377      31.0  31.120686
315      24.3  25.053785
232      16.0  13.440527
46       22.0  28.738032
206      26.5  27.958131
334      23.7  28.241753
109      21.0  28.772804
121      15.0  18.082121
77       22.0  28.085189
106      12.0  11.390359
29       27.0  29.522369
208      13.0  15.394692
203      29.5  31.715522
209      19.0  23.837177
242      21.5  26.286961
293      31.9  31.226499
111      18.0  30.110998
310      38.1  31.451640
170      23.0  27.584693
125      20.0  23.092144
182      28.0  27.933329

# Bonus Challenge 2 - Backward Elimination 

The main way to produce a simpler linear regression model is to reduce the number of variables used in the model. In scikit-learn, we can do this by using recursive feature elimination. You can read more about RFE [here](https://scikit-learn.org/stable/modules/generated/sklearn.feature_selection.RFE.html).

In the next cell, we will import RFE

Follow the documentation and initialize an RFE model using the `auto_model` linear regression model. Set `n_features_to_select=3`

In [27]:
# Your code here:

Fit the model and print the ranking

In [28]:
# Your code here:

Feature importance is ranked from most important (1) to least important (4). Generate a model with the three most important features. The features correspond to variable names. For example, feature 1 is `cylinders` and feature 2 is `displacement`.

Perform a test-train split on this reduced column data and call the split data `X_train_reduced`, `X_test_reduced`, `y_test_reduced`, `y_train_reduced`. Use an 80% split.

In [29]:
# Your code here:

Generate a new model called `auto_model_reduced` and fit this model. Then proceed to compute the r squared score for the model. Did this cause an improvement in the r squared score?

In [30]:
# Your code here: