# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

In [1]:
# Import your libraries:
import numpy as np
import pandas as pd

# Challenge 1 - Explore the Scikit-Learn Datasets

Before starting to work on our own datasets, let's first explore the datasets that are included in this Python library. These datasets have been cleaned and formatted for use in ML algorithms.

First, we will load the diabetes dataset. Do this in the cell below by importing the datasets and then loading the dataset  to the `diabetes` variable using the `load_diabetes()` function.

In [2]:
# Your code here:
from sklearn import datasets

diabetes = datasets.load_diabetes()

Let's explore this variable by looking at the different attributes. Do this by looking at the `keys()` of this variable.

In [3]:
# Your code here:
diabetes.keys()

dict_keys(['data', 'target', 'DESCR', 'feature_names', 'data_filename', 'target_filename'])

The next step is to read the description of the dataset. Print the description in the cell below using the `DESCR` attribute of the `diabetes` variable

In [4]:
# Your code here:
# diabetes['DESCR']
diabetes.DESCR

'.. _diabetes_dataset:\n\nDiabetes dataset\n----------------\n\nTen baseline variables, age, sex, body mass index, average blood\npressure, and six blood serum measurements were obtained for each of n =\n442 diabetes patients, as well as the response of interest, a\nquantitative measure of disease progression one year after baseline.\n\n**Data Set Characteristics:**\n\n  :Number of Instances: 442\n\n  :Number of Attributes: First 10 columns are numeric predictive values\n\n  :Target: Column 11 is a quantitative measure of disease progression one year after baseline\n\n  :Attribute Information:\n      - Age\n      - Sex\n      - Body mass index\n      - Average blood pressure\n      - S1\n      - S2\n      - S3\n      - S4\n      - S5\n      - S6\n\nNote: Each of these 10 feature variables have been mean centered and scaled by the standard deviation times `n_samples` (i.e. the sum of squares of each column totals 1).\n\nSource URL:\nhttps://www4.stat.ncsu.edu/~boos/var.select/diabetes.html\n\nFor more information see:\nBradley Efron, Trevor Hastie, Iain Johnstone and Robert Tibshirani (2004) "Least Angle Regression," Annals of Statistics (with discussion), 407-499.\n(https://web.stanford.edu/~hastie/Papers/LARS/LeastAngle_2002.pdf)'

What are the variables in this dataset according to the description? List them in the markdown cell below

#### Enter your answer here:
 The variables are age, sex, body mass index, average blood pressure, and six blood serum measurements

Number of Instances: <br>n = 442 patients 

Number of Features = 10

interesting to note, each variables has been mean-centerd and scaled by Std-Dev * n_samples

Now explore the data. Scikit-learn typically takes in 2D numpy arrays as input (though pandas dataframes are also accepted). In the cell below find the shape of the numpy array contained in the data portion of the diabetes variable.

In [5]:
# Your code here:
diabetes.data.shape # returns 442 rows makes sense, since n = 442, and 10 columns, which makes sense, those are our Features

(442, 10)

# Challenge 2 - Perform Supervised Learning on the Dataset

#### The data has already been split to predictor and response variables. The response variable is in the `target` portion of the variable. 

Given this information, let's apply what we have previously learned about linear regression and apply the algorithm to the diabetes dataset. In the cell below, import the linear regression class from sklearn.

In [6]:
# Your code here:
#  Documentation: https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LinearRegression.html
from sklearn.linear_model import LinearRegression

Initialize the model in the variable `diabetes_model`

In [7]:
# Your code here:
diabetes_model = LinearRegression()

In the cell below, fit the model and print the intercept and coefficients of the model.

In [8]:
# Your code here:
diabetes_model.fit(diabetes.data, diabetes.target)

print("Coefficients are " + str(diabetes_model.coef_))

print("Intercept is " + str(diabetes_model.intercept_))

Coefficients are [ -10.01219782 -239.81908937  519.83978679  324.39042769 -792.18416163
  476.74583782  101.04457032  177.06417623  751.27932109   67.62538639]
Intercept is 152.1334841628965

# Bonus Challenge 1 - Conduct a Hypothesis Test on the Model

Once we have generated a linear model, we can test each coefficient using a t-test to see whether the confidence interval for the variable contains zero. We can also perform an overall F test to check whether at least one coefficient is significantly different from zero. 

Refer to the resource in this [link](https://onlinecourses.science.psu.edu/stat501/node/297/) for more details and perform the t-tests for the model above. Additionally, interpret the results and list coefficients are significantly different from zero.


Hint: use the statsmodels package.

Your result should look similar to this:

![ols](../ols-results.png)

In [9]:
# Your code here:
# link doesn't work, but I think this has been done before
import statsmodels.api as sm

sm.OLS(diabetes['target'], diabetes['data']).fit().summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                                 OLS Regression Results
=======================================================================================
Dep. Variable:                      y   R-squared (uncentered):                   0.106
Model:                            OLS   Adj. R-squared (uncentered):              0.085
Method:                 Least Squares   F-statistic:                              5.100
Date:                Tue, 17 Dec 2019   Prob (F-statistic):                    4.72e-07
Time:                        20:59:30   Log-Likelihood:                         -2873.9
No. Observations:                 442   AIC:                                      5768.
Df Residuals:                     432   BIC:                                      5809.
Df Model:                          10
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
x1           -10.0122    179.967     -0.056      0.956    -363.731     343.707
x2          -239.8191    184.404     -1.301      0.194    -602.259     122.621
x3           519.8398    200.401      2.594      0.010     125.957     913.723
x4           324.3904    197.053      1.646      0.100     -62.912     711.692
x5          -792.1842   1255.066     -0.631      0.528   -3258.979    1674.611
x6           476.7458   1021.183      0.467      0.641   -1530.360    2483.851
x7           101.0446    640.155      0.158      0.875   -1157.162    1359.251
x8           177.0642    486.370      0.364      0.716    -778.882    1133.010
x9           751.2793    517.774      1.451      0.148    -266.391    1768.950
x10           67.6254    198.747      0.340      0.734    -323.005     458.256
==============================================================================
Omnibus:                        1.506   Durbin-Watson:                   0.223
Prob(Omnibus):                  0.471   Jarque-Bera (JB):                1.404
Skew:                           0.017   Prob(JB):                        0.496
Kurtosis:                       2.726   Cond. No.                         21.7
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [10]:
# here add my inference from above
# x3 is the 0.010 P>|t|, this is not statistically significant?

# Challenge 2 - Peform Supervised Learning on a Pandas Dataframe

Now that we have looked at data that has been formatted for scikit-learn, let's look at data that we will need to format ourselves.

In the next cell, load the `auto-mpg.csv` file included in this folder and assign it to a variable called `auto`.

In [11]:
# Your code here:

auto = pd.read_csv('../auto-mpg.csv')

Look at the first 5 rows using the `head()` function:

In [12]:
# Your code here:
auto.head()

,mpg,cylinders,displacement,horse_power,weight,acceleration,model_year,car_name
0,18.0,8,307.0,130.0,3504,12.0,70,"\t""chevrolet chevelle malibu"""
1,15.0,8,350.0,165.0,3693,11.5,70,"\t""buick skylark 320"""
2,18.0,8,318.0,150.0,3436,11.0,70,"\t""plymouth satellite"""
3,16.0,8,304.0,150.0,3433,12.0,70,"\t""amc rebel sst"""
4,17.0,8,302.0,140.0,3449,10.5,70,"\t""ford torino"""

Evaluate the data to ensure that all numeric columns are correctly detected as such by pandas. If a column is misclassified as object, coerce it to numeric.

In [13]:
# Your code here:
auto.dtypes

# didn't have to use pd.to_numeric(auto, errors = 'coerce')

mpg             float64
cylinders         int64
displacement    float64
horse_power     float64
weight            int64
acceleration    float64
model_year        int64
car_name         object
dtype: object

What is the newest model year and the oldest model year?

In [14]:
# Your code here:
auto['model_year'].max() # returns 82
# auto['model_year'].min() # returns 70

82

Check the dataset for missing values and remove all rows containing at least one missing value.

In [15]:
# Your code here: 
auto.isna().sum() # horse_power has 6 missing values

mpg             0
cylinders       0
displacement    0
horse_power     6
weight          0
acceleration    0
model_year      0
car_name        0
dtype: int64

In [16]:
auto.dropna(how = 'any', inplace = True) # drop a row if ANY of the values are missing, do so in place, axis = 0 by default

In [17]:
auto.isna().sum()

mpg             0
cylinders       0
displacement    0
horse_power     0
weight          0
acceleration    0
model_year      0
car_name        0
dtype: int64

Find the frequency table for the `cylinders` column using the `value_counts()` function. How many possible values of cylinders are there?

In [18]:
# Your code here:
auto['cylinders'].value_counts() # there are five different possible values for 'cylinders'

4    199
8    103
6     83
3      4
5      3
Name: cylinders, dtype: int64

We would like to generate a linear regression model that will predict mpg. To do this, first drop the `car_name` column since it does not contain any quantitative data. Next separate the dataframe to predictor and response variables. Separate those into test and training data with 80% of the data in the training set and the remainder in the test set. 

Assign the predictor and response training data to `X_train` and `y_train` respectively. Similarly, assign the predictor and response test data to `X_test` and `y_test`.

In [19]:
auto.drop('car_name', axis = 1, inplace = True)

In [20]:
# Import the necessary function
from sklearn.model_selection import train_test_split

In [21]:
auto.columns # get the features

Index(['mpg', 'cylinders', 'displacement', 'horse_power', 'weight',
       'acceleration', 'model_year'],
      dtype='object')

In [22]:
# Your code here:
# assign the predictor data
auto_features = auto[['cylinders', 'displacement', 'horse_power', 'weight']]
auto_target = auto['mpg']

X_train, X_test, y_train, y_test = train_test_split(
    auto_features, # pass in the features
    auto_target, # pass in the target 
    test_size = 0.2, # 80% of the data is training data, selects the same rows from features and target
)

Now we will the dataset that we processed and peform linear regression on this data to predict the mpg for each vehicle. Initialize the model in the cell below.

In [23]:
# Your code here:
mpg_model = LinearRegression()

Next, fit the model in the cell below.

In [24]:
# Your code here:
mpg_model.fit(X_train, y_train) # pass in the training data

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

# Challenge 3 - Evaluate the Model

the r squared score of a model tells us how much variation is explained by the model. In a typical dataset, most observations differ from the mean. When we create a model, we are trying to generate an equation that will tell us by how much each observation will differ from the mean. Obviously, the vast majority of models are not perfect. They can only predict some of the variation from the mean but not all of it. We attribute the rest of the difference between the actual value and the mean to random error. We would like random error to explain the as little as possible of the variation. This is why the r squared score is an important metric.

In the next cell, compute the r squared score of the model. Do this by first computing the predicted values and assign them to `y_pred`.

In [25]:
# Import the necessary function:
from sklearn.metrics import r2_score

In [26]:
# Your code here:

# the y_pred would be the one we want to compare to y_test, we pass in the X_test data and see if we get y_test
y_pred = mpg_model.predict(X_test)

pd.DataFrame({
    'observed' : y_test, # our last couple observations
    'predicted' : y_pred, # my predictions for that test data
})

     observed  predicted
240      30.5  29.337970
9        15.0  14.051011
156      16.0  10.785843
68       13.0  12.255845
205      28.0  29.689530
..        ...        ...
258      20.6  21.275627
53       31.0  32.164567
168      23.0  26.855887
319      31.3  27.717360
154      15.0  22.882438

[79 rows x 2 columns]

#### Our next step is to evaluate the model using the test data. We would like to ensure that our model is not overfitting the data. This means that our model will not be able to generalize well outside of the training data.

In the cell below, use the model to generate the predicted values for the training data and assign them to `y_test_pred`. Compute the r squared score for the test data by comparing the oberserved `y_test` data and the predicted `y_test_pred`.

In [27]:
# Your code here:

y_test_pred = y_pred # from the cell above

# a little confused on why it had me kind of do this twice?

r2_score(y_test, y_test_pred) # returns 0.68

0.7486387267287526

# Challenge 4 - Improve the Model Fit

While the most common way to improve the fit of a model is by using regularization, there are other simpler ways to improve model fit. The first is to create a simpler model. The second is to increase the train sample size.

Let us start with the easier option and increase our train sample size to 90% of the data. Create a new test train split and name the new predictors and response variables `X_train09`, `X_test09`, `y_train09`, `y_test09`.

In [28]:
# Your code here:
X_train09, X_test09, y_train09, y_test09 = train_test_split(
    auto_features, # 
    auto_target, #  
    test_size = 0.1, # 90% of the data is training data,
)

Initialize a new model. Name this model `auto_model09`. Fit the model to the new sample data.

In [29]:
# Your code here:
auto_model09 = LinearRegression().fit(X_train09, y_train09)

Compute the predicted values and r squared score for our new model and new sample data.

In [30]:
# Your code here:
pred09 = auto_model09.predict(X_test09)

r2_score(y_test09, pred09) # returns 0.73, an improvement!

0.6922485905576007

Compute the r squared score for the smaller test set. Is there an improvement in the test r squared?

In [31]:
# Your code here:
# There is an improvement in the larger Training test set!

# Bonus Challenge 2 - Backward Elimination 

The main way to produce a simpler linear regression model is to reduce the number of variables used in the model. In scikit-learn, we can do this by using recursive feature elimination. You can read more about RFE [here](https://scikit-learn.org/stable/modules/generated/sklearn.feature_selection.RFE.html).

In the next cell, we will import RFE

In [32]:
from sklearn.feature_selection import RFE

Follow the documentation and initialize an RFE model using the `auto_model` linear regression model. Set `n_features_to_select=3`

In [37]:
# Your code here:
# sklearn.feature_selection.RFE(estimator, n_features_to_select=None, step=1, verbose=0

# rfe_model = sklearn.feature_selection # Initialize the class

# sklearn.feature_selection.RFE(
#     mpg_model, # estimator
#     n_features_to_select = 3, # number of features/columns to minimize to
# )

from sklearn.feature_selection import RFE

selector = RFE(
    mpg_model, # estimator
    n_features_to_select = 3, # number of features to select, by default HALF
).fit(X_train, y_train)

Fit the model and print the ranking

In [38]:
# Your code here:
selector.ranking_

array([1, 2, 1, 1])

Feature importance is ranked from most important (1) to least important (4). Generate a model with the three most important features. The features correspond to variable names. For example, feature 1 is `cylinders` and feature 2 is `displacement`.

Perform a test-train split on this reduced column data and call the split data `X_train_reduced`, `X_test_reduced`, `y_test_reduced`, `y_train_reduced`. Use an 80% split.

In [40]:
# Your code here:
# since selector.ranking_ returned 1, 2, 1, 1, and my column names are ['cylinders', 'displacement', 'weight', 'acceleration', 'model_year']
# so I only need to keep cylinders, weight, accell, model year
auto_features.drop(columns = ['displacement'], axis = 1, inplace = True)

/Users/sampoad/opt/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:4102: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [42]:
X_train_reduced, X_test_reduced, y_train_reduced, y_test_reduced = train_test_split(
    auto_features, # features
    auto_target, # test
    test_size = 0.2,
)

X_train_reduced

     cylinders  horse_power  weight
346          4         67.0    2065
335          4         88.0    2500
164          6        110.0    3039
154          6         72.0    3432
264          8        139.0    3205
..         ...          ...     ...
175          4         70.0    1937
373          4         92.0    2865
102          4         46.0    1950
16           6         97.0    2774
40           8        153.0    4154

[313 rows x 3 columns]

Generate a new model called `auto_model_reduced` and fit this model. Then proceed to compute the r squared score for the model. Did this cause an improvement in the r squared score?

In [43]:
# Your code here: 
auto_model_reduced = LinearRegression()
auto_model_reduced.fit(X_train_reduced, y_train_reduced)

auto_model_reduced.score(X_test_reduced, y_test_reduced)
# YES! 0.717 is higher than the previous r-squared score of 0.69

0.7174625329549074