# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

In [1]:
# Import your libraries:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
import statsmodels.api as sm
from sklearn.metrics import r2_score
from sklearn.feature_selection import RFE
from sklearn.datasets import load_diabetes


np.random.seed(42)

# Challenge 1 - Explore the Scikit-Learn Datasets

Before starting to work on our own datasets, let's first explore the datasets that are included in this Python library. These datasets have been cleaned and formatted for use in ML algorithms.

First, we will load the diabetes dataset. Do this in the cell below by importing the datasets and then loading the dataset  to the `diabetes` variable using the `load_diabetes()` function.

In [2]:
# Your code here:
diabetes = load_diabetes()

Let's explore this variable by looking at the different attributes. Do this by looking at the `keys()` of this variable.

In [3]:
# Your code here:
diabetes.keys()

dict_keys(['data', 'target', 'DESCR', 'feature_names', 'data_filename', 'target_filename'])

The next step is to read the description of the dataset. Print the description in the cell below using the `DESCR` attribute of the `diabetes` variable

In [4]:
# Your code here:
df = pd.DataFrame(
    data = diabetes['data'],
    columns = diabetes['feature_names']
)

df['target'] = diabetes['target']
df.head()

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6,target
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019908,-0.017646,151.0
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068330,-0.092204,75.0
2,0.085299,0.050680,0.044451,-0.005671,-0.045599,-0.034194,-0.032356,-0.002592,0.002864,-0.025930,141.0
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022692,-0.009362,206.0
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031991,-0.046641,135.0

In [5]:
diabetes['DESCR']

'.. _diabetes_dataset:\n\nDiabetes dataset\n----------------\n\nTen baseline variables, age, sex, body mass index, average blood\npressure, and six blood serum measurements were obtained for each of n =\n442 diabetes patients, as well as the response of interest, a\nquantitative measure of disease progression one year after baseline.\n\n**Data Set Characteristics:**\n\n  :Number of Instances: 442\n\n  :Number of Attributes: First 10 columns are numeric predictive values\n\n  :Target: Column 11 is a quantitative measure of disease progression one year after baseline\n\n  :Attribute Information:\n      - Age\n      - Sex\n      - Body mass index\n      - Average blood pressure\n      - S1\n      - S2\n      - S3\n      - S4\n      - S5\n      - S6\n\nNote: Each of these 10 feature variables have been mean centered and scaled by the standard deviation times `n_samples` (i.e. the sum of squares of each column totals 1).\n\nSource URL:\nhttps://www4.stat.ncsu.edu/~boos/var.select/diabetes.html\n\nFor more information see:\nBradley Efron, Trevor Hastie, Iain Johnstone and Robert Tibshirani (2004) "Least Angle Regression," Annals of Statistics (with discussion), 407-499.\n(https://web.stanford.edu/~hastie/Papers/LARS/LeastAngle_2002.pdf)'

What are the variables in this dataset according to the description? List them in the markdown cell below

**The variables in this data the following:**

In [6]:
diabetes['feature_names']

['age', 'sex', 'bmi', 'bp', 's1', 's2', 's3', 's4', 's5', 's6']

Now explore the data. Scikit-learn typically takes in 2D numpy arrays as input (though pandas dataframes are also accepted). In the cell below find the shape of the numpy array contained in the data portion of the diabetes variable.

In [7]:
# Your code here:

df.shape

(442, 11)

# Challenge 2 - Perform Supervised Learning on the Dataset

#### The data has already been split to predictor and response variables. The response variable is in the `target` portion of the variable. 

Given this information, let's apply what we have previously learned about linear regression and apply the algorithm to the diabetes dataset. In the cell below, import the linear regression class from sklearn.

In [8]:
# Your code here:
from sklearn.linear_model import LinearRegression

Initialize the model in the variable `diabetes_model`

In [9]:
# Your code here:
diabetes_model = LinearRegression()

In the cell below, fit the model and print the intercept and coefficients of the model.

In [10]:
# Your code here:
features = df[['age', 'sex', 'bmi', 'bp', 's1', 's2', 's3', 's4', 's5', 's6']] # features
target = df[['target']] # target

In [11]:
from sklearn.model_selection import train_test_split

In [12]:
features_train, features_test, target_train, target_test = train_test_split(
    features,
    target,
    test_size = .2,
    random_state = 42,
)

In [13]:
model = LinearRegression()

model.fit(features_train, target_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [14]:
intercept = model.intercept_[0] # y-intercept
intercept

151.3456553477407

In [15]:
x_slope = model.coef_[0][0] # slope
x_slope

37.90031425824626

# Bonus Challenge 1 - Conduct a Hypothesis Test on the Model

Once we have generated a linear model, we can test each coefficient using a t-test to see whether the confidence interval for the variable contains zero. We can also perform an overall F test to check whether at least one coefficient is significantly different from zero. 

Refer to the resource in this [link](https://onlinecourses.science.psu.edu/stat501/node/297/) for more details and perform the t-tests for the model above. Additionally, interpret the results and list coefficients are significantly different from zero.


Hint: use the statsmodels package.

Your result should look similar to this:

![ols](../ols-results.png)

In [16]:
# Your code here:
sm.OLS(target, features).fit().summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                                 OLS Regression Results
=======================================================================================
Dep. Variable:                 target   R-squared (uncentered):                   0.106
Model:                            OLS   Adj. R-squared (uncentered):              0.085
Method:                 Least Squares   F-statistic:                              5.100
Date:                Thu, 19 Dec 2019   Prob (F-statistic):                    4.72e-07
Time:                        15:26:49   Log-Likelihood:                         -2873.9
No. Observations:                 442   AIC:                                      5768.
Df Residuals:                     432   BIC:                                      5809.
Df Model:                          10
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
age          -10.0122    179.967     -0.056      0.956    -363.731     343.707
sex         -239.8191    184.404     -1.301      0.194    -602.259     122.621
bmi          519.8398    200.401      2.594      0.010     125.957     913.723
bp           324.3904    197.053      1.646      0.100     -62.912     711.692
s1          -792.1842   1255.066     -0.631      0.528   -3258.979    1674.611
s2           476.7458   1021.183      0.467      0.641   -1530.360    2483.851
s3           101.0446    640.155      0.158      0.875   -1157.162    1359.251
s4           177.0642    486.370      0.364      0.716    -778.882    1133.010
s5           751.2793    517.774      1.451      0.148    -266.391    1768.950
s6            67.6254    198.747      0.340      0.734    -323.005     458.256
==============================================================================
Omnibus:                        1.506   Durbin-Watson:                   0.223
Prob(Omnibus):                  0.471   Jarque-Bera (JB):                1.404
Skew:                           0.017   Prob(JB):                        0.496
Kurtosis:                       2.726   Cond. No.                         21.7
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

# Challenge 2 - Peform Supervised Learning on a Pandas Dataframe

Now that we have looked at data that has been formatted for scikit-learn, let's look at data that we will need to format ourselves.

In the next cell, load the `auto-mpg.csv` file included in this folder and assign it to a variable called `auto`.

In [17]:
# Your code here:

auto = pd.read_csv('../auto-mpg.csv')

Look at the first 5 rows using the `head()` function:

In [18]:
# Your code here:
auto.head()

,mpg,cylinders,displacement,horse_power,weight,acceleration,model_year,car_name
0,18.0,8,307.0,130.0,3504,12.0,70,"\t""chevrolet chevelle malibu"""
1,15.0,8,350.0,165.0,3693,11.5,70,"\t""buick skylark 320"""
2,18.0,8,318.0,150.0,3436,11.0,70,"\t""plymouth satellite"""
3,16.0,8,304.0,150.0,3433,12.0,70,"\t""amc rebel sst"""
4,17.0,8,302.0,140.0,3449,10.5,70,"\t""ford torino"""

Evaluate the data to ensure that all numeric columns are correctly detected as such by pandas. If a column is misclassified as object, coerce it to numeric.

In [19]:
# Your code here:
auto.dtypes

mpg             float64
cylinders         int64
displacement    float64
horse_power     float64
weight            int64
acceleration    float64
model_year        int64
car_name         object
dtype: object

In [20]:
auto['car_name'].unique()

array(['\t"chevrolet chevelle malibu"', '\t"buick skylark 320"',
       '\t"plymouth satellite"', '\t"amc rebel sst"', '\t"ford torino"',
       '\t"ford galaxie 500"', '\t"chevrolet impala"',
       '\t"plymouth fury iii"', '\t"pontiac catalina"',
       '\t"amc ambassador dpl"', '\t"dodge challenger se"',
       '\t"plymouth \'cuda 340"', '\t"chevrolet monte carlo"',
       '\t"buick estate wagon (sw)"', '\t"toyota corona mark ii"',
       '\t"plymouth duster"', '\t"amc hornet"', '\t"ford maverick"',
       '\t"datsun pl510"', '\t"volkswagen 1131 deluxe sedan"',
       '\t"peugeot 504"', '\t"audi 100 ls"', '\t"saab 99e"',
       '\t"bmw 2002"', '\t"amc gremlin"', '\t"ford f250"',
       '\t"chevy c20"', '\t"dodge d200"', '\t"hi 1200d"',
       '\t"chevrolet vega 2300"', '\t"toyota corona"', '\t"ford pinto"',
       '\t"plymouth satellite custom"', '\t"ford torino 500"',
       '\t"amc matador"', '\t"pontiac catalina brougham"',
       '\t"dodge monaco (sw)"', '\t"ford country squire (sw)"',
       '\t"pontiac safari (sw)"', '\t"amc hornet sportabout (sw)"',
       '\t"chevrolet vega (sw)"', '\t"pontiac firebird"',
       '\t"ford mustang"', '\t"mercury capri 2000"', '\t"opel 1900"',
       '\t"peugeot 304"', '\t"fiat 124b"', '\t"toyota corolla 1200"',
       '\t"datsun 1200"', '\t"volkswagen model 111"',
       '\t"plymouth cricket"', '\t"toyota corona hardtop"',
       '\t"dodge colt hardtop"', '\t"volkswagen type 3"',
       '\t"chevrolet vega"', '\t"ford pinto runabout"',
       '\t"amc ambassador sst"', '\t"mercury marquis"',
       '\t"buick lesabre custom"', '\t"oldsmobile delta 88 royale"',
       '\t"chrysler newport royal"', '\t"mazda rx2 coupe"',
       '\t"amc matador (sw)"', '\t"chevrolet chevelle concours (sw)"',
       '\t"ford gran torino (sw)"', '\t"plymouth satellite custom (sw)"',
       '\t"volvo 145e (sw)"', '\t"volkswagen 411 (sw)"',
       '\t"peugeot 504 (sw)"', '\t"renault 12 (sw)"',
       '\t"ford pinto (sw)"', '\t"datsun 510 (sw)"',
       '\t"toyouta corona mark ii (sw)"', '\t"dodge colt (sw)"',
       '\t"toyota corolla 1600 (sw)"', '\t"buick century 350"',
       '\t"chevrolet malibu"', '\t"ford gran torino"',
       '\t"dodge coronet custom"', '\t"mercury marquis brougham"',
       '\t"chevrolet caprice classic"', '\t"ford ltd"',
       '\t"plymouth fury gran sedan"', '\t"chrysler new yorker brougham"',
       '\t"buick electra 225 custom"', '\t"amc ambassador brougham"',
       '\t"plymouth valiant"', '\t"chevrolet nova custom"',
       '\t"volkswagen super beetle"', '\t"ford country"',
       '\t"plymouth custom suburb"', '\t"oldsmobile vista cruiser"',
       '\t"toyota carina"', '\t"datsun 610"', '\t"maxda rx3"',
       '\t"mercury capri v6"', '\t"fiat 124 sport coupe"',
       '\t"chevrolet monte carlo s"', '\t"pontiac grand prix"',
       '\t"fiat 128"', '\t"opel manta"', '\t"audi 100ls"',
       '\t"volvo 144ea"', '\t"dodge dart custom"', '\t"saab 99le"',
       '\t"toyota mark ii"', '\t"oldsmobile omega"', '\t"chevrolet nova"',
       '\t"datsun b210"', '\t"chevrolet chevelle malibu classic"',
       '\t"plymouth satellite sebring"', '\t"buick century luxus (sw)"',
       '\t"dodge coronet custom (sw)"', '\t"audi fox"',
       '\t"volkswagen dasher"', '\t"datsun 710"', '\t"dodge colt"',
       '\t"fiat 124 tc"', '\t"honda civic"', '\t"subaru"',
       '\t"fiat x1.9"', '\t"plymouth valiant custom"',
       '\t"mercury monarch"', '\t"chevrolet bel air"',
       '\t"plymouth grand fury"', '\t"buick century"',
       '\t"chevroelt chevelle malibu"', '\t"plymouth fury"',
       '\t"buick skyhawk"', '\t"chevrolet monza 2+2"',
       '\t"ford mustang ii"', '\t"toyota corolla"', '\t"pontiac astro"',
       '\t"volkswagen rabbit"', '\t"amc pacer"', '\t"volvo 244dl"',
       '\t"honda civic cvcc"', '\t"fiat 131"', '\t"capri ii"',
       '\t"renault 12tl"', '\t"dodge coronet brougham"',
       '\t"chevrolet chevette"', '\t"chevrolet woody"', '\t"vw rabbit"',
       '\t"dodge aspen se"', '\t"ford granada ghia"',
       '\t"pontiac ventura sj"', '\t"amc pacer d/l"', '\t"datsun b-210"',
       '\t"volvo 245"', '\t"plymouth volare premier v8"',
       '\t"mercedes-benz 280s"', '\t"cadillac seville"', '\t"chevy c10"',
       '\t"ford f108"', '\t"dodge d100"', '\t"honda accord cvcc"',
       '\t"buick opel isuzu deluxe"', '\t"renault 5 gtl"',
       '\t"plymouth arrow gs"', '\t"datsun f-10 hatchback"',
       '\t"oldsmobile cutlass supreme"', '\t"dodge monaco brougham"',
       '\t"mercury cougar brougham"', '\t"chevrolet concours"',
       '\t"buick skylark"', '\t"plymouth volare custom"',
       '\t"ford granada"', '\t"pontiac grand prix lj"',
       '\t"chevrolet monte carlo landau"', '\t"chrysler cordoba"',
       '\t"ford thunderbird"', '\t"volkswagen rabbit custom"',
       '\t"pontiac sunbird coupe"', '\t"toyota corolla liftback"',
       '\t"ford mustang ii 2+2"', '\t"dodge colt m/m"', '\t"subaru dl"',
       '\t"datsun 810"', '\t"bmw 320i"', '\t"mazda rx-4"',
       '\t"volkswagen rabbit custom diesel"', '\t"ford fiesta"',
       '\t"mazda glc deluxe"', '\t"datsun b210 gx"',
       '\t"oldsmobile cutlass salon brougham"', '\t"dodge diplomat"',
       '\t"mercury monarch ghia"', '\t"pontiac phoenix lj"',
       '\t"ford fairmont (auto)"', '\t"ford fairmont (man)"',
       '\t"plymouth volare"', '\t"amc concord"',
       '\t"buick century special"', '\t"mercury zephyr"',
       '\t"dodge aspen"', '\t"amc concord d/l"',
       '\t"buick regal sport coupe (turbo)"', '\t"ford futura"',
       '\t"dodge magnum xe"', '\t"datsun 510"', '\t"dodge omni"',
       '\t"toyota celica gt liftback"', '\t"plymouth sapporo"',
       '\t"oldsmobile starfire sx"', '\t"datsun 200-sx"', '\t"audi 5000"',
       '\t"volvo 264gl"', '\t"saab 99gle"', '\t"peugeot 604sl"',
       '\t"volkswagen scirocco"', '\t"honda accord lx"',
       '\t"pontiac lemans v6"', '\t"mercury zephyr 6"',
       '\t"ford fairmont 4"', '\t"amc concord dl 6"', '\t"dodge aspen 6"',
       '\t"ford ltd landau"', '\t"mercury grand marquis"',
       '\t"dodge st. regis"', '\t"chevrolet malibu classic (sw)"',
       '\t"chrysler lebaron town @ country (sw)"', '\t"vw rabbit custom"',
       '\t"maxda glc deluxe"', '\t"dodge colt hatchback custom"',
       '\t"amc spirit dl"', '\t"mercedes benz 300d"',
       '\t"cadillac eldorado"', '\t"plymouth horizon"',
       '\t"plymouth horizon tc3"', '\t"datsun 210"',
       '\t"fiat strada custom"', '\t"buick skylark limited"',
       '\t"chevrolet citation"', '\t"oldsmobile omega brougham"',
       '\t"pontiac phoenix"', '\t"toyota corolla tercel"',
       '\t"datsun 310"', '\t"ford fairmont"', '\t"audi 4000"',
       '\t"toyota corona liftback"', '\t"mazda 626"',
       '\t"datsun 510 hatchback"', '\t"mazda glc"',
       '\t"vw rabbit c (diesel)"', '\t"vw dasher (diesel)"',
       '\t"audi 5000s (diesel)"', '\t"mercedes-benz 240d"',
       '\t"honda civic 1500 gl"', '\t"renault lecar deluxe"',
       '\t"vokswagen rabbit"', '\t"datsun 280-zx"', '\t"mazda rx-7 gs"',
       '\t"triumph tr7 coupe"', '\t"ford mustang cobra"',
       '\t"honda accord"', '\t"plymouth reliant"',
       '\t"dodge aries wagon (sw)"', '\t"toyota starlet"',
       '\t"plymouth champ"', '\t"honda civic 1300"', '\t"datsun 210 mpg"',
       '\t"toyota tercel"', '\t"mazda glc 4"', '\t"plymouth horizon 4"',
       '\t"ford escort 4w"', '\t"ford escort 2h"', '\t"volkswagen jetta"',
       '\t"renault 18i"', '\t"honda prelude"', '\t"datsun 200sx"',
       '\t"peugeot 505s turbo diesel"', '\t"volvo diesel"',
       '\t"toyota cressida"', '\t"datsun 810 maxima"',
       '\t"oldsmobile cutlass ls"', '\t"ford granada gl"',
       '\t"chrysler lebaron salon"', '\t"chevrolet cavalier"',
       '\t"chevrolet cavalier wagon"', '\t"chevrolet cavalier 2-door"',
       '\t"pontiac j2000 se hatchback"', '\t"dodge aries se"',
       '\t"ford fairmont futura"', '\t"amc concord dl"',
       '\t"volkswagen rabbit l"', '\t"mazda glc custom l"',
       '\t"mazda glc custom"', '\t"plymouth horizon miser"',
       '\t"mercury lynx l"', '\t"nissan stanza xe"',
       '\t"honda civic (auto)"', '\t"datsun 310 gx"',
       '\t"buick century limited"',
       '\t"oldsmobile cutlass ciera (diesel)"',
       '\t"chrysler lebaron medallion"', '\t"ford granada l"',
       '\t"toyota celica gt"', '\t"dodge charger 2.2"',
       '\t"chevrolet camaro"', '\t"ford mustang gl"', '\t"vw pickup"',
       '\t"dodge rampage"', '\t"ford ranger"', '\t"chevy s-10"'],
      dtype=object)

In [21]:
auto['car_name'].value_counts()

\t"ford pinto"               6
\t"amc matador"              5
\t"toyota corolla"           5
\t"ford maverick"            5
\t"chevrolet chevette"       4
                            ..
\t"dodge monaco brougham"    1
\t"pontiac grand prix lj"    1
\t"nissan stanza xe"         1
\t"plymouth grand fury"      1
\t"amc rebel sst"            1
Name: car_name, Length: 305, dtype: int64

What is the newest model year and the oldest model year?

In [22]:
# Your code here:
print('newest model year is: ', auto['model_year'].min())
print('oldest model year is: ', auto['model_year'].max())

newest model year is:  70
oldest model year is:  82

Check the dataset for missing values and remove all rows containing at least one missing value.

In [23]:
# Your code here:
for col in auto:
    if auto[col].isna().sum() > 0:
        auto.drop(columns = col, inplace = True)

auto.isna().sum()

mpg             0
cylinders       0
displacement    0
weight          0
acceleration    0
model_year      0
car_name        0
dtype: int64

Find the frequency table for the `cylinders` column using the `value_counts()` function. How many possible values of cylinders are there?

In [24]:
# Your code here:
auto['cylinders'].value_counts()

4    204
8    103
6     84
3      4
5      3
Name: cylinders, dtype: int64

We would like to generate a linear regression model that will predict mpg. To do this, first drop the `car_name` column since it does not contain any quantitative data. Next separate the dataframe to predictor and response variables. Separate those into test and training data with 80% of the data in the training set and the remainder in the test set. 

Assign the predictor and response training data to `X_train` and `y_train` respectively. Similarly, assign the predictor and response test data to `X_test` and `y_test`.

In [25]:
# Import the necessary function -> imported above
auto.columns

Index(['mpg', 'cylinders', 'displacement', 'weight', 'acceleration',
       'model_year', 'car_name'],
      dtype='object')

In [26]:
# Your code here:
auto.drop(columns = 'car_name', inplace = True)

In [27]:
features_auto = auto[['cylinders', 'displacement', 'weight', 'acceleration', 'model_year']]
target_auto = auto[['mpg']]


X_train, X_test, y_train, y_test = train_test_split(
    features_auto,
    target_auto,
    test_size = .2,
    random_state = 42,
)

Now we will the dataset that we processed and peform linear regression on this data to predict the mpg for each vehicle. Initialize the model in the cell below.

In [28]:
# Your code here:

auto_model = LinearRegression()

Next, fit the model in the cell below.

In [29]:
# Your code here:

auto_model.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

# Challenge 3 - Evaluate the Model

the r squared score of a model tells us how much variation is explained by the model. In a typical dataset, most observations differ from the mean. When we create a model, we are trying to generate an equation that will tell us by how much each observation will differ from the mean. Obviously, the vast majority of models are not perfect. They can only predict some of the variation from the mean but not all of it. We attribute the rest of the difference between the actual value and the mean to random error. We would like random error to explain the as little as possible of the variation. This is why the r squared score is an important metric.

In the next cell, compute the r squared score of the model. Do this by first computing the predicted values and assign them to `y_pred`.

In [30]:
# Import the necessary function: -> imported above

In [31]:
# Your code here:
y_pred = auto_model.predict(X_test)

#### Our next step is to evaluate the model using the test data. We would like to ensure that our model is not overfitting the data. This means that our model will not be able to generalize well outside of the training data.

In the cell below, use the model to generate the predicted values for the training data and assign them to `y_test_pred`. Compute the r squared score for the test data by comparing the oberserved `y_test` data and the predicted `y_test_pred`.

In [32]:
# Your code here:
r2_score(y_test, y_pred)

0.8243783466572338

# Challenge 4 - Improve the Model Fit

While the most common way to improve the fit of a model is by using regularization, there are other simpler ways to improve model fit. The first is to create a simpler model. The second is to increase the train sample size.

Let us start with the easier option and increase our train sample size to 90% of the data. Create a new test train split and name the new predictors and response variables `X_train09`, `X_test09`, `y_train09`, `y_test09`.

In [33]:
# Your code here:
X_train09, X_test09, y_train09, y_test09 = train_test_split(
    features_auto,
    target_auto,
    test_size = .1,
    random_state = 42,
)

Initialize a new model. Name this model `auto_model09`. Fit the model to the new sample data.

In [34]:
# Your code here:
auto_model09 = LinearRegression()

auto_model09.fit(X_train09, y_train09)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

Compute the predicted values and r squared score for our new model and new sample data.

In [38]:
# Your code here:
y_pred09 = auto_model09.predict(X_test09)

Compute the r squared score for the smaller test set. Is there an improvement in the test r squared?

In [39]:
# Your code here:
r2_score(y_test09, y_pred09)

0.8067413703321656

The r2 score went down, which seems to indicate a the reverse of improvement, unless our goal was to decrease the score in order to not over fit.

# Bonus Challenge 2 - Backward Elimination 

The main way to produce a simpler linear regression model is to reduce the number of variables used in the model. In scikit-learn, we can do this by using recursive feature elimination. You can read more about RFE [here](https://scikit-learn.org/stable/modules/generated/sklearn.feature_selection.RFE.html).

In the next cell, we will import RFE

In [47]:
# Library has been imported at the beginning of notebook

Follow the documentation and initialize an RFE model using the `auto_model` linear regression model. Set `n_features_to_select=3`

In [69]:
# Your code here:

selector = RFE(
    auto_model, # estimator
    n_features_to_select = 3, # number of features to select; if none, half are selected
).fit(X_train, y_train)

selector

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/sklearn/utils/validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

RFE(estimator=LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
                               normalize=False),
    n_features_to_select=3, step=1, verbose=0)

Fit the model and print the ranking

In [70]:
# Your code here:
selector.ranking_

array([1, 3, 2, 1, 1])

In [51]:
features_auto.head()

   cylinders  displacement  weight  acceleration  model_year
0          8         307.0    3504          12.0          70
1          8         350.0    3693          11.5          70
2          8         318.0    3436          11.0          70
3          8         304.0    3433          12.0          70
4          8         302.0    3449          10.5          70

Feature importance is ranked from most important (1) to least important (4). Generate a model with the three most important features. The features correspond to variable names. For example, feature 1 is `cylinders` and feature 2 is `displacement`.

Perform a test-train split on this reduced column data and call the split data `X_train_reduced`, `X_test_reduced`, `y_test_reduced`, `y_train_reduced`. Use an 80% split.

## Reduced it to 70% split because we had already done 80% split for this data

In [65]:
# Your code here:
X_train_reduced, X_test_reduced, y_train_reduced, y_test_reduced = train_test_split(
    features_auto,
    target_auto,
    test_size = .3,
    random_state = 42,
)

Generate a new model called `auto_model_reduced` and fit this model. Then proceed to compute the r squared score for the model. Did this cause an improvement in the r squared score?

In [66]:
# Your code here: 
auto_model_reduced = LinearRegression()

auto_model_reduced.fit(X_train_reduced, y_train_reduced)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [67]:
y_pred_reduced = auto_model_reduced.predict(X_test_reduced)

In [68]:
r2_score(y_test_reduced, y_pred_reduced)

0.826973399830193

## This lowered the r sqaured score by about 0.01