# Project: Data Cleaning and Manipulation with Pandas
## Global Shark Attack Incidents

Importing libraries and Data

In [1]:
import pandas as pd
import numpy as np
data_path = 'GSAF5.csv'
original = pd.read_csv(data_path, engine = 'python')

In [2]:
data = original
original.head() #Checking data

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.c,2016.09.18.c,5993,NaN,NaN
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.b,2016.09.18.b,5992,NaN,NaN
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.a,2016.09.18.a,5991,NaN,NaN
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,...,NaN,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.17,2016.09.17,5990,NaN,NaN
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,...,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.16,2016.09.15,5989,NaN,NaN

In [3]:
# 1. Removing Duplicates:
before =len(data)
data = data.drop_duplicates()
after =len(data)
print('The numbers of duplicates is', before - after)
print('The data has ', after,' rows')

The numbers of duplicates is 0
The data has  5992  rows

In [4]:
#2. Checking Empty Spaces
null_cols = data.isnull().sum() 
print(null_cols)

Case Number                  0
Date                         0
Year                         0
Type                         0
Country                     43
Area                       402
Location                   496
Activity                   527
Name                       200
Sex                        567
Age                       2681
Injury                      27
Fatal (Y/N)                 19
Time                      3213
Species                   2934
Investigator or Source      15
pdf                          0
href formula                 1
href                         3
Case Number.1                0
Case Number.2                0
original order               0
Unnamed: 22               5991
Unnamed: 23               5990
dtype: int64

In [5]:
#3. Dropiing low variance column
drop_cols = list(null_cols[null_cols > 5000].index)
data = data.drop(drop_cols, axis=1)
print(data.isnull().sum())

Case Number                  0
Date                         0
Year                         0
Type                         0
Country                     43
Area                       402
Location                   496
Activity                   527
Name                       200
Sex                        567
Age                       2681
Injury                      27
Fatal (Y/N)                 19
Time                      3213
Species                   2934
Investigator or Source      15
pdf                          0
href formula                 1
href                         3
Case Number.1                0
Case Number.2                0
original order               0
dtype: int64

In [6]:
data.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order'],
      dtype='object')

In [7]:
x =0
lst=[]
for col in list(data): #Looking location number
    print(col,x)
    lst.append(col)
    x +=1

Case Number 0
Date 1
Year 2
Type 3
Country 4
Area 5
Location 6
Activity 7
Name 8
Sex  9
Age 10
Injury 11
Fatal (Y/N) 12
Time 13
Species  14
Investigator or Source 15
pdf 16
href formula 17
href 18
Case Number.1 19
Case Number.2 20
original order 21

In [8]:
#4. Filling NA

data[lst] = data[lst].fillna('UNKNOWN')

#5. Renaming Columns
data.rename(columns={ data.columns[9]: 'Sex', data.columns[14]:'Species' }, inplace = True)

In [9]:
#6. Checking incorrect Values
set(data['Fatal (Y/N)'])

{' N', '#VALUE!', 'F', 'N', 'N ', 'UNKNOWN', 'Y', 'n'}

In [10]:
data['Fatal (Y/N)'] = data['Fatal (Y/N)'].replace({'#VALUE!': 'UNKNOWN','F':'UNKNOWN'})
data['Fatal (Y/N)'] = data['Fatal (Y/N)'].str.replace(" ","")
data['Fatal (Y/N)'] = data['Fatal (Y/N)'].str.upper()

In [11]:
set(data['Fatal (Y/N)']) #Checking if it was fixed?

{'N', 'UNKNOWN', 'Y'}

In [12]:
set(data['Year'])

{0,
 5,
 77,
 500,
 1543,
 1554,
 1555,
 1580,
 1595,
 1617,
 1637,
 1638,
 1642,
 1700,
 1703,
 1721,
 1733,
 1738,
 1742,
 1748,
 1749,
 1755,
 1758,
 1764,
 1767,
 1771,
 1776,
 1779,
 1785,
 1787,
 1788,
 1791,
 1800,
 1803,
 1804,
 1805,
 1807,
 1811,
 1812,
 1816,
 1817,
 1818,
 1819,
 1822,
 1825,
 1826,
 1827,
 1828,
 1829,
 1830,
 1831,
 1832,
 1834,
 1835,
 1836,
 1837,
 1839,
 1840,
 1841,
 1842,
 1844,
 1845,
 1846,
 1847,
 1848,
 1849,
 1850,
 1851,
 1852,
 1853,
 1854,
 1855,
 1856,
 1858,
 1859,
 1860,
 1861,
 1862,
 1863,
 1864,
 1865,
 1866,
 1867,
 1868,
 1869,
 1870,
 1871,
 1872,
 1873,
 1874,
 1875,
 1876,
 1877,
 1878,
 1879,
 1880,
 1881,
 1882,
 1883,
 1884,
 1885,
 1886,
 1887,
 1888,
 1889,
 1890,
 1891,
 1892,
 1893,
 1894,
 1895,
 1896,
 1897,
 1898,
 1899,
 1900,
 1901,
 1902,
 1903,
 1904,
 1905,
 1906,
 1907,
 1908,
 1909,
 1910,
 1911,
 1912,
 1913,
 1914,
 1915,
 1916,
 1917,
 1918,
 1919,
 1920,
 1921,
 1922,
 1923,
 1924,
 1925,
 1926,
 1927,
 1928,
 1929,
 1930,
 1931,
 1932,
 1933,
 1934,
 1935,
 1936,
 1937,
 1938,
 1939,
 1940,
 1941,
 1942,
 1943,
 1944,
 1945,
 1946,
 1947,
 1948,
 1949,
 1950,
 1951,
 1952,
 1953,
 1954,
 1955,
 1956,
 1957,
 1958,
 1959,
 1960,
 1961,
 1962,
 1963,
 1964,
 1965,
 1966,
 1967,
 1968,
 1969,
 1970,
 1971,
 1972,
 1973,
 1974,
 1975,
 1976,
 1977,
 1978,
 1979,
 1980,
 1981,
 1982,
 1983,
 1984,
 1985,
 1986,
 1987,
 1988,
 1989,
 1990,
 1991,
 1992,
 1993,
 1994,
 1995,
 1996,
 1997,
 1998,
 1999,
 2000,
 2001,
 2002,
 2003,
 2004,
 2005,
 2006,
 2007,
 2008,
 2009,
 2010,
 2011,
 2012,
 2013,
 2014,
 2015,
 2016}

In [13]:
data.loc[data['Year'] == 0] # I thoght that year 0 or 5, and 77... was incorrect but actually there some stuff before christ

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order
5868,0.0214,Ca. 214 B.C.,0,Unprovoked,UNKNOWN,Ionian Sea,UNKNOWN,Ascending from a dive,"Tharsys, a sponge diver",M,...,Y,UNKNOWN,UNKNOWN,"Reported by Greek poet, Leonidas of Tarentum (...",214BC-Tharsys.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,0.0214,0.0214,125
5869,0.0336,Ca. 336.B.C..,0,Unprovoked,GREECE,Piraeus,In the haven of Cantharus,Washing his pig in preparation for a religious...,A candidate for initiation,M,...,Y,UNKNOWN,UNKNOWN,Plutarch (45 - 125 A.D.) in Life of Phoecion (...,336-BC-Carnathus.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,0.0336,0.0336,124
5870,0.0493,493 B.C.,0,Sea Disaster,GREECE,Off Thessaly,UNKNOWN,Shipwrecked Persian Fleet,UNKNOWN,M,...,N,UNKNOWN,UNKNOWN,Herodotus (485 - 425 B.C.),493BC-PersianFleet.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,0.0493,0.0493,123
5871,0.0725,Ca. 725 B.C.,0,Sea Disaster,ITALY,Tyrrhenian Sea,"Vase found during excavations at Lacco Ameno, ...",UNKNOWN,UNKNOWN,UNKNOWN,...,N,UNKNOWN,UNKNOWN,V.M. Coppleson (1958),725BC-vase.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,0.0725,0.0725,122
5872,ND-0153,1990 or 1991,0,Unprovoked,KENYA,Mombasa,Kilindini,Diving,Conway Plough & Dr. Jonathan Higgs,M,...,N,UNKNOWN,UNKNOWN,A.J. Venter,ND-0153-Plough-Higgs.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND-0153,ND-0153,121
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5987,ND.0005,Before 1903,0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,...,Y,UNKNOWN,UNKNOWN,"H. Taunton; N. Bartlett, p. 234",ND-0005-RoebuckBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0005,ND.0005,6
5988,ND.0004,Before 1903,0,Unprovoked,AUSTRALIA,Western Australia,UNKNOWN,Pearl diving,Ahmun,M,...,Y,UNKNOWN,UNKNOWN,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0004,ND.0004,5
5989,ND.0003,1900-1905,0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,...,Y,UNKNOWN,UNKNOWN,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0003,ND.0003,4
5990,ND.0002,1883-1889,0,Unprovoked,PANAMA,UNKNOWN,"Panama Bay 8ï¿½N, 79ï¿½W",UNKNOWN,Jules Patterson,M,...,Y,UNKNOWN,UNKNOWN,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0002,ND.0002,3
5991,ND.0001,1845-1853,0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,...,Y,UNKNOWN,UNKNOWN,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0001,ND.0001,2

In [14]:
# 7 Getting Otliers
stats = data.describe().transpose()
stats['IQR'] = stats['75%'] - stats['25%']
stats

,count,mean,std,min,25%,50%,75%,max,IQR
Year,5992.0,1925.204606,286.473712,0.0,1942.00,1975.0,2003.00,2016.0,61.0
original order,5992.0,2997.548899,1729.860210,2.0,1499.75,2997.5,4495.25,5993.0,2995.5

In [15]:
outliers = pd.DataFrame(columns=data.columns)

for col in stats.index:
    iqr = stats.at[col,'IQR']
    cutoff = iqr * 1.5
    lower = stats.at[col,'25%'] - cutoff
    upper = stats.at[col,'75%'] + cutoff
    results = data[(data[col] < lower) | 
                   (data[col] > upper)].copy()
    results['Outlier'] = col
    outliers = outliers.append(results)
outliers

/usr/local/lib/python3.7/site-packages/pandas/core/frame.py:7123: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort,

,Activity,Age,Area,Case Number,Case Number.1,Case Number.2,Country,Date,Fatal (Y/N),Injury,...,Outlier,Sex,Species,Time,Type,Year,href,href formula,original order,pdf
4312,Swimming,UNKNOWN,Adana Province,1948.09.17.R,1948.09.17.R,1948.09.17.R,TURKEY,Reported 17-Sep-1848,Y,FATAL,...,Year,M,UNKNOWN,UNKNOWN,Unprovoked,1848,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1681,1948.09.17.R-Kaymaz.pdf
5755,Bathing,UNKNOWN,Lake Nicaragua (fresh water),1850.00.00,1850.00.00,1850.00.00,NICARAGUA,1850,Y,FATAL,...,Year,M,UNKNOWN,UNKNOWN,Unprovoked,1850,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,238,1850.00.00-LakeNicaragua.pdf
5756,UNKNOWN,UNKNOWN,New South Wales,1849.12.09,1849.12.09,1849.12.09,AUSTRALIA,09-Dec-1849,Y,FATAL,...,Year,M,UNKNOWN,UNKNOWN,Unprovoked,1849,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,237,1849.12.09-SydneyHarbour.pdf
5757,Bathing,UNKNOWN,New South Wales,1849.12.01,1849.12.01,1849.12.01,AUSTRALIA,01-Dec-1849,Y,FATAL,...,Year,M,UNKNOWN,Afternoon,Unprovoked,1849,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,236,1849.12.01-Sailor.pdf
5758,Swimming,UNKNOWN,Victoria,1849.09.19,1849.09.19,1849.09.19,AUSTRALIA,19-Sep-1849,Y,FATAL,...,Year,M,UNKNOWN,UNKNOWN,Unprovoked,1849,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,235,1849.09.19-Brother-seaman.pdf
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5987,Diving,UNKNOWN,Western Australia,ND.0005,ND.0005,ND.0005,AUSTRALIA,Before 1903,Y,FATAL,...,Year,M,UNKNOWN,UNKNOWN,Unprovoked,0,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,6,ND-0005-RoebuckBay.pdf
5988,Pearl diving,UNKNOWN,Western Australia,ND.0004,ND.0004,ND.0004,AUSTRALIA,Before 1903,Y,FATAL,...,Year,M,UNKNOWN,UNKNOWN,Unprovoked,0,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,5,ND-0004-Ahmun.pdf
5989,Swimming,UNKNOWN,North Carolina,ND.0003,ND.0003,ND.0003,USA,1900-1905,Y,FATAL,...,Year,M,UNKNOWN,UNKNOWN,Unprovoked,0,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,4,ND-0003-Ocracoke_1900-1905.pdf
5990,UNKNOWN,UNKNOWN,UNKNOWN,ND.0002,ND.0002,ND.0002,PANAMA,1883-1889,Y,FATAL,...,Year,M,UNKNOWN,UNKNOWN,Unprovoked,0,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,3,ND-0002-JulesPatterson.pdf
5991,Swimming,15,Eastern Province,ND.0001,ND.0001,ND.0001,CEYLON (SRI LANKA),1845-1853,Y,"FATAL. ""Shark bit him in half, carrying away t...",...,Year,M,UNKNOWN,UNKNOWN,Unprovoked,0,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2,ND-0001-Ceylon.pdf

In [32]:
# 8. Filtering Data to knwo how fatal could be having an incident with a Shark

total = data[data['Fatal (Y/N)'] != 'UNKNOWN']
print(total['Fatal (Y/N)'].value_counts(normalize=True)*100)

# There a fatal accident 1 of every 4 attacks

N    73.591969
Y    26.408031
Name: Fatal (Y/N), dtype: float64

In [34]:
# conditional and Filtering to know which is the Country with more Fatal incidents
fatal = total[total['Fatal (Y/N)'] == 'Y']
print(fatal['Country'].value_counts())
# The country that has reported more fatal incidents is Australia

AUSTRALIA             341
USA                   246
SOUTH AFRICA          137
PAPUA NEW GUINEA       56
MEXICO                 43
                     ...
CEYLON (SRI LANKA)      1
HAITI                   1
COOK ISLANDS            1
IRELAND                 1
VIETNAM                 1
Name: Country, Length: 149, dtype: int64