In [1]:
# DEPENDENCIES
import pandas as pd
import numpy as np
import re
# GLOBAL VARIABLES
# FUNCTIONS
# PROCEDURES
raw_data = pd.read_csv('/Users/sampoad/Documents/Ironhack/data-labs/module-1/pandas-project/GSAF5.csv', engine='python')
# print(raw_data.head())

raw_data = raw_data.drop(columns=['original order', 'Unnamed: 22', 'Unnamed: 23'])
# print(raw_data.head())
print(len(raw_data['Case Number']))
# print(len(raw_data['Case Number.1']))
# print(len(raw_data['Case Number.2']))
print(raw_data['Case Number'].isnull().sum())
print(raw_data['Case Number.1'].isnull().sum())
print(raw_data['Case Number.2'].isnull().sum())
print(raw_data.isnull().sum())

5992
0
0
0
Case Number                  0
Date                         0
Year                         0
Type                         0
Country                     43
Area                       402
Location                   496
Activity                   527
Name                       200
Sex                        567
Age                       2681
Injury                      27
Fatal (Y/N)                 19
Time                      3213
Species                   2934
Investigator or Source      15
pdf                          0
href formula                 1
href                         3
Case Number.1                0
Case Number.2                0
dtype: int64

In [2]:
print(list(raw_data))

['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location', 'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time', 'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href', 'Case Number.1', 'Case Number.2']

Since these three Columns appeared to identical for the first five rows, I want to drop the column if they are duplicates.

In [3]:
raw_data.drop(['Case Number.1', 'Case Number.2', 'pdf', 'href formula', 'href'], axis = 1, inplace = True)
print(list(raw_data))

['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location', 'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time', 'Species ', 'Investigator or Source']

In [4]:
print(raw_data.dtypes)

Case Number               object
Date                      object
Year                       int64
Type                      object
Country                   object
Area                      object
Location                  object
Activity                  object
Name                      object
Sex                       object
Age                       object
Injury                    object
Fatal (Y/N)               object
Time                      object
Species                   object
Investigator or Source    object
dtype: object

In [5]:
print(raw_data.drop('Year', axis = 1).describe()) # this lets me review the Summary info for the dataframe minus the Year column which is an integer datatype

         Case Number  Date        Type Country     Area  \
count           5992  5992        5992    5949     5590
unique          5976  5128           6     203      785
top     1907.10.16.R  1957  Unprovoked     USA  Florida
freq               2    11        4386    2116      990

                                Location Activity  Name  Sex    Age Injury  \
count                               5496     5465  5792  5425  3311   5965
unique                              3929     1492  5009     6   151   3595
top     New Smyrna Beach, Volusia County  Surfing  male     M    17  FATAL
freq                                 157      904   495  4835   148    729

       Fatal (Y/N)       Time     Species  Investigator or Source
count         5973       2779         3058                   5977
unique           8        357         1538                   4752
top              N  Afternoon  White shark         C. Moore, GSAF
freq          4315        174          161                     94

I want to drop the rows that do not belong to either Provoked or Unprovoked

In [6]:
clean_data = raw_data[(raw_data['Type'] == 'Provoked') | (raw_data['Type'] == 'Unprovoked')]
print(clean_data.head())

print(len(raw_data['Type']))
print(len(clean_data['Type']))
print("Rows Dropped: " + str(len(raw_data['Type']) - len(clean_data['Type'])))

    Case Number       Date  Year        Type    Country      Area  \
0  2016.09.18.c  18-Sep-16  2016  Unprovoked        USA   Florida
1  2016.09.18.b  18-Sep-16  2016  Unprovoked        USA   Florida
2  2016.09.18.a  18-Sep-16  2016  Unprovoked        USA   Florida
3    2016.09.17  17-Sep-16  2016  Unprovoked  AUSTRALIA  Victoria
4    2016.09.15  16-Sep-16  2016  Unprovoked  AUSTRALIA  Victoria

                           Location Activity             Name Sex   Age  \
0  New Smyrna Beach, Volusia County  Surfing             male    M   16
1  New Smyrna Beach, Volusia County  Surfing   Chucky Luciano    M   36
2  New Smyrna Beach, Volusia County  Surfing             male    M   43
3                  Thirteenth Beach  Surfing  Rory Angiolella    M  NaN
4                       Bells Beach  Surfing             male    M  NaN

                                  Injury Fatal (Y/N)   Time   Species   \
0                  Minor injury to thigh           N  13h00        NaN
1                   Lacerations to hands           N  11h00        NaN
2               Lacerations to lower leg           N  10h43        NaN
3           Struck by fin on chest & leg           N    NaN        NaN
4  No injury: Knocked off board by shark           N    NaN  2 m shark

        Investigator or Source
0  Orlando Sentinel, 9/19/2016
1  Orlando Sentinel, 9/19/2016
2  Orlando Sentinel, 9/19/2016
3           The Age, 9/18/2016
4           The Age, 9/16/2016
5992
4943
Rows Dropped: 1049

Check on nullvalue counts after this drop.

In [7]:
print(clean_data.isnull().sum())

Case Number                  0
Date                         0
Year                         0
Type                         0
Country                     30
Area                       275
Location                   360
Activity                   357
Name                        82
Sex                        227
Age                       1928
Injury                      16
Fatal (Y/N)                  3
Time                      2429
Species                   2377
Investigator or Source      11
dtype: int64

Drop the nulls in Country (no meaningful way to replace these).

In [8]:
print(len(clean_data['Country'])) # returns 4943
clean_data = clean_data[clean_data['Country'].notnull()]
#filtered_df = df[df['Nums'] > 3]  # Filter out rows where 'Nums' value <= 3
print(len(clean_data['Country'])) # now returns 4913
#that dropped my thirty rows! 
print(clean_data.head())

4943
4913
    Case Number       Date  Year        Type    Country      Area  \
0  2016.09.18.c  18-Sep-16  2016  Unprovoked        USA   Florida
1  2016.09.18.b  18-Sep-16  2016  Unprovoked        USA   Florida
2  2016.09.18.a  18-Sep-16  2016  Unprovoked        USA   Florida
3    2016.09.17  17-Sep-16  2016  Unprovoked  AUSTRALIA  Victoria
4    2016.09.15  16-Sep-16  2016  Unprovoked  AUSTRALIA  Victoria

                           Location Activity             Name Sex   Age  \
0  New Smyrna Beach, Volusia County  Surfing             male    M   16
1  New Smyrna Beach, Volusia County  Surfing   Chucky Luciano    M   36
2  New Smyrna Beach, Volusia County  Surfing             male    M   43
3                  Thirteenth Beach  Surfing  Rory Angiolella    M  NaN
4                       Bells Beach  Surfing             male    M  NaN

                                  Injury Fatal (Y/N)   Time   Species   \
0                  Minor injury to thigh           N  13h00        NaN
1                   Lacerations to hands           N  11h00        NaN
2               Lacerations to lower leg           N  10h43        NaN
3           Struck by fin on chest & leg           N    NaN        NaN
4  No injury: Knocked off board by shark           N    NaN  2 m shark

        Investigator or Source
0  Orlando Sentinel, 9/19/2016
1  Orlando Sentinel, 9/19/2016
2  Orlando Sentinel, 9/19/2016
3           The Age, 9/18/2016
4           The Age, 9/16/2016

Drop the rows where Sex was not reported (no meaninful way to replace, and unable to answer my question)
But I should have been able to do BOTH in a combined conditional (Country and Sex) try that in the code below

In [9]:
print(len(clean_data['Country'])) # returns 4913 now because I dropped from above
clean_data = clean_data[
    (clean_data['Country'].notnull()) &
    (clean_data['Sex '].notnull()) # column name Sex had a trailing whitespace that threw me off with a Key Error. should have .strip() the elements in the list of column names! 
]
print(len(clean_data['Country'])) # should return 4913 - 227

4913
4686

In [10]:
# clean_data = clean_data['Age'].fillna(clean_data['Age'].median()) # need to strip out the alpha characters, convert everything to an integer in this column. Astype or strip it/drop it?
# print(clean_data['Age'].isnull().sum())
print(clean_data['Age'].dtype)

object

So the above shows me that I have non-integer values in my age column, which I'll need to contend with so that I can replace the null values in the column.

In [11]:
# clean_data['Age'] = clean_data['Age'].astype('int64') # gives a Type Error? tried a few different formats
# clean_data['Age'] = clean_data.astype({'Age':'int64'}) # Same error
# print(clean_data['Age'].dtype)

In [12]:
clean_data = clean_data[ clean_data['Age'].notnull() ]
print(clean_data.head(10))

     Case Number       Date  Year        Type        Country            Area  \
0   2016.09.18.c  18-Sep-16  2016  Unprovoked            USA         Florida
1   2016.09.18.b  18-Sep-16  2016  Unprovoked            USA         Florida
2   2016.09.18.a  18-Sep-16  2016  Unprovoked            USA         Florida
6     2016.09.11  11-Sep-16  2016  Unprovoked            USA         Florida
7     2016.09.07  07-Sep-16  2016  Unprovoked            USA          Hawaii
8     2016.09.06  06-Sep-16  2016  Unprovoked  NEW CALEDONIA  North Province
9   2016.09.05.b  05-Sep-16  2016  Unprovoked            USA  South Carolina
11    2016.09.04  04-Sep-16  2016  Unprovoked            USA         Florida
12    2016.09.01  01-Sep-16  2016  Unprovoked            USA      California
13  2016.08.29.b  29-Aug-16  2016  Unprovoked            USA         Florida

                                           Location         Activity  \
0                  New Smyrna Beach, Volusia County          Surfing
1                  New Smyrna Beach, Volusia County          Surfing
2                  New Smyrna Beach, Volusia County          Surfing
6                     Ponte Vedra, St. Johns County           Wading
7                                      Makaha, Oahu         Swimming
8                                            Koumac     Kite surfing
9   Kingston Plantation, Myrtle Beach, Horry County  Boogie boarding
11                 New Smyrna Beach, Volusia County    Body boarding
12        Refugio State Beach, Santa Barbara County     Spearfishing
13                 New Smyrna Beach, Volusia County          Surfing

                Name Sex   Age                                      Injury  \
0               male    M   16                       Minor injury to thigh
1     Chucky Luciano    M   36                        Lacerations to hands
2               male    M   43                    Lacerations to lower leg
6               male    M  60s                         Minor injury to arm
7             female    F   51    Severe lacerations to shoulder & forearm
8       David Jewell    M   50                                       FATAL
9     Rylie Williams    F   12  Lacerations & punctures to lower right leg
11      Austin Moore    M    9                                 Foot bitten
12  Tyler McQuillen     M   22                 Two toes broken & lacerated
13     Sam Cumiskey     M   25                   Lacerations to right foot

   Fatal (Y/N)            Time          Species        Investigator or Source
0            N           13h00               NaN  Orlando Sentinel, 9/19/2016
1            N           11h00               NaN  Orlando Sentinel, 9/19/2016
2            N           10h43               NaN  Orlando Sentinel, 9/19/2016
6            N           15h15    3' to 4' shark          News4Jax, 9/11/2016
7            N           14h30  Tiger shark, 10?    Hawaii News Now, 9/7/2016
8            Y           15h40               NaN       TVANouvelles, 9/6/2016
9            N  Late afternoon               NaN            C. Creswell, GSAF
11           N             NaN               NaN   Orlando Sentinel, 9/7/2016
12           N             NaN       White shark             R. Collier, GSAF
13           N           15h00    Bull shark, 6'      News Channel 8, 8/30/16

In [13]:
# df[df['id'].apply(lambda x: isinstance(x, (int, np.int64)))]
# clean_data['Age'] = clean_data['Age'].astype({'Age':int})
# clean_data['Age'] = clean_data['Age'].astype(str)
# clean_data['Age'] = clean_data['Age'].astype(int)
# print(clean_data2['Age'].dtype)
# print(clean_data2.head())
# df.drop(df.loc[df['line_race']==0].index, inplace=True)
# clean_data = clean_data.drop(
#     clean_data.loc[
#         clean_data['Age'] == '60s'
#     ], axis = 1)
print(clean_data['Age'].dtype)

object

In [14]:
print(clean_data['Age'].unique())

['16' '36' '43' '60s' '51' '50' '12' '9' '22' '25' '37' '20' '49' '15'
 '21' '40' '72' '18' '29' '31' '11' '10' '59' '42' '34' '35' '19' '6' '64'
 '60' '23' '52' '13' '57' '48' '39' '24' '26' '69' '46' 'Teen' '41' '45'
 '38' '71' '32' '58' '28' '54' '44' '14' '7' '27' '62' '40s' '68' '47'
 '17' '30' '65' '63' '70' '18 months' '53' '20s' '33' '30s' '50s' '8' '61'
 '55' 'teen' '66' '77' '74' '3' '56' '28 & 26' '5' '86' '18 or 20'
 '12 or 13' '84' '� ' ' ' '30 or 36' '6�' '21 & ?' '33 or 37' 'mid-30s'
 '73' '20?' "60's" '87' 'Elderly' '75' '21 or 26' '>50' '18 to 22' 'adult'
 '9 months' '25 to 35' '23 & 26' '1' '(adult)' '33 & 37' '25 or 28'
 '30 & 32' '17 & 35' 'X' '"middle-age"' '13 or 18' '33 & 26' '81'
 '"young"' '7 or 8' '8 or 10' 'Both 11' '9 or 10' 'young' '36 & 23' '  '
 '78' 'A.M.' '10 or 12' '31 or 33' '2�' '13 or 14']

In [15]:
# clean_data['Clean Ages'] = re.sub('[^0-9]', '', list(clean_data['Age']))


clean_data['Clean Ages'] = clean_data['Age'].apply(lambda x: re.sub('[^0-9]', '', x))
print(clean_data['Clean Ages'])

0         16
1         36
2         43
6         60
7         51
8         50
9         12
11         9
12        22
13        25
14        37
15        20
16        49
17        15
18        21
19        22
20        40
21        72
23        43
24        18
25        29
26        36
28        31
30         9
31        11
34        10
36        59
38        42
39        34
40        35
        ...
5700      18
5701      18
5718      21
5721      22
5726      17
5730       2
5762      15
5765      19
5780      78
5790      29
5792      12
5802      52
5807      17
5823      22
5837
5844      14
5851      19
5874      20
5879      15
5890      21
5916      19
5928      27
5929      36
5931      25
5932       6
5933      16
5944      50
5955    1314
5966      16
5991      15
Name: Clean Ages, Length: 2981, dtype: object

That's a value of 1,314, most likely from 13-14 and the regex removing the hyphen..
Should have first done a function that recognized a range, and took the mean of the upper and lower bounds.
for now, i'll drop anything over 120.

In [16]:
# clean_data['Clean Ages'] = clean_data['Clean Ages'].notnull()
# print(clean_data['Clean Ages'])

In [17]:
# clean_data['Clean Ages'] = pd.to_numeric(clean_data['Clean Ages'].astype('int'))
# print(clean_data['Clean Ages'].dtype)

In [22]:
clean_data['Clean Ages'] = pd.to_numeric(clean_data['Clean Ages'], errors = 'coerce')
# print(clean_data['Clean Ages'].max())
# clean_data['Clean Ages'] = clean_data['Clean Ages'].dropna()
# clean_data['Clean Ages'] = clean_data[
#     clean_data['Clean Ages'] <= 120
# ]
# df[df.id.apply(lambda x: x.isnumeric())]
# clean_data['Clean Ages'] = clean_data[clean_data['Clean Ages'].apply(lambda x: x.isnumeric())]
# print(clean_data['Clean Ages'])
# clean_data['Clean Ages'] = clean_data[
#     clean_data['Clean Ages'].astype('int') <= 120
# ]
# print(clean_data['Clean Ages'])

# new_df = df[df['id'].apply(lambda x: type(x) in [int, np.int64, float, np.float64])]
# clean_data = clean_data[
#     clean_data['Clean Ages'].apply(
#         lambda x: isinstance(x, int) in [
#             int, np.int64, float, np.float64
#         ])
# ]
# clean_data = clean_data[
#     clean_data['Clean Ages'].apply(
#         lambda x: isinstance(x, int) ) ]

clean_data['Clean Ages'] = clean_data['Clean Ages'].dropna()
print("The mean reported age of a shark attack victim is " + str(clean_data['Clean Ages'].mean()))
print("The median reported age of a shark attack victim is " + str(clean_data['Clean Ages'].median()))
print("The most frequently reported age of a shark attack victim is " + str(clean_data['Clean Ages'].mode()))
print("The maximum reported age of a shark attack victim is " + str(clean_data['Clean Ages'].max()))
print("The minimum reported age of a shark attack victim is " + str(clean_data['Clean Ages'].min()))

The mean reported age of a shark attack victim is 42.6331641285956

In [19]:
clean_data['Age groups'] = pd.cut(clean_data['Clean Ages'], [0, 1, 18, 55], labels=['Child-Adolescent', 'Adult', 'Senior'])
print(clean_data['Age groups'].head(50))

0      Adult
1     Senior
2     Senior
6        NaN
7     Senior
8     Senior
9      Adult
11     Adult
12    Senior
13    Senior
14    Senior
15    Senior
16    Senior
17     Adult
18    Senior
19    Senior
20    Senior
21       NaN
23    Senior
24     Adult
25    Senior
26    Senior
28    Senior
30     Adult
31     Adult
34     Adult
36       NaN
38    Senior
39    Senior
40    Senior
41     Adult
42       NaN
43    Senior
44    Senior
47    Senior
48     Adult
49    Senior
51       NaN
52       NaN
53    Senior
56    Senior
57    Senior
58     Adult
59       NaN
60    Senior
61     Adult
62    Senior
63    Senior
64       NaN
65    Senior
Name: Age groups, dtype: category
Categories (3, object): [Child-Adolescent < Adult < Senior]

In [30]:
clean_data['Clean Ages'] = clean_data['Clean Ages'].dropna()
print("The mean reported age of a shark attack victim is " + str(clean_data['Clean Ages'].mean()))
print("The median reported age of a shark attack victim is " + str(clean_data['Clean Ages'].median()))
print("The maximum reported age of a shark attack victim is " + str(clean_data['Clean Ages'].max()))
print("The minimum reported age of a shark attack victim is " + str(clean_data['Clean Ages'].min()))

The mean reported age of a shark attack victim is 42.6331641285956
The median reported age of a shark attack victim is 23.0
The maximum reported age of a shark attack victim is 3623.0
The minimum reported age of a shark attack victim is 1.0