In [1]:
# Imported Libraries

import pandas as pd

In [2]:
# Importing CSV file into a data frame

shark_df = pd.read_csv('GSAF5.csv',encoding ='latin1')

shark_df_test = shark_df

In [3]:
# Shows the amount of null values in all columns

nulls = shark_df.isna().sum()
print(nulls)

Case Number                  0
Date                         0
Year                         0
Type                         0
Country                     43
Area                       402
Location                   496
Activity                   527
Name                       200
Sex                        567
Age                       2681
Injury                      27
Fatal (Y/N)                 19
Time                      3213
Species                   2934
Investigator or Source      15
pdf                          0
href formula                 1
href                         3
Case Number.1                0
Case Number.2                0
original order               0
Unnamed: 22               5991
Unnamed: 23               5990
dtype: int64

In [4]:
# Drops columns with more than 1000 nulls

shark_df_test.dropna(axis = 1, thresh = len(shark_df_test) - 1000, inplace = True)

for column in shark_df_test:
    print(column)

Case Number
Date
Year
Type
Country
Area
Location
Activity
Name
Sex
Injury
Fatal (Y/N)
Investigator or Source
pdf
href formula
href
Case Number.1
Case Number.2
original order

In [5]:
#Drops any duplicate column

shark_df_test.drop_duplicates(inplace = True)
for column in shark_df_test:
    print(column)

Case Number
Date
Year
Type
Country
Area
Location
Activity
Name
Sex
Injury
Fatal (Y/N)
Investigator or Source
pdf
href formula
href
Case Number.1
Case Number.2
original order

In [6]:
#Drops columns deemed not needed

shark_df_test.drop(['href formula','href', 'Case Number.1', 'Case Number.2', 'original order', 'Investigator or Source', 'Injury', 'pdf'], axis = 1, inplace = True)
for column in shark_df_test:
    print(column)

Case Number
Date
Year
Type
Country
Area
Location
Activity
Name
Sex
Fatal (Y/N)

In [7]:
# Replace null values in FATAL columns with N

shark_df_test[['Fatal (Y/N)']] = shark_df_test[['Fatal (Y/N)']].fillna(axis = 0, value = 'N')

nulls_1 = shark_df_test.isna().sum()
              
print(nulls_1)

Case Number      0
Date             0
Year             0
Type             0
Country         43
Area           402
Location       496
Activity       527
Name           200
Sex            567
Fatal (Y/N)      0
dtype: int64

In [8]:
# Drop rows that have null values in Country column

shark_df_test.dropna(axis = 0, subset = ['Country'], inplace = True)

nulls_1 = shark_df_test.isna().sum()
              
print(nulls_1)

Case Number      0
Date             0
Year             0
Type             0
Country          0
Area           372
Location       463
Activity       521
Name           195
Sex            564
Fatal (Y/N)      0
dtype: int64

In [9]:
#Drop rows where Type = Invalid

shark_df_test.drop(shark_df_test.loc[shark_df_test['Type']=='Invalid'].index, inplace=True)

print(shark_df_test.Type.unique())

['Unprovoked' 'Boat' 'Provoked' 'Sea Disaster' 'Boating']

In [10]:
# Replace any value in Type that are not Provoked with Unprovoked

shark_df_test.loc[(shark_df_test.Type != 'Provoked'),'Type']='Unprovoked'

print(shark_df_test.Type.unique())

['Unprovoked' 'Provoked']

In [11]:
#Renaming Fatal column

shark_df_test.rename({'Fatal (Y/N)': 'Fatal'}, axis = 1, inplace = True)

nulls_1 = shark_df_test.isna().sum()
              
print(nulls_1)

Case Number      0
Date             0
Year             0
Type             0
Country          0
Area           332
Location       415
Activity       401
Name           143
Sex            492
Fatal            0
dtype: int64

In [19]:
# Replacing values in Fatal with Yes or No

shark_df_test["Fatal"].replace(['N',' N', 'N ','n','UNKNOWN'], 'No', inplace = True) 

shark_df_test["Fatal"].replace('Y', 'Yes', inplace = True)

print(shark_df_test.Fatal.unique())

['No' 'Yes']