## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [40]:
# Your code here

sample_list_1 = random.sample(range(0, 100), 80)

print(sample_list_1)

[52, 68, 7, 98, 42, 41, 90, 51, 60, 15, 50, 82, 64, 35, 43, 56, 71, 69, 96, 53, 47, 73, 78, 85, 65, 24, 66, 86, 58, 25, 67, 19, 63, 95, 44, 40, 79, 38, 8, 26, 75, 81, 46, 33, 22, 99, 4, 93, 6, 62, 83, 29, 21, 94, 10, 16, 70, 48, 59, 34, 17, 89, 87, 88, 0, 30, 45, 97, 11, 92, 77, 3, 72, 32, 61, 37, 28, 5, 39, 13]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [85]:
# Your code here
set1 = set(sample_list_1)
print(set1)
len(set1)

{0, 3, 4, 5, 6, 7, 8, 10, 11, 13, 15, 16, 17, 19, 21, 22, 24, 25, 26, 28, 29, 30, 32, 33, 34, 35, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 50, 51, 52, 53, 56, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 75, 77, 78, 79, 81, 82, 83, 85, 86, 87, 88, 89, 90, 92, 93, 94, 95, 96, 97, 98, 99}

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [50]:
# Your code here
sample_list_2=[random.randint(0,100) for i in (range(100))]
while (len(sample_list_2) < 80):
    sample_list_2.append(i)
print(random.sample(sample_list_2,random.randint(0,100)))

[44, 93, 65, 23, 29, 45, 49, 87, 81, 55, 100, 6, 20, 43, 65, 26, 77, 20, 10, 23, 68, 84, 80, 43, 6, 57, 77, 67, 28, 7, 64, 77, 94, 27, 8, 97, 71, 25, 100, 12, 16, 48, 83, 76, 77, 32, 92, 55, 87, 56, 97, 78, 28, 9, 87, 3, 36, 27, 22, 66, 78, 89, 56, 100, 61, 20, 36, 93, 73, 16, 21, 36, 14, 92, 4, 68, 13, 9, 36, 96, 36, 45, 69, 32, 52, 1, 83, 71]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [54]:
# Your code here
set2 = set(sample_list_2)
set2
len(set2)

61

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [61]:
# Your code here
set3 = []

for list in set1:
    if list not in set2:
        set3.append(list)

print(set(set3))

{0, 5, 15, 17, 19, 24, 30, 33, 34, 35, 38, 39, 40, 41, 42, 46, 47, 50, 51, 53, 58, 59, 60, 62, 63, 70, 75, 79, 82, 85, 86, 88, 90, 98, 99}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [62]:
# Your code here
set4 = []


for list in set2:
    if list not in set1:
        set4.append(list)
        
print(set(set4))

{1, 36, 100, 9, 74, 12, 76, 14, 80, 49, 20, 55, 84, 23, 57, 27}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [97]:
# Your code here
set5 = []


for list in set2:
    if list in set1:
        set5.append(list)
        
print(set(set5))

{6, 7, 8, 10, 11, 13, 16, 21, 22, 25, 26, 28, 29, 32, 37, 43, 44, 45, 48, 52, 56, 61, 64, 65, 66, 67, 68, 69, 71, 72, 73, 77, 78, 81, 83, 87, 89, 92, 93, 94, 95, 96, 97}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [ ]:
# Your code here

#### Create an empty set called `set6`.

In [77]:
# Your code here
set6 = {}

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [110]:
# Your code here
# set3.update(set5)
# var arr = [
#   "apple",
#   "banana",
#   "cherry"
# ];

# arr = arr.concat([
#   "dragonfruit",
#   "elderberry",
#   "fig"
# ]);

# console.log(arr);
print(set3.update(set5)

AttributeError: 'list' object has no attribute 'update'

#### Check if `set1` and `set6` are equal.

In [82]:
# Your code here
if set1 == set6:
    print('Set1 and Set6 are equal')
else:
    print('They are not equal')

They are not equal

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [107]:
# Your code here
print(set1.issubset(set2))
print(set1.issubset(set3))

False
False

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [108]:
# Your code here
first = print(set3.union(set4)

AttributeError: 'list' object has no attribute 'union'

#### Using the `pop` method, remove the first element from `set1`.

In [112]:
# Your code here



removed_item = set1.pop()
print(removed_item)

print(set1)

5
{6, 7, 8, 10, 11, 13, 15, 16, 17, 19, 21, 22, 24, 25, 26, 28, 29, 30, 32, 33, 34, 35, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 50, 51, 52, 53, 56, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 75, 77, 78, 79, 81, 82, 83, 85, 86, 87, 88, 89, 90, 92, 93, 94, 95, 96, 97, 98, 99}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [115]:
# Your code here

list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for x in list_to_remove:
    for y in set1:
     set1.pop()
print(set1)

RuntimeError: Set changed size during iteration