## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [2]:
# Your code here
sample_list_1=random.sample(range(0, 100), 80)
print(sample_list_1)

[97, 69, 14, 58, 22, 88, 36, 50, 42, 51, 26, 27, 43, 1, 40, 76, 59, 64, 82, 78, 39, 61, 20, 72, 28, 92, 21, 49, 48, 32, 45, 90, 31, 9, 12, 63, 79, 37, 55, 62, 84, 15, 46, 99, 41, 25, 56, 10, 68, 2, 8, 80, 66, 95, 30, 75, 67, 34, 6, 53, 19, 89, 24, 44, 52, 54, 47, 85, 98, 94, 33, 71, 57, 73, 3, 91, 38, 70, 96, 60]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [3]:
# Your code here
set1= set(sample_list_1)

print(len(set1))

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [4]:
# Your code here
sample_list_2=[random.randrange(0,100) for i in range(80)]
  
print(sample_list_2)
print(sample_list_2[79],len(sample_list_2))

[53, 86, 23, 13, 44, 4, 24, 21, 79, 50, 85, 35, 27, 25, 75, 63, 49, 46, 30, 27, 27, 42, 63, 8, 70, 19, 55, 23, 33, 15, 84, 30, 75, 49, 2, 25, 8, 48, 35, 6, 31, 45, 71, 42, 71, 17, 85, 4, 45, 67, 15, 72, 17, 33, 84, 90, 90, 87, 5, 79, 49, 38, 41, 89, 66, 94, 56, 10, 99, 7, 87, 87, 12, 25, 85, 4, 85, 71, 50, 67]
67 80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [5]:
# Your code here
set2= set(sample_list_2)

print(len(set2))

#Sets only contain unique values, the length of the set will only

49

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [6]:
# Your code here
set3=set1-set2
print(set3)

{1, 3, 9, 14, 20, 22, 26, 28, 32, 34, 36, 37, 39, 40, 43, 47, 51, 52, 54, 57, 58, 59, 60, 61, 62, 64, 68, 69, 73, 76, 78, 80, 82, 88, 91, 92, 95, 96, 97, 98}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [7]:
# Your code here
set4=set2-set1
print(set4)

{35, 4, 5, 7, 13, 17, 86, 23, 87}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [8]:
# Your code here
set5=set1 & set2
print(set5)

{2, 6, 8, 10, 12, 15, 19, 21, 24, 25, 27, 30, 31, 33, 38, 41, 42, 44, 45, 46, 48, 49, 50, 53, 55, 56, 63, 66, 67, 70, 71, 72, 75, 79, 84, 85, 89, 90, 94, 99}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [9]:
# Your code here

if len(set1) == len(set2):
  print ("Both have same lenght as the contain 80 elements")
else:
  print("Different")

if len(set3) != len(set4):
  print ("Both sets contain their unique elements, thus lenghts are different")
else:
  print("Different")

Different
Both sets contain their unique elements, thus lenghts are different

#### Create an empty set called `set6`.

In [36]:
# Your code here
set6=set()
print(set6)

set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [39]:
# Your code here
set6.update(set3.union(set5))

print(set6)

{1, 2, 3, 6, 8, 9, 10, 12, 14, 15, 19, 20, 21, 22, 24, 25, 26, 27, 28, 30, 31, 32, 33, 34, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 66, 67, 68, 69, 70, 71, 72, 73, 75, 76, 78, 79, 80, 82, 84, 85, 88, 89, 90, 91, 92, 94, 95, 96, 97, 98, 99}

#### Check if `set1` and `set6` are equal.

In [48]:
# Your code here

for x in set1: 
    for y in set6: 
       if x == y: 
        result=True
print(result)

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [49]:
# Your code here

set1.issubset(set2)

False

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [50]:
# Your code here
union_set=set3.union(set4,set5)
union_all=union_set.union(set1,set2)
print(union_all)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 13, 14, 15, 17, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 66, 67, 68, 69, 70, 71, 72, 73, 75, 76, 78, 79, 80, 82, 84, 85, 86, 87, 88, 89, 90, 91, 92, 94, 95, 96, 97, 98, 99}

#### Using the `pop` method, remove the first element from `set1`.

In [51]:
# Your code here
x=set1.pop()

print(x)

1

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [52]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for i in list_to_remove:
    if i in set1:
            set1.remove(i)
print(set1)

{2, 3, 6, 8, 10, 12, 14, 15, 20, 22, 24, 25, 26, 27, 28, 30, 32, 33, 34, 36, 37, 38, 40, 42, 43, 44, 45, 46, 47, 48, 50, 52, 53, 54, 55, 56, 57, 58, 60, 62, 63, 64, 66, 67, 68, 70, 72, 73, 75, 76, 78, 80, 82, 84, 85, 88, 90, 92, 94, 95, 96, 97, 98}