## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [18]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [30]:
#  create sample_list_1, a list! 
#  populate it with 80 random values that do NOT need to be unique, just between 0 and 100
#  print sample_list_1
sample_list_1 = random.sample(range(1,100), 80)

print(sample_list_1)

[61, 41, 60, 96, 90, 92, 86, 28, 16, 6, 25, 13, 7, 64, 97, 26, 45, 82, 53, 22, 81, 38, 43, 31, 48, 33, 66, 18, 54, 1, 58, 23, 69, 40, 56, 71, 94, 12, 88, 51, 17, 76, 67, 46, 91, 32, 73, 5, 36, 93, 70, 87, 84, 80, 59, 14, 74, 29, 50, 65, 89, 10, 68, 79, 11, 77, 2, 98, 39, 57, 21, 9, 30, 20, 3, 55, 99, 35, 19, 37]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [31]:
#  Your code here
set1 = set(sample_list_1)

print(len(set1))

# set1 does have a length of 80, because random.sample selects values WITHOUT REPLACEMENT, per this line in the documentation
# Return a k length list of unique elements chosen from the population sequence or set. Used for random sampling without replacement.

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [43]:
# Your code here
sample_list_2 = []

for number in range(80):
    sample_list_2.append(random.randrange(1,101,1))

print(sample_list_2)
print(len(sample_list_2))

[96, 67, 80, 90, 10, 4, 46, 15, 53, 79, 11, 38, 94, 49, 62, 16, 64, 2, 82, 33, 39, 94, 23, 16, 5, 82, 53, 42, 23, 20, 77, 20, 73, 34, 53, 33, 90, 2, 23, 70, 9, 45, 52, 87, 22, 44, 43, 9, 16, 94, 80, 91, 62, 42, 89, 52, 41, 87, 77, 23, 26, 43, 13, 55, 63, 80, 6, 12, 78, 11, 32, 49, 16, 50, 19, 48, 7, 31, 2, 5]
80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [44]:
# Your code here
set2 = set(sample_list_2)

print(len(set2))

# No, the style of random selection for sample_list_2 had the potential for duplicate values, which are lost when converted to a set

52

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [45]:
# Your code here
set3 = set1.difference(set2)

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [46]:
# Your code here
set4 = set2.difference(set1)

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [47]:
# Your code here
set5 = set1.union(set2)

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [51]:
# Your code here
#  I predict that Set5 will be the greatest length, as it is the sum of two sets. Set5 should be the same as set2 + set3, as well as set1 + set4

if len(set5) == len(set2) + len(set3):
    if len(set5) == len(set1) + len(set4):
        print(True)
    else:
        print("Your hypothesis was incorrect.")

True

#### Create an empty set called `set6`.

In [65]:
# Your code here
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [66]:
# Your code here
#  since update is only going to include the non-duplicate values anyway, I can do this is one line
set6.update(set3,set5)

90

#### Check if `set1` and `set6` are equal.

In [58]:
# Your code here
if set1 == set6:
    print(True)
else:
    print(False)

# why did I get a false here? 
# set6 is the update of set3 and set5, and i know that set3 is set1 minus set2, and set5 is set1 plus set2
# so i'm just seeing if 
# set1 = set1-set2 plus set1+set2
# set1 = set1 plus set1
# and sets remove duplicates, so
# set1 = set1

False

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [71]:
# Your code here
set2.issubset(set1)
#  returns False
set3.issubset(set1)
#  returns True

True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [72]:
# Your code here
set7 = set3.union(set4,set5)
set8 = set1.union(set2)

set7 == set8
#  returns True

True

#### Using the `pop` method, remove the first element from `set1`.

In [88]:
# Your code here
# You can also use the pop(), method to remove an item, but this method will remove the last item. Remember that sets are unordered, so you will not know what item that gets removed.
# can't remove via index, because sets are unindexed.
# and the .pop() method doesn't take any arguments.
# try and start a for loop to get it to iterate through the set, but stop after the first value is retrieved? 

#def removeFirstElement():
#    for i in range(len(set1)):
#        return(set1.pop())

#removeFirstElement()

# I don't think that worked. When I ran this function, the "first" value in my unordered set was "61", not "2". but set1 did contain a 2.

poplist = list(set1)
poplist.pop(0)

# the above still doesn't feel totally right, I expect this was supposed to fail as sets are not indexed?

3

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [95]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
# Your code here
# use discard method instead of remove in case one of the elements in list_to_remove is not found in set1, to avoid throwing an error

for x in list_to_remove:
    set1.discard(x)

print(set1)

{2, 3, 5, 6, 7, 10, 12, 13, 14, 16, 17, 18, 20, 22, 23, 25, 26, 28, 30, 32, 33, 35, 36, 37, 38, 40, 43, 45, 46, 48, 50, 53, 54, 55, 56, 57, 58, 60, 64, 65, 66, 67, 68, 70, 73, 74, 76, 77, 80, 82, 84, 86, 87, 88, 90, 92, 93, 94, 96, 97, 98}