# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import numpy as np
import pandas as pd

# Challenge 1 - Index Functions

In this challenge, we will practice the advanced functions introduced in the lesson. However, before we start, we will load and evaluate our dataset.

In [2]:
# Run this code:

admissions = pd.read_csv('../Admission_Predict.csv')
#to remove trailing spaces at the end of the column names
admissions.columns = admissions.columns.str.rstrip()

Let's evaluate the dataset by looking at the `head` function.

In [3]:
# Your code here:
admissions.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90

Before beginning to work with this dataset and evaluating graduate admissions data, we will verify that there is no missing data in the dataset. Do this in the cell below.

In [4]:
#This will check any null values in the whole data frame, columns and rows.
#Your code here:
admissions.isnull()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
380,False,False,False,False,False,False,False,False,False
381,False,False,False,False,False,False,False,False,False
382,False,False,False,False,False,False,False,False,False
383,False,False,False,False,False,False,False,False,False
384,False,False,False,False,False,False,False,False,False

Interestingly, there is a column that uniquely identifies the applicants. This column is the serial number column. Instead of having our own index, we should make this column our index. Do this in the cell below. Keep the column in the dataframe in addition to making it an index.

In [5]:
#The column 'Serial No.' is set as the index of the admissions dataframe, the inplace param
#saves this new index to the admissions dataframe
# Your code here:
admissions.set_index('Serial No.',inplace = True)
admissions.head(100)

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
Serial No.,,,,,,,,
1,337,118,4,4.5,4.5,9.65,1,0.92
2,316,104,3,3.0,3.5,8.00,1,0.72
3,322,110,3,3.5,2.5,8.67,1,0.80
4,314,103,2,2.0,3.0,8.21,0,0.65
5,330,115,5,4.5,3.0,9.34,1,0.90
...,...,...,...,...,...,...,...,...
96,322,107,3,3.5,3.5,8.46,1,0.71
97,312,105,2,2.5,3.0,8.12,0,0.64
98,314,106,2,4.0,3.5,8.25,0,0.62
99,317,104,2,4.5,4.0,8.47,0,0.57
100,326,112,3,3.5,3.0,9.05,1,0.74

Turns out that `GRE Score` and `CGPA` also uniquely identify the data. Show this in the cell below.

In [6]:
# Your code here:
get_sco=(list(admissions['GRE Score']))
cgpa=(list(admissions['CGPA']))
n_index=(list(zip(get_sco,cgpa)))
index_n=list(zip(get_sco, cgpa)) 
index_df=pd.DataFrame(data=index_n)

In [7]:
index_df.shape[0]

385

Replace the index with an index comprised of two columns - `GRE Score` and `CGPA`. Remove the columns from the dataset as well. Make sure to use `inplace=True`.

Now change the index back to a sequence starting at zero using the `reset_index` function. Make sure to use `inplace=True`.

In [8]:
# Your code here:
admissions.set_index(["GRE Score", "CGPA"], inplace = True, drop = True)

In [9]:
admissions.reset_index(inplace = True)
admissions.head()

,GRE Score,CGPA,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit
0,337,9.65,118,4,4.5,4.5,1,0.92
1,316,8.00,104,3,3.0,3.5,1,0.72
2,322,8.67,110,3,3.5,2.5,1,0.80
3,314,8.21,103,2,2.0,3.0,0,0.65
4,330,9.34,115,5,4.5,3.0,1,0.90

# Challenge 2 - Advanced Functions

In this part of the lab, we would like to test complex conditions on the entire dataset at once. Let's start by finding the number of rows where the CGPA is higher than 9 and the student has conducted research.

In [10]:
# Your code here
df1=admissions[(admissions['Research']== True) & (admissions['CGPA'] > 9)]
df1.head()

,GRE Score,CGPA,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit
0,337,9.65,118,4,4.5,4.5,1,0.92
4,330,9.34,115,5,4.5,3.0,1,0.90
10,328,9.10,112,4,4.0,4.5,1,0.78
19,328,9.50,116,5,5.0,5.0,1,0.94
20,334,9.70,119,5,5.0,4.5,1,0.95

Now return all the rows where the CGPA is greater than 9 and the SOP score is less than 3.5. Find the mean chance of admit for these applicants.

In [11]:
# Your code here:
df2=admissions[(admissions['SOP']< 3.5) & (admissions['CGPA'] > 9)]
df2['Chance of Admit'].mean()

0.8019999999999999

We would like to create a deciding factor column for each student. We standardize several columns and then pick the most important factor from a lookup table. If the standardized value is above 0.8, the student will be accepted.

We will start by creating a standardized column for `CGPA`, `GRE Score` and `LOR`. We will name these columns `CGPA_std`, `GRE_std`, and `LOR_std` respecively.

Recall that standardizing a column is done by subtracting the mean of the column from all observations in the column and then dividing each observation in the column by the column's standard deviation.

In the cell below, write a standardization function (a function that takes a column as input and returns a standardized column as output). Make sure to use the `numpy` versions of mean and standard deviation.

In [12]:
def standardize(col):
    # This function takes a column from a dataframe and returns a standardized column by subtracting the column's mean
    # and dividing by the column's standard deviation.
    
    # Your code here:
    lst=[]
    mean=np.mean(list(admissions[col]))
    std=np.std(list(admissions[col]))
    
    for i in admissions[col]:
        new_val=(i-mean)/std
        lst.append(new_val)
    return pd.Series(lst)

standardize('CGPA')

0      1.750174
1     -0.992501
2      0.121191
3     -0.643433
4      1.234884
         ...
380    0.736216
381    0.852571
382    1.417729
383    0.304036
384    1.766796
Length: 385, dtype: float64

Now create the standardized columns `CGPA_std`, `GRE_std`, and `LOR_std` and add them to the `admissions` dataframe.

In [13]:
# Your code here:
admissions['CGPA_std']=standardize('CGPA')
admissions['GRE_std']=standardize('GRE Score')
admissions['LOR_std']=standardize('LOR')

admissions.head()

,GRE Score,CGPA,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,CGPA_std,GRE_std,LOR_std
0,337,9.65,118,4,4.5,4.5,1,0.92,1.750174,1.755663,1.193197
1,316,8.00,104,3,3.0,3.5,1,0.72,-0.992501,-0.063450,0.076840
2,322,8.67,110,3,3.5,2.5,1,0.80,0.121191,0.456297,-1.039517
3,314,8.21,103,2,2.0,3.0,0,0.65,-0.643433,-0.236698,-0.481338
4,330,9.34,115,5,4.5,3.0,1,0.90,1.234884,1.149292,-0.481338

We will generate the decision choice at random using the code below. Please run the cell.

In [14]:
# Run this code:

from random import choices
std_columns = ['CGPA_std', 'GRE_std', 'LOR_std']

decision_choice = choices(std_columns, k=admissions.shape[0])

Now create the deciding column using the `lookup` function. The lookup column is `decision_choice` found above. Call the column resulting from the lookup function `deciding_column` and add it to the `admissions` dataframe.

In [15]:
# Your code here:
admissions['deciding_column']= admissions.lookup(
admissions.index,
decision_choice)
admissions.head()

,GRE Score,CGPA,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,CGPA_std,GRE_std,LOR_std,deciding_column
0,337,9.65,118,4,4.5,4.5,1,0.92,1.750174,1.755663,1.193197,1.755663
1,316,8.00,104,3,3.0,3.5,1,0.72,-0.992501,-0.063450,0.076840,-0.992501
2,322,8.67,110,3,3.5,2.5,1,0.80,0.121191,0.456297,-1.039517,-1.039517
3,314,8.21,103,2,2.0,3.0,0,0.65,-0.643433,-0.236698,-0.481338,-0.481338
4,330,9.34,115,5,4.5,3.0,1,0.90,1.234884,1.149292,-0.481338,-0.481338

Create a column called `decision` in the `admissions` dataframe. Assign 1 to this column if the value of `deciding_column` is greater than 0.8 and 0 otherwise.

In [16]:
# Your code here:
admissions['decision']=np.where(
    admissions['deciding_column'] > 0.8,#Condition
    '1',#If true, insert value
    '0'
    )
admissions.head(100)

,GRE Score,CGPA,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,CGPA_std,GRE_std,LOR_std,deciding_column,decision
0,337,9.65,118,4,4.5,4.5,1,0.92,1.750174,1.755663,1.193197,1.755663,1
1,316,8.00,104,3,3.0,3.5,1,0.72,-0.992501,-0.063450,0.076840,-0.992501,0
2,322,8.67,110,3,3.5,2.5,1,0.80,0.121191,0.456297,-1.039517,-1.039517,0
3,314,8.21,103,2,2.0,3.0,0,0.65,-0.643433,-0.236698,-0.481338,-0.481338,0
4,330,9.34,115,5,4.5,3.0,1,0.90,1.234884,1.149292,-0.481338,-0.481338,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,322,8.46,107,3,3.5,3.5,1,0.71,-0.227876,0.456297,0.076840,-0.227876,0
96,312,8.12,105,2,2.5,3.0,0,0.64,-0.793033,-0.409947,-0.481338,-0.409947,0
97,314,8.25,106,2,4.0,3.5,0,0.62,-0.576944,-0.236698,0.076840,-0.576944,0
98,317,8.47,104,2,4.5,4.0,0,0.57,-0.211254,0.023175,0.635019,0.023175,0
99,326,9.05,112,3,3.5,3.0,1,0.74,0.752838,0.802794,-0.481338,0.802794,1

How many applicants will be accepted to the program using the decision column? Compute the result below.

In [17]:
# Your code here:
admissions.groupby(['decision']).count()['deciding_column']

decision
0    296
1     89
Name: deciding_column, dtype: int64

# Challenge 3 - Method Chaining

To increase our coding efficiency, let's make a number of changes to our dataframe in one line of code.

In the cell below, remove all non character symbols from the column names, replace all spaces in column names to underscores, and change all upper case characters to lower case. Assign these new column values to `admissions.columns`.

In [18]:
import re
# Your code here:
x=[re.sub('\W','_',i).lower() for i in list(admissions)]
admissions.columns=x
admissions.head()

,gre_score,cgpa,toefl_score,university_rating,sop,lor,research,chance_of_admit,cgpa_std,gre_std,lor_std,deciding_column,decision
0,337,9.65,118,4,4.5,4.5,1,0.92,1.750174,1.755663,1.193197,1.755663,1
1,316,8.00,104,3,3.0,3.5,1,0.72,-0.992501,-0.063450,0.076840,-0.992501,0
2,322,8.67,110,3,3.5,2.5,1,0.80,0.121191,0.456297,-1.039517,-1.039517,0
3,314,8.21,103,2,2.0,3.0,0,0.65,-0.643433,-0.236698,-0.481338,-0.481338,0
4,330,9.34,115,5,4.5,3.0,1,0.90,1.234884,1.149292,-0.481338,-0.481338,0

In the cell below, give all student with a university rating of 4 or higher a 10 point boost on their GRE score and split the column into 4 bins using the `cut` function. Assign this new score to the variable `adjusted_gre`.

In [24]:
# Your code here:
admissions['gre_score']=np.where(
    admissions['university_rating']>= 4,
    admissions['gre_score']+10,
    admissions['gre_score']
)
admissions['adjusted_gre'] = pd.cut(
    admissions['gre_score'],
    4,
    labels = ['Deficient','Average','Good','Excellent']
)
admissions.tail(50)

,gre_score,cgpa,toefl_score,university_rating,sop,lor,research,chance_of_admit,cgpa_std,gre_std,lor_std,deciding_column,decision,adjusted_gre
335,318,8.27,107,3,3.0,3.5,1,0.74,-0.543699,0.109799,0.076840,0.076840,0,Average
336,385,8.67,110,4,3.5,4.0,1,0.73,0.121191,0.716170,0.635019,0.121191,0,Excellent
337,303,8.06,100,2,3.0,3.5,1,0.64,-0.892767,-1.189567,0.076840,0.076840,0,Deficient
338,300,8.17,102,3,3.5,2.5,0,0.63,-0.709922,-1.449440,-1.039517,-1.449440,0,Deficient
339,297,7.67,98,2,2.5,3.0,0,0.59,-1.541036,-1.709313,-0.481338,-1.709313,0,Deficient
340,317,8.12,106,2,2.0,3.5,0,0.73,-0.793033,0.023175,0.076840,0.023175,0,Deficient
341,327,8.77,109,3,3.5,4.0,1,0.79,0.287414,0.889419,0.635019,0.287414,0,Average
342,301,7.89,104,2,3.5,3.5,1,0.68,-1.175346,-1.362815,0.076840,0.076840,0,Deficient
343,314,7.64,105,2,2.5,2.0,0,0.70,-1.590902,-0.236698,-1.597696,-0.236698,0,Deficient
344,321,8.44,107,2,2.0,1.5,0,0.81,-0.261121,0.369672,-2.155874,0.369672,0,Average
345,322,8.64,110,3,4.0,5.0,1,0.85,0.071325,0.456297,1.751376,0.071325,0,Average
346,394,9.54,116,4,4.0,3.5,1,0.93,1.567329,1.495789,0.076840,1.567329,1,Excellent
347,398,9.23,115,5,4.5,5.0,1,0.91,1.052039,1.842287,1.751376,1.052039,1,Excellent
348,306,8.36,103,2,2.5,3.0,0,0.69,-0.394099,-0.929693,-0.481338,-0.481338,0,Deficient
349,313,8.90,102,3,3.5,4.0,1,0.77,0.503504,-0.323323,0.635019,0.503504,0,Deficient
350,390,9.17,114,4,4.5,3.0,1,0.86,0.952305,1.149292,-0.481338,-0.481338,0,Excellent
351,320,8.34,104,3,3.5,4.5,1,0.74,-0.427343,0.283048,1.193197,0.283048,0,Average
352,311,7.46,98,1,1.0,2.5,0,0.57,-1.890103,-0.496571,-1.039517,-1.890103,0,Deficient
353,298,7.88,92,1,2.0,2.0,0,0.51,-1.191968,-1.622689,-1.597696,-1.597696,0,Deficient
354,301,8.03,98,1,2.0,3.0,1,0.67,-0.942634,-1.362815,-0.481338,-0.942634,0,Deficient
355,310,8.24,103,2,2.5,2.5,0,0.72,-0.593566,-0.583196,-1.039517,-1.039517,0,Deficient
356,324,9.22,110,3,3.5,3.0,1,0.89,1.035416,0.629546,-0.481338,1.035416,1,Average
357,396,9.62,119,4,4.5,4.0,1,0.95,1.700307,1.669038,0.635019,1.669038,1,Excellent
358,321,8.54,109,3,3.0,3.0,1,0.79,-0.094898,0.369672,-0.481338,0.369672,0,Average
359,315,7.65,105,2,2.0,2.5,0,0.39,-1.574280,-0.150074,-1.039517,-1.039517,0,Deficient
360,304,7.66,101,2,2.0,2.5,0,0.38,-1.557658,-1.102942,-1.039517,-1.102942,0,Deficient
361,297,7.43,96,2,2.5,2.0,0,0.34,-1.939970,-1.709313,-1.597696,-1.709313,0,Deficient
362,290,7.56,100,1,1.5,2.0,0,0.47,-1.723881,-2.315684,-1.597696,-1.723881,0,Deficient
363,303,7.65,98,1,2.0,2.5,0,0.56,-1.574280,-1.189567,-1.039517,-1.574280,0,Deficient
364,311,8.43,99,1,2.5,3.0,1,0.71,-0.277743,-0.496571,-0.481338,-0.481338,0,Deficient
365,322,8.84,104,3,3.5,4.0,1,0.78,0.403770,0.456297,0.635019,0.456297,0,Average
366,319,8.67,105,3,3.0,3.5,1,0.73,0.121191,0.196424,0.076840,0.076840,0,Average
367,384,9.15,110,4,4.5,4.0,1,0.82,0.919061,0.629546,0.635019,0.629546,0,Excellent
368,300,8.26,100,3,3.0,3.5,0,0.62,-0.560322,-1.449440,0.076840,-0.560322,0,Deficient
369,400,9.74,113,4,5.0,5.0,1,0.96,1.899775,2.015536,1.751376,1.751376,1,Excellent
370,395,9.82,117,5,5.0,5.0,1,0.96,2.032753,1.582414,1.751376,2.032753,1,Excellent
371,302,7.96,101,2,2.5,3.5,0,0.46,-1.058990,-1.276191,0.076840,-1.276191,0,Deficient
372,307,8.10,105,2,2.0,3.5,0,0.53,-0.826278,-0.843069,0.076840,-0.826278,0,Deficient
373,296,7.80,97,2,1.5,2.0,0,0.49,-1.324946,-1.795937,-1.597696,-1.597696,0,Deficient
374,320,8.44,108,3,3.5,4.0,1,0.76,-0.261121,0.283048,0.635019,0.283048,0,Average
375,314,8.24,102,2,2.0,2.5,0,0.64,-0.593566,-0.236698,-1.039517,-0.593566,0,Deficient
376,318,8.65,106,3,2.0,3.0,0,0.71,0.087947,0.109799,-0.481338,-0.481338,0,Average
377,386,9.12,112,4,4.0,3.5,1,0.84,0.869194,0.802794,0.076840,0.869194,1,Excellent
378,317,8.76,104,2,3.0,3.0,0,0.77,0.270792,0.023175,-0.481338,0.270792,0,Deficient
379,389,9.23,111,4,4.5,4.0,1,0.89,1.052039,1.062667,0.635019,1.052039,1,Excellent
380,324,9.04,110,3,3.5,3.5,1,0.82,0.736216,0.629546,0.076840,0.736216,0,Average
381,325,9.11,107,3,3.0,3.5,1,0.84,0.852571,0.716170,0.076840,0.852571,1,Average
382,390,9.45,116,4,5.0,4.5,1,0.91,1.417729,1.149292,1.193197,1.193197,1,Excellent
383,312,8.78,103,3,3.5,4.0,0,0.67,0.304036,-0.409947,0.635019,0.635019,0,Deficient
384,393,9.66,117,4,5.0,4.0,1,0.95,1.766796,1.409165,0.635019,1.766796,1,Excellent