# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import numpy as np
import pandas as pd

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents

In [2]:
# Run this code:

salaries = pd.read_csv('../Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [3]:
# Your code here:
salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [4]:
# Your code here:
salaries.isnull().sum()

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25161
Annual Salary         8022
Hourly Rate          25161
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [5]:
# Your code here:

salaries['Salary or Hourly'].value_counts()

Salary    25161
Hourly     8022
Name: Salary or Hourly, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [8]:
# Your code here:
x =   salaries.pivot_table(
        index=["Department"], 
        values=["Annual Salary"], 
        aggfunc={"Department":len}
    )

x['Department'].nlargest(100)

Department
POLICE                   13414
FIRE                      4641
STREETS & SAN             2198
OEMC                      2102
WATER MGMNT               1879
AVIATION                  1629
TRANSPORTN                1140
PUBLIC LIBRARY            1015
GENERAL SERVICES           980
FAMILY & SUPPORT           615
FINANCE                    560
HEALTH                     488
CITY COUNCIL               411
LAW                        407
BUILDINGS                  269
COMMUNITY DEVELOPMENT      207
BUSINESS AFFAIRS           171
COPA                       116
BOARD OF ELECTION          107
DoIT                        99
PROCUREMENT                 92
INSPECTOR GEN               87
MAYOR'S OFFICE              85
CITY CLERK                  84
ANIMAL CONTRL               81
HUMAN RESOURCES             79
CULTURAL AFFAIRS            65
BUDGET & MGMT               46
ADMIN HEARNG                39
DISABILITIES                28
TREASURER                   22
HUMAN RELATIONS             16
BOARD OF ETHICS              8
POLICE BOARD                 2
LICENSE APPL COMM            1
Name: Department, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [10]:
# Your code here:
def decimal_str(x: float, decimals: int = 10) -> str:
    return format(x, f".{decimals}f").lstrip().rstrip('0')

def interpret(alpha, p_val):
    print(f"Probability results occurred by chance: {decimal_str(p_val, 30)}.\nIs our p-value less than the alpha? {'Yes. We reject the null hypothesis!' if p_val < alpha else 'No. Our null hypothesis is correct.'}")
    



from scipy.stats import ttest_1samp

salaries.columns=[col.replace(' ','_')for col in salaries]

alpha = 0.05

expected_mean = 30

hourly_rate = salaries[salaries['Hourly_Rate'].notna()]['Hourly_Rate']

p_val = ttest_1samp(hourly_rate,expected_mean)[1]

print(p_val)
          
p_val < 0.05 #True
          
interpret(alpha, p_val)

4.3230240486229894e-92
Probability results occurred by chance: 0..
Is our p-value less than the alpha? Yes. We reject the null hypothesis!

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [21]:
# Your code here:

last_year_mean = 86000

# this_year_mean = salaries['Annual Salary'].mean()

from scipy.stats import ttest_1samp

salaries.columns=[col.replace(' ','_')for col in salaries]

alpha = 0.05

expected_mean = 86000

annual_salary = salaries[salaries['Annual_Salary'].notna()]['Annual_Salary']

p_val = ttest_1samp(annual_salary,expected_mean)[1]

print(p_val / 2)  #5.93 Check with Yailin
          
interpret(alpha, p_val) 

p_val / 2 < 0.05 #True

1.507879259958193e-09
Probability results occurred by chance: 0.000000003015758519916386060567.
Is our p-value less than the alpha? Yes. We reject the null hypothesis!

True

Using the `crosstab` function, find the department that has the most hourly workers.

In [12]:
# Your code here:
table = pd.crosstab(salaries['Hourly_Rate'], salaries['Department'])
table.sum()

Department
ANIMAL CONTRL              19
AVIATION                 1082
BUDGET & MGMT               2
BUSINESS AFFAIRS            7
CITY COUNCIL               64
COMMUNITY DEVELOPMENT       4
CULTURAL AFFAIRS            7
FAMILY & SUPPORT          287
FINANCE                    44
FIRE                        2
GENERAL SERVICES          765
HEALTH                      3
HUMAN RESOURCES             4
LAW                        40
MAYOR'S OFFICE              8
OEMC                     1273
POLICE                     10
PROCUREMENT                 2
PUBLIC LIBRARY            299
STREETS & SAN            1862
TRANSPORTN                725
WATER MGMNT              1513
dtype: int64

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [13]:
# Your code here:

from scipy.stats import ttest_1samp

sts = salaries.query("Department == 'STREETS & SAN'")

sts_hourly = sts[sts['Hourly_Rate'].notna()]['Hourly_Rate']
sts_hourly.mean()

p_val = ttest_1samp(sts_hourly,35)[1]

p_val / 2

1.6689265282353859e-21

# Challenge 3 - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [23]:
# Your code here:
from scipy.stats import t, sem

sample = salaries[(salaries['Salary_or_Hourly'] == 'Hourly')]['Hourly_Rate']
lower, upper = t.interval(
    1 - alpha, #confidence level
    len(sample) - 1, # degrees of freedom
    loc = sample.mean(), # sample mean
    scale = sem(sample) # sample SEM
)
lower, upper

(32.52345834488529, 33.05365708767727)

### Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [24]:
# Your code here:
from scipy.stats import t, sem

sample = salaries[(salaries['Salary_or_Hourly'] == 'Salary')]['Annual_Salary']

lower, upper = t.interval(
    1 - alpha, #confidence level
    len(sample) - 1, # degrees of freedom
    loc = sample.mean(), # sample mean
    scale = sem(sample) # sample SEM
)
lower, upper

(86526.99656774197, 87047.0030125611)

# Challenge 4 - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [22]:
# Your code here:

from statsmodels.stats.proportion import proportions_ztest

# 

p_val = proportions_ztest(
    salaries[(salaries['Salary_or_Hourly'] == 'Hourly')]['Hourly_Rate'].count(), #number of workers working hourly
    salaries['Salary_or_Hourly'].count(), # number of total observations
    0.25 #Probability to which we're comparing the number of workers working hourly
)[1]/ 2 # one-sided t-test

p_val

0.00022405636245289835