# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [2]:
# import numpy and pandas
import numpy as np
import pandas as pd

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents

In [3]:
# Run this code:

salaries = pd.read_csv('../Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [4]:
# Your code here:
salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [6]:
# Your code here:
salaries.isna().sum()

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25161
Annual Salary         8022
Hourly Rate          25161
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [23]:
# Your code here:
salaries.columns = [column.replace(' ', '_') for column in salaries.columns]
# hour_vs_sal = salaries.query('Salary_or_Hourly == "Salary" or Salary_or_Hourly == "Hourly"')

print("The number of salaried employees is " + str(len(salaries[salaries.Salary_or_Hourly == 'Salary'])))
print("The number of hourly employees is " + str(len(salaries[salaries.Salary_or_Hourly == 'Hourly'])))

The number of salaried employees is 25161
The number of hourly employees is 8022

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [25]:
# Your code here:
print(salaries.groupby('Department')['Name'].count())

Department
ADMIN HEARNG                39
ANIMAL CONTRL               81
AVIATION                  1629
BOARD OF ELECTION          107
BOARD OF ETHICS              8
BUDGET & MGMT               46
BUILDINGS                  269
BUSINESS AFFAIRS           171
CITY CLERK                  84
CITY COUNCIL               411
COMMUNITY DEVELOPMENT      207
COPA                       116
CULTURAL AFFAIRS            65
DISABILITIES                28
DoIT                        99
FAMILY & SUPPORT           615
FINANCE                    560
FIRE                      4641
GENERAL SERVICES           980
HEALTH                     488
HUMAN RELATIONS             16
HUMAN RESOURCES             79
INSPECTOR GEN               87
LAW                        407
LICENSE APPL COMM            1
MAYOR'S OFFICE              85
OEMC                      2102
POLICE                   13414
POLICE BOARD                 2
PROCUREMENT                 92
PUBLIC LIBRARY            1015
STREETS & SAN             2198
TRANSPORTN                1140
TREASURER                   22
WATER MGMNT               1879
Name: Name, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [39]:
# Your code here:
# H0 is that the hourly wage for all hourly workers is not statistically different from 30.
mu = 30
alpha = (1 - 0.95) # to account for greater or less than
wages = salaries.Hourly_Rate.dropna() # dropping the null values
n = len(salaries[salaries.Salary_or_Hourly == 'Hourly']) - 1 # all hourly workers minus 1

from scipy.stats import ttest_1samp # one-sample t-test

p_val = ttest_1samp(
    wages, # observations
    mu, # the expected mean
)[1] # grab the p-value back from that, divided by two

print(p_val) # returns 4.3230240486229894e-92, an extremely small value, so we REJECT the Null Hypothesis. We do believe that there is a statistically significant difference between the hourly wage and 30.

4.3230240486229894e-92

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [85]:
# Your code here:
mu = 86000
alpha = (1 - 0.95)
wages = salaries.Annual_Salary.dropna()
# print("The mean Annual Salary this year is " + str(salaries.Annual_Salary.mean())) # returns $86,787, so this year salaries are higher, based on this sample
# H0 = There is no statistically significant difference from last year's salary to this year
# divide the p-value by two, since we are looking specifically at a one-sided test, GREATER THAN

p_val = ttest_1samp(
    wages, # observations
    mu, # expected mean
)[1] / 2 # grab the p-value, divided by 2 because its a one-tail test

print(p_val) # returns 3.015758519916386e-09, so we REJECT the Null Hypothesis. We do believe that the salaries this year are greater than last year.

t_stat = ttest_1samp(
    wages, # observations
    mu, # expected mean
)[0] # grab the p-value, divided by 2 because its a one-tail test
print(t_stat)

1.507879259958193e-09
5.932870515690814

Using the `crosstab` function, find the department that has the most hourly workers.

In [50]:
# Your code here:
# compare count of hourly works by department
cross_df = pd.crosstab(salaries.Department, salaries['Salary_or_Hourly'])


# print(df[df.Points == df.Points.max()]) 
print(cross_df[cross_df.Hourly == cross_df.Hourly.max()]) # wee see that Streets and Sanitation is the Department with the most Hourly workers

Salary_or_Hourly  Hourly  Salary
Department
STREETS & SAN       1862     336

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [86]:
# Your code here:

# one-sided, 
mu = 35 # target
# wages = salaries.[salaries['Department'] == 'STREETS & SAN']['Hourly_Rate']
wages = salaries.query("Department == 'STREETS & SAN'")

# df = df[np.isfinite(df['EPS'])]
# wages = wages[pd.notnull(wages['Hourly_Rate'])]
# print(wages.head())

# df.dropna(subset=[1])
wages = wages.dropna(subset = ['Hourly_Rate'])
# print(wages.head())

p_val = ttest_1samp(
    wages['Hourly_Rate'],
    mu,
)[1] / 2 # because one-sided again!

print(p_val) # returns 1.6689265282353859e-21, so we REJECT the Null Hypothesis!

print(wages['Hourly_Rate'].mean())

1.6689265282353859e-21
33.728378088076845

# Challenge 3 - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [69]:
# Your code here:

# 95% confidence interval for the mean hourly wage of all hourly workers
n = len(salaries[salaries.Salary_or_Hourly == 'Hourly'])
wages = (salaries[salaries.Salary_or_Hourly == 'Hourly'])['Hourly_Rate'] # hourly_rate of all hourly workers
# print(wages) # returns 32.78855771628128

from scipy.stats import t, sem

lower, upper = t.interval( # returns a tuple, so unpack it two different variables, lower and upper
    1 - alpha, # confidence level
    n - 1, # degrees of freedom, sample size minus one
    loc = wages.mean(), # sample mean
    scale = sem(wages), # standard error of the mean for the sample
)

print(lower, upper) # returns (32.52345834488529, 33.05365708767727)
# so we are 95% confident that the true population mean of the hourly wage of all hourly workers is between $32.5/hour and $33/hour

32.52345834488529 33.05365708767727

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [81]:
# Your code here:

# 95% confidence interval for the mean annual salary of salaried workers in the police department
# n = len(salaries[[(salaries.Salary_or_Hourly == 'Salary') & (salaries.Department == 'POLICE')]])
# df[df['first_name'].notnull() & (df['nationality'] == "USA")]
n = len(salaries[ (salaries['Salary_or_Hourly'] == 'Salary') & (salaries['Department'] == 'POLICE') ])
# print(len(n)) # returns 13,404

# wages = salaries[[salaries.Salary_or_Hourly == 'Salary' & salaries.Department == 'POLICE']]['Annual_Salary'] # Salaries of all salaried workers in the police department
# print(wages) # returns 
wages = salaries[ (salaries['Salary_or_Hourly'] == 'Salary') & (salaries['Department'] == 'POLICE') ].Annual_Salary
# print(wages.head())

from scipy.stats import t, sem

lower, upper = t.interval( # returns a tuple, so unpack it two different variables, lower and upper
    1 - alpha, # confidence level
    n - 1, # degrees of freedom, sample size minus one
    loc = wages.mean(), # sample mean
    scale = sem(wages), # standard error of the mean for the sample
)

print(lower, upper) # returns (86177.05631531784, 86795.77269094894)
# so we are 95% certain that the true population mean of the annual salary of all salaried employees in the police department is between $86,177 and $86,795

86177.05631531784 86795.77269094894

# Challenge 4 - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [87]:
# Your code here:

# number of hourly workers 

from statsmodels.stats.proportion import proportions_ztest

p_val = proportions_ztest(
    len(salaries[salaries.Salary_or_Hourly == 'Hourly']), # number of HOURLY workers
    len(salaries), # number of TOTAL workers
    0.25, # target we are aiming for
)[1]

print(p_val) # returns 0.0004481127249057967, so we REJECT the Null Hypothesis that there is no statistically significant difference between the % hourly workers in the City of Chicago , because the p-value of the proportions ztest is below the alpha of 0.05

0.0004481127249057967