# Challenge 3

In this challenge we will work on the `Orders.csv` data set in the previous [Subsetting and Descriptive Stats lab](../../lab-subsetting-and-descriptive-stats/your-code/main.ipynb). In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

# Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [2]:
# import required libraries
import numpy as np
import pandas as pd

Next, import `Orders.csv` from the "subsetting" lab folder into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [3]:
# enter your code here
orders = pd.read_csv("/Users/anielkaaslan/Documents/data-labs/module-2/lab-subsetting-and-descriptive-stats/your-code/Orders.zip")
orders.head()

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [7]:

orders.groupby('CustomerID')['amount_spent'].sum().head()

CustomerID
12346    77183.60
12347     4310.00
12348     1797.24
12349     1757.55
12350      334.40
Name: amount_spent, dtype: float64

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

# Q2: How to identify which country has the most VIP Customers?

# Q3: How to identify which country has the most VIP+Preferred Customers combined?

Provide your solution for Q2 below:

In [10]:

customers = orders.groupby(['CustomerID', 'Country'])['amount_spent'].sum().reset_index()
customers.head()

   CustomerID         Country  amount_spent
0       12346  United Kingdom      77183.60
1       12347         Iceland       4310.00
2       12348         Finland       1797.24
3       12349           Italy       1757.55
4       12350          Norway        334.40

In [12]:
customers['CAT'] = pd.qcut(  
    customers['amount_spent'],
    [0, .75, .95, 1], 
    labels = ['Standard', 'Preferred', 'VIP']
)
customers.head()

   CustomerID         Country  amount_spent        CAT
0       12346  United Kingdom      77183.60        VIP
1       12347         Iceland       4310.00  Preferred
2       12348         Finland       1797.24  Preferred
3       12349           Italy       1757.55  Preferred
4       12350          Norway        334.40   Standard

In [17]:
pd.crosstab(
    customers['Country'],
    customers['CAT']
).sort_values(by = 'VIP', ascending = False)

CAT                   Standard  Preferred  VIP
Country
United Kingdom            2987        756  178
Germany                     55         28   11
France                      58         20    9
Switzerland                 12          6    3
Spain                       23          5    2
Japan                        4          2    2
Portugal                    12          5    2
EIRE                         0          1    2
Netherlands                  8          0    1
Singapore                    0          0    1
Finland                      7          4    1
Australia                    5          3    1
Denmark                      6          2    1
Sweden                       6          1    1
Cyprus                       5          2    1
Channel Islands              5          3    1
Norway                       3          6    1
Saudi Arabia                 1          0    0
RSA                          1          0    0
USA                          4          0    0
United Arab Emirates         2          0    0
Poland                       5          1    0
Italy                        9          5    0
Malta                        1          1    0
Lithuania                    1          0    0
Lebanon                      0          1    0
Austria                     10          1    0
Israel                       1          2    0
Iceland                      0          1    0
Greece                       3          1    0
European Community           1          0    0
Czech Republic               1          0    0
Canada                       3          1    0
Brazil                       1          0    0
Belgium                     14         11    0
Bahrain                      2          0    0
Unspecified                  4          0    0

In [19]:
x = pd.crosstab(
    customers['Country'],
    customers['CAT']
).sort_values(by = 'VIP', ascending = False)
x.columns
x['Prefereed + VIP'] = x.get_dummies(x['Preferred'] + x['VIP'])

AttributeError: 'DataFrame' object has no attribute 'get_dummies'