# Challenge 3

In this challenge we will work on the `Orders.csv` data set in the previous [Subsetting and Descriptive Stats lab](../../lab-subsetting-and-descriptive-stats/your-code/main.ipynb). In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

# Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [1]:
# import required libraries
import numpy as np
import pandas as pd

Next, import `Orders.csv` from the "subsetting" lab folder into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [2]:
# enter your code here
orders = pd.read_csv("../../lab-subsetting-and-descriptive-stats/your-code/Orders.csv")
orders.head()

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [6]:
# your code here
# Sub Problem 1: How to aggregate the amount_spent for unique customers?
# ran orders.describe()
# and orders.shape

# reviewing the data, each customer has unique customer id.
# so group by the unique customer id, and sum the 'amount_spent' column from those rows

orders.groupby('CustomerID')['amount_spent'].sum()

CustomerID
12346    77183.60
12347     4310.00
12348     1797.24
12349     1757.55
12350      334.40
12352     2506.04
12353       89.00
12354     1079.40
12355      459.40
12356     2811.43
12357     6207.67
12358     1168.06
12359     6372.58
12360     2662.06
12361      189.90
12362     5226.23
12363      552.00
12364     1313.10
12365      641.38
12367      168.90
12370     3545.69
12371     1887.96
12372     1298.04
12373      364.60
12374      742.93
12375      457.50
12377     1628.12
12378     4008.62
12379      852.24
12380     2724.81
           ...
18242     2232.49
18245     2567.06
18246      596.10
18248      804.02
18249       95.34
18250      349.27
18251     4314.72
18252      526.67
18255      103.30
18257     2337.63
18259     2338.60
18260     2643.20
18261      324.24
18262      149.48
18263     1213.16
18265      801.51
18268       25.50
18269      168.60
18270      283.15
18272     3078.58
18273      204.00
18274      175.92
18276      335.86
18277      110.38
18278      173.90
18280      180.60
18281       80.82
18282      178.05
18283     2094.88
18287     1837.28
Name: amount_spent, Length: 4339, dtype: float64

In [26]:
#  Sub Problem 2: How to select customers whose aggregated amount_spent is in a given quantile range?
# thought process: grab the quartile values for within the Series itself. 
# and then df.eval() the specific range?
# no probably better to create new column of the quartiles, and then bin that with pd.cut. 
# then its easy to subset my df by those categorical values
# VIP > 0.95
# Preferred 0.95 >= x > 0.75
# .quantile(0.95)

In [27]:
#grab the 95th percentile
_95th = orders.groupby('CustomerID')['amount_spent'].sum().quantile(0.95)
_95th

5840.181999999983

In [28]:
# grab the 75th percentile
_75th = orders.groupby('CustomerID')['amount_spent'].sum().quantile(0.75)
_75th

1661.6400000000003

In [75]:
#  Sub Problem 3: How to label selected customers as "VIP" or "Preferred"? 
# plan for this is a nested np.where, conditional of the quartile values > 0.95, and the else being in between 0.95 and 0.75

orders['Cust_level'] = np.where(
    orders.groupby('CustomerID')['amount_spent'] > _95th, # conditional # do I need to .groupby('CustomerID') first?
    'VIP', # return VIP if amount spent greater than
    np.where(
        (orders.groupby('CustomerID')['amount_spent'] <= _95th) & (orders.groupby('CustomerID')['amount_spent'] >= _75th),
        'Preferred',
        'Regular'
    )
)

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [32]:
orders.head()

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent,Cust_level
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30,Regular
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,Regular
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00,Regular
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,Regular
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,Regular

In [48]:
# orders[
#     orders.groupby('CustomerID')['Cust_level'] == 'VIP'
# ]
# orders.groupby('CustomerID')['Cust_level'].head()

# orders.groupby('CustomerID')[
#     orders['Cust_level'] == 'VIP'
# ]

In [47]:
# FIRST filter down to VIP, THEN do the Groupby
orders[
    orders['Cust_level'] == 'VIP'
].groupby('CustomerID').apply(print)

       Unnamed: 0  InvoiceNo StockCode  year  month  day  hour  \
37126       61619     541431     23166  2011      1    2    10

                          Description  Quantity          InvoiceDate  \
37126  medium ceramic top storage jar     74215  2011-01-18 10:01:00

       UnitPrice  CustomerID         Country  amount_spent Cust_level
37126       1.04       12346  United Kingdom       77183.6        VIP
       Unnamed: 0  InvoiceNo StockCode  year  month  day  hour  \
37126       61619     541431     23166  2011      1    2    10

                          Description  Quantity          InvoiceDate  \
37126  medium ceramic top storage jar     74215  2011-01-18 10:01:00

       UnitPrice  CustomerID         Country  amount_spent Cust_level
37126       1.04       12346  United Kingdom       77183.6        VIP
        Unnamed: 0  InvoiceNo StockCode  year  month  day  hour  \
155418      222680     556444     22502  2011      6    5    15

                           Description  Quantity          InvoiceDate  \
155418  picnic basket wicker 60 pieces        60  2011-06-10 15:28:00

        UnitPrice  CustomerID         Country  amount_spent Cust_level
155418      649.5       15098  United Kingdom       38970.0        VIP
        Unnamed: 0  InvoiceNo StockCode  year  month  day  hour  \
32732        52711     540815     21108  2011      1    2    12
109624      160546     550461     21108  2011      4    1    13

                               Description  Quantity          InvoiceDate  \
32732   fairy cake flannel assorted colour      3114  2011-01-11 12:55:00
109624  fairy cake flannel assorted colour      3114  2011-04-18 13:20:00

        UnitPrice  CustomerID         Country  amount_spent Cust_level
32732         2.1       15749  United Kingdom        6539.4        VIP
109624        2.1       15749  United Kingdom        6539.4        VIP
        Unnamed: 0  InvoiceNo StockCode  year  month  day  hour Description  \
118352      173382     551697      POST  2011      5    2    13     postage

        Quantity          InvoiceDate  UnitPrice  CustomerID         Country  \
118352         1  2011-05-03 13:46:00    8142.75       16029  United Kingdom

        amount_spent Cust_level
118352       8142.75        VIP
        Unnamed: 0  InvoiceNo StockCode  year  month  day  hour  \
397451      540421     581483     23843  2011     12    5     9

                        Description  Quantity          InvoiceDate  UnitPrice  \
397451  paper craft , little birdie     80995  2011-12-09 09:15:00       2.08

        CustomerID         Country  amount_spent Cust_level
397451       16446  United Kingdom      168469.6        VIP
        Unnamed: 0  InvoiceNo StockCode  year  month  day  hour  \
248706      348325     567423     23243  2011      9    2    11

                                Description  Quantity          InvoiceDate  \
248706  set of tea coffee sugar tins pantry      1412  2011-09-20 11:05:00

        UnitPrice  CustomerID         Country  amount_spent Cust_level
248706       5.06       17450  United Kingdom       7144.72        VIP

Empty DataFrame
Columns: []
Index: []

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

# Q2: How to identify which country has the most VIP Customers?

# Q3: How to identify which country has the most VIP+Preferred Customers combined?

Provide your solution for Q2 below:

In [51]:
# your code here

# df.groupby('Usage')['Freq'].agg(['mean', 'median', 'count'])

orders.groupby('Cust_level')['Country'].count()

Cust_level
Preferred       125
Regular      397792
VIP               7
Name: Country, dtype: int64

In [52]:
# try the other direction
orders['Country'].groupby(orders.Cust_level).count()

Cust_level
Preferred       125
Regular      397792
VIP               7
Name: Country, dtype: int64

In [73]:
orders.sort_values(by = 'Country', ascending = False).groupby('Cust_level').max()

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
Cust_level,,,,,,,,,,,,,,
Preferred,540061,581457,M,2011,12,7,20,wood black board ant white finish,4300,2011-12-08 18:43:00,4161.06,18102,United Kingdom,4992.0
Regular,541908,581587,POST,2011,12,7,20,zinc wire sweetheart letter tray,12540,2011-12-09 12:50:00,1599.26,18287,Unspecified,1656.0
VIP,540421,581483,POST,2011,12,5,15,set of tea coffee sugar tins pantry,80995,2011-12-09 09:15:00,8142.75,17450,United Kingdom,168469.6

Looking at the Cust_level == VIP row, we see the Country within is "United Kingdom". 
That's the Country with the most number of VIP customers.

## Q3 - How do we identify which country has the most number of combined Preferred and VIP customers?

Looking at the above chart, we see that the United Kingdom has both the highest number of Preferred and VIP customers. It stands to reason that they are also our answer for this question.